   /*==========  MEDIA QUERIES  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
/*
		#setupcontainer {
			width: 918px;
			padding-left: 13px;
			padding-right: 0px;
		}
*/
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

		.simulator-summary .nasba-text .fa {
			width: 26px;
		}
	    .show-only-checkbox {
			width: 30px;
			margin-top: 2px;
		}
/*	    .copyright {
		    color: blue;
	    }
		#setupcontainer {
			width: 918px;
			padding-left: 13px;
			padding-right: 0px;
		}
*/
		.banner.container.upper-header {
			width: 918px;
		}
		.container.content-container {
			width: 918px;
		}
		.pull-left .pin-inner-wrapper {
			padding-right: 0;
			float: none;
		}
		.pull-right .pin-inner-wrapper {
			padding-left: 0;
			float: none;
		}
		.quiz-chapter.pin.pull-left,
		.quiz-chapter.pin.pull-right {
			float: none;
		}
		.quiz-chapter.pin:nth-child(even) h3.lead.small {
		    margin-left: 0;
		    margin-right: 0;
		}
		.scroller-sticker-button {
		    right:30px;
		}
		.scroller-sticker-button .btn-orange-big {
		    margin-left: 0px;
		}
		
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

/*		
		#setupcontainer {
			width: 750px;
			padding-left: 13px;
			padding-right: 0px;
		}
		.pull-left .pin-inner-wrapper {
			padding-right: 0;
		}
		.pull-right .pin-inner-wrapper {
			padding-left: 0;
		}    
		.copyright {
		    color: red;
	    }
*/
		.simulator-summary .nasba-text .fa {
			width: 26px;
		}
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
/*
		#setupcontainer {
			width: 440px;
		}
		
		.pull-left .pin-inner-wrapper {
			padding-right: 0;
		}
		.pull-right .pin-inner-wrapper {
			padding-left: 0;
		}
*/
		.simulator-summary .nasba-text .fa {
			width: 26px;
		}
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
/* 
		#setupcontainer {
			width: 290px;
		}   
		.pull-left .pin-inner-wrapper {
			padding-right: 0;
		}
		.pull-right .pin-inner-wrapper {
			padding-left: 0;
		}
*/    
		.simulator-summary .nasba-text .fa {
			width: 26px;
		}
    }