/*body{
    max-width: 1200px;
    margin: 0 auto;
}*/

li.ng-scope{
  padding: 1% 0;
}

.notesFormContainer.col-md-9{
  margin-top: 1%;
}

.text-center.timer-img{
  margin: 4% 0;
}

h3.top-heading.ng-binding{
	color:#363636;
  /*margin-left: 2%;*/
}

h4.sub-heading.ng-binding{
	color: #85949a;
	font-size: 2em;
  padding-top: 1.5%;
}

.quiz-creation-step-2 h4.sub-heading.ng-binding{
  padding-left: 0;
}

p.blurb{
	color: #555555;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 2.5%;
  width: 80%;
}

i.link.pull-left.fa.fa-square-o{
	margin-top: 0.1em;
  font-size: 1.3em;
  margin-right: 1.3%;
  color: #e1e1e1;
}

i.link.pull-left.fa.fa-check-square{
	margin-top: 0.1em;
  font-size: 1.3em;
  margin-right: 1.25%;
}

.student-name{
  display: inline-block;
}
.chapter-info i.fa.pull-left.fa-square-o{
  font-size: 1.5em;
  color: #e1e1e1;
  height: 78px;
}

.chapter-info:hover i.fa.pull-left.fa-square-o{
  color: #28a9e0;

}


i.pull-left.checked-square{
	margin-top: 0.1em;
  font-size: 1.42em;
  margin-right: 1.2%;
  background-image: url("../img/checked_yellow.jpg");
  background-repeat: no-repeat;
  width: 25px;
  height: 78px;
  margin-bottom: 2%;
}


.chapter-info span.chapter-name.ng-binding{
	margin-top: 1.5%;
  margin-left: 2.5%;
  line-height: 1.7em;
}


.chapter-info span.chapter-total.ng-binding{
	float: none;
  font-size: .6em;
  color: #999999;
  padding: 10px;
}


.chapter-border{
  border-top: 1px solid #ddd;
  padding-top: 8px;
}

span.pull-right{
	padding-right: 8%;
}
.stroller-sticker span.pull-right{
  padding-right: 15px;
}

button.btn.btn-arrow.disabled.pull-right,
button.btn.btn-arrow.blue.pull-right,
button.btn.btn-arrow.blue{
  width: 77px;
  height: 40px;
  position: relative;
  border-bottom-left-radius:2px;
  border-top-left-radius:2px;
}

button.btn.btn-arrow.disabled.pull-right:after{
	content: "";
  position: absolute;
  left: 101%;
  top: -1px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #999;
  border-bottom: 20px solid transparent;
}

button.btn.btn-arrow.blue.pull-right:after,
button.btn.btn-arrow.blue:after{
	content: "";
  position: absolute;
 	left: 101%;
  top: -1px;
 	width: 0;
 	height: 0;
 	border-top: 20px solid transparent;
 	border-left: 15px solid #29ABE2;
  border-bottom: 20px solid transparent;
}

button.btn.btn-arrow.gray{
  width: 77px;
  height: 40px;
  position: relative;
  border-bottom-right-radius:2px;
  border-top-right-radius:2px;
}

button.btn.btn-arrow.gray:before{
  content: "";
  position: absolute;
  right: 101%;
  top: -1px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 15px solid #666;
  border-bottom: 20px solid transparent;
}

.choose-chapters-sticky.scroller-sticker{
  top: 78px;
  padding-top: 2.5%;
  padding-left: 720px;
  position: fixed;
  background: transparent;
}


.container.quiz-creation-step-2 #quiz-pick-topics-container p{
  font-size: 1.2em;
  white-space: nowrap !important;
  color: #555555;
  margin-right: 35px;
  position: relative;

}

/*span.text-muted{
  margin-left: -68px;
}*/

.container.quiz-creation-step-2.row.container.quiz-creation-step-2.selected-sections.ng-scope{
  padding: 0 3%;
}

.container.quiz-creation-step-2 .quiz-chapter-mini .chapter-number{
  border:none;
}

div.row.container.quiz-creation-step-2.selected-sections.ng-scope > div > div > div > div{
  padding: 1% 0;
  border-top: 1px solid #e9e9e9;
  margin:0 1%;
}

.container.quiz-creation-step-2 .chapter-info span.chapter-name.ng-binding{
  margin-left: 0;
}

div.row.container.quiz-creation-step-3.summary.ng-scope > div > div.row.text-left > div.col-md-12 > span{
  font-size: 1.5em;
  font-weight: bold;
}

div.row.container.quiz-creation-step-3.additional-options.ng-scope{
  padding: 1% 4% 4%;
}

div.row.container.quiz-creation-step-3.additional-options.ng-scope > div > span{
  color:#85949a;
}

div.row.container.quiz-creation-step-3.summary.ng-scope > div > div.quizlet-summary.pull-left.text-left > ul{
  list-style: disc;
  padding: 0 0 0 9%;
  white-space: nowrap;
}

div.row.container.quiz-creation-step-3.additional-options .border-line{
  border-bottom: 1px solid #ddd;
  width: 100%;
  margin: 8px auto 15px;
}

div.row.container.quiz-creation-step-3 .session-name{
  font-size: 24px;
  font-weight: bold;
}

.question-page .instructions-beginquiz.pull-right{

}

.question-page button.btn.btn-orange-big{
  top: 105px;
  right: 50%;
  width: auto;
  position: fixed;
  margin-right: -444px;
  vertical-align: middle;
}

.instructions-beginquiz.scroller-sticker{
  padding-top: 0px;
  width: 10%;
  top: 190px;
  right: 19.5%;
  background: transparent;
  position: fixed;
}

.quiz-creation-step-2 .choose-quiz-type-sticky.scroller-sticker{
  margin-left: 700px;
}

.choose-quiz-type-sticky.scroller-sticker{
  width: 170px;
  margin-left: 47.6%;
  top: 100px;
}
.quiz-creation-step-3 span.session-type{
  padding-left: 6%;
}

div.row.container.quiz-creation-step-3.additional-options.ng-scope > div.row.text-left{
  padding-left: 0%;
}

div.instructions-container > h1{
  padding-left: 2%;
}

ul.nav.nav-list.bs-docs-sidenav.affix{
  background-color: #fff;
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px #e1e1e1 solid;
  margin-top: 26px;
}

ul.nav.nav-list.bs-docs-sidenav.affix li{
  color:#565656;
  padding:2%;
}

ul.nav.nav-list.bs-docs-sidenav.affix li:hover,
ul.nav.nav-list.bs-docs-sidenav.affix li:active{
  background-color: #28a9e0;
  color: #fff !important;

}

ul.nav.nav-list.bs-docs-sidenav.affix li > a{
  border: none;
  border-radius: 0;
  color:#565656;
}


ul.nav.nav-list.bs-docs-sidenav.affix li > a:hover,
ul.nav.nav-list.bs-docs-sidenav.affix li > a:active{
  background-color: #28a9e0;
  color: #fff !important;
}

.bs-docs-sidenav .fa.fa-chevron-right{
  color:#565656;
  margin-top: 2%;
}

ul.nav.nav-list.bs-docs-sidenav.affix li:hover i.fa.fa-chevron-right{
  color: #fff;
}

.modal .modal-footer .btn.btn-orange-big{
  width: 25%;
}

.modal .modal-footer .btn-cancel{
  width: 25%;
  color:#28a9e0 !important;
  padding: 2.5% 0;
  margin: 1% 0 0 0;
}

#question > div.question-area.timer-hidden > div.q-right-tools > div > div.next-question-wrapper{
  position: fixed;
}

.session-metadata .subtitle{
  font-style: normal;
  font-family: inherit;
  font-size: 18px;
  color:#020202;
  margin-top: 2%;
}

i.fa.fa-pencil{
  letter-spacing: 8px;
}
.help-link, .help-link:hover, .help-link:visited{
  font-weight: normal;
}

.score-history span.session-type,
.score-history span.created-on-timestamp.ng-binding{
  color: #656565;
}

.score-history div.pull-right.btn-review-history{
  width: 38%;
  margin-top: -1%;
}
.score-history div.pull-right.btn-review-history button.btn.btn-ice{
  margin: 0 0 0 1%;
  padding: 5%;
  width: 31%;
  text-align: center;
  color: #2daade;
  letter-spacing: 2px;
  font-size: 12px;

}

.score-history button.btn-ice,
button.btn-ice.pull-right,
button.btn-ice{
  color: #2daade;
  letter-spacing: 2px;
  font-size: 12px;
}

.score-history .session-metadata.clearfix{
  width: 50%;
}

.score-history .pull-right.score-history{
  position: relative;
  top: 28px;
  left: 68px;
}

.text-right.btn-review-history{
  width: 50%;
  position: relative;
  top: -45px;
  left: 59%;
  margin: 0;
}

.score-history .session-entry.well.col-md-offset-1.col-md-10.ng-scope{
  margin: 0;
  padding: 0 0 0 3%;
  border: none;
  box-shadow: none;
}

.score-history  button.btn.btn-bin.pull-right.clearfix{
  background: url("../img/sprites.png") 0px -414px no-repeat;
  position: relative;
  top: -50px;
  left: 94px;
  width: 68px;
  height: 25px;
}

div.row.container.final-score.summary.ng-scope{
  padding-top: 6%;
  padding-left: 0;
  padding-right: 0;
}

div.row.container.final-score.summary .sub-heading-name {
  font-size: 2em;
  font-weight: bold;
}
.final-score-category-title{
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: lighter;
}
.final-score-category-title:nth-child(1){
  margin-top: 20px;
}

h4.quizlet-repeat-title.text-left.row.col-md-12.ng-binding{
  font-weight: lighter;
}

div.row.container.final-score.summary a.pull-left.help-link{
  padding-top: 1%;
}


div.row.container.final-score.section-breakdown h3{
  padding-left: 2%;
  font-size: 2em;
}

div.row.container.final-score.section-breakdown.ng-scope  div.quiz-chapter.pin.ng-scope.pull-left h3.lead.small{
  padding-left: 0;
}


div.row.container.final-score.section-breakdown.ng-scope .quiz-chapter.pin.ng-scope.pull-left,
 div.row.container.final-score.section-breakdown.ng-scope .quiz-chapter.pin.ng-scope.pull-right{
  width: 48%;
}



div.row.container.final-score.section-breakdown.ng-scope .pin-container{
  width: 96%;
  border-top: 1px solid #ddd;
  margin: 0 2%;
}


div.row.container.final-score.summary.ng-scope div.question-categories.row.text-center .sprite-checkmark{
  background: transparent url("../img/sprites.png") -8px -285px no-repeat;
}

div.row.container.final-score.summary.ng-scope div.question-categories.row.text-center .sprite-x{
  background: transparent url("../img/sprites.png") -82px -284px no-repeat;
}

div.row.container.final-score.summary.ng-scope div.question-categories.row.text-center .sprite-question{
  background: transparent url("../img/sprites.png") -154px -282px no-repeat;
}

div.row.container.final-score.summary.ng-scope div.question-categories.row.text-center .sprite-flag{
  background: transparent url("../img/sprites.png") -216px -285px no-repeat;
}

div.row.container.final-score.summary.ng-scope div.question-categories.row.text-center .sprite-note{
  background: transparent url("../img/sprites.png") -292px -286px no-repeat;
}

div.row.container.final-score.summary.ng-scope .text-center button.btn.btn-primary.pull-left.btn-ice{
  margin-top: 0%;
  margin-left: -4%;
  padding: 2% 4%;
}

div.row.container.final-score.summary.ng-scope .text-center  input.row.form-control.ng-pristine.ng-valid{
  height: 40px;
}

#question > div:nth-child(2) > div > div > button:nth-child(1){
  margin-left: -0.7%;
}

div.preview  button.btn.btn-quizoption.dropdown-toggle.ng-scope.ng-pristine.ng-valid.active.correct{
  margin-left: -3.5%;
}

div.preview .btn.btn-quizoption.active.correct{
  background: transparent url("../img/sprites.png") -21px -378px no-repeat;
  padding-left: 5%;
}

div.preview .btn.btn-quizoption.active.incorrect{
  background: transparent url("../img/sprites.png") -21px -336px no-repeat;
  padding-left: 5%;
}

div.preview button.btn.btn-quizoption.dropdown-toggle.ng-scope.ng-pristine.ng-valid.active.correct > span.pull-left.optionBody.ng-binding{
  width: 90%;
  color: #000;
}


#question .question-box.preview .btn-group.btn-group-vertical{
  margin-top: -.5%;
  margin-left: 2%;
}

#question button.btn.btn-quizoption.dropdown-toggle.ng-scope.ng-pristine.ng-valid.active.correct > span.pull-left.optionLabel.ng-binding,
div.preview button.btn.btn-quizoption.dropdown-toggle.ng-scope.ng-pristine.ng-valid.active.correct > span.pull-left.optionBody.ng-binding > p{
  color:#000;
  text-shadow: none;
}

#setupcontainer div.preview{
  padding: 4% 0% 0 0.7%;
}

div.preview h2.text-gray.sub-heading{
  margin-top: .5%;
  font-size: 1.2em;
}

div.preview h2.text-gray.sub-heading.ng-binding{
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 3.5%;
}

div.preview span.tiny.text-gray.ng-binding{
  font-size: .85em;
}

div.preview span.question-text.ng-binding{
  margin-bottom: 1%;
  margin-top: 1.7%;
  font-size: 1em;
  font-weight: lighter;
}

div.preview span.pull-left.optionLabel.ng-binding{
  text-transform: capitalize;
}

div.preview span.pull-left.optionLabel.ng-binding,
div.preview span.pull-left.optionBody.ng-binding > p{
  color: #666;
  font-size: 1em;
  font-weight: lighter;
}

div.modal-footer.ng-scope > button.btn.btn-orange-big.btn-delete{
  padding: 11px 24px;
  width: 32%;
}

.quiz-creation-step-2 h3.top-heading.row.col-md-12,
.quiz-creation-step-3 h3.top-heading.row.col-md-12.text-left{
    margin: 20px auto 25px;
    padding-left: 0;
}


.help-overview img{
  width: 50%;
  margin: 20px 0;
}


.exit-calculator-btn{
  position: absolute;
  right: -12px;
}

.row.timer-container{
  clear: both;
  /*margin-bottom: 30px;*/
  min-height: 82px;
}

.always-show{
  display: block;
  visibility: visible;
}

.title-sidenav{
  font-size: 21px;
  line-height: 10px;
  font-weight: 100;
  border: none;
  box-shadow: none;
}

.score-history h3.top-heading.ng-binding{
  margin-left: 2%;
  margin-right: 2%;
}
.session-metadata-list li{
  font-size: 14px;
  list-style-type: disc !important;
  margin-left: 20px;
}

.i-understand{
  font-weight: bold;
}

i.fa.fa.fa-question-circle.ng-scope{
  color: #999;
}

i.fa.fa.fa-question-circle.ng-scope:hover{
  color: #666;
}

.quiz-creation-step-2 p.lead.col-md-3.text-left{
  padding-left: 0;
}

.notes.col-lg-offset-1.col-md-9{
  margin-left: 0 !important;
}

.question-page h2{
  margin-left: 16px;
}
