div.created-on.pull-left{
	white-space: nowrap;
	padding-left: 5px;
}

.question-footer{
	padding-bottom: 0;
}

.lead.nasba-text{
	margin-bottom: 20px;
	margin-left: 0;
	padding: 0;
	text-align: left;
}

.chapter-name{
	line-height: 0.7;
}

/*Loader */

#loader-sppinner{
	display: block;
	height: 96px;
	margin: 2px 0 28px;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #fcf8e3;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: 0 auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #09C;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #fcf8e3;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1) {

	div.banner.container.upper-header{
		margin: 0;
	}

	.question-score-bar {
		width: 80%;
	}

	.top-heading{
		padding-right: 4%;
	}

	.container.quiz-creation-step-2 #quiz-pick-topics-container p{
		width: 30%;
		margin: 0 0;
		display: inline-block;
	}
	div.created-on.pull-left{
		white-space: nowrap;
	}
	div#scrollspy-instructions.col-md-8.col-md-offset-4{
		width: 70%;
		margin: 0 0 0 30%;
	}
	.question-page button.btn.btn-orange-big{
		top: 16%;
	}

	.row.timer-container .col-md-4{
		width: 34%;
		margin: 0;
		display: inline-block;
		vertical-align: text-bottom;
	}

	.row.timer-container div.timer-box.col-md-4{
		width: 30%;
		margin: 0;
		display: inline-block;
	}

	div.notes.col-lg-offset-1.col-md-9{
		position: relative;
		padding-top: 20%;
		width: 70%;
	}

	.question-categories .list-group{
		display: inline-block;
	}

	div.question-categories-container.col-md-12 > div.question-categories-row.first > div.text-center.final-score-category-title.row{
		margin: 6% auto 0;
		white-space: nowrap;
		width: 50%;
	}

	div.row.container.final-score.summary.ng-scope > div > div > div.text-center > div{
		width: 100%;
	}

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation : portrait), only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (-webkit-min-device-pixel-ratio: 1) and (orientation : portrait) {

	.question-page button.btn.btn-orange-big{
		top: 9%;
	}

}