.pie {
	width:74px;
	height:74px;
    z-index:1;
     overflow:hidden;
      position:absolute;
	-moz-transform-origin:center center;
	-ms-transform-origin:center center;
	-o-transform-origin:center center;
	-webkit-transform-origin:center center;
	transform-origin:center center;
}


.pie.jumbo {
	width:100px;
	height: 100px;
	left: 20px;
}

	.pie:before {
		content:"";
		position:absolute;
		width:37px;
		height:74px;
		left:0px;
		border-radius:100px 0px 0px 100px;
		-moz-transform-origin:right center;
		-ms-transform-origin:right center;
		-o-transform-origin:right center;
		-webkit-transform-origin:right center;
		transform-origin:right center;

	}

	.pie:after {
		content:"";
		position:absolute;
		width:38px;
		height:74px;
		left: 35px;
		border-radius:0 100px 100px 0;
	}

.pie.jumbo:after {
	width: 43px;
	height: 86px;
	left: 50px;
}
@media screen and (min-color-index:0)and(-webkit-min-device-pixel-ratio:0) { @media {
    .pie.jumbo:after  { top:14px; }
}}
.pie.jumbo:before {
	width: 43px;
	height: 86px;
	left: 7px;
}

@media screen and (min-color-index:0)and(-webkit-min-device-pixel-ratio:0) { @media {
    .pie.jumbo:before  { top:14px; }
}}
	.pie.green:after {
		left: 0px;
		transform: rotate(540deg);
	}
	@media screen and (min-color-index:0)and(-webkit-min-device-pixel-ratio:0) { @media {
    pie.green:after  { left:35px; }
}}

.pie.jumbo.green:after {
	left: 7px;
}
	@media screen and (min-color-index:0)and(-webkit-min-device-pixel-ratio:0) { @media {
   	.pie.green:after  { left:50px !important; }

   	.quiz-chapter .pie.green.big.pie-0:before{
   		left:0 !important;
   	}
   	.quiz-chapter .pie.green.big.pie-0:after{
   		left:35px !important;
   	}
   	.quiz-chapter .pie.green.big.pie-7:after{
   		left:35px !important;
   	}
}}
  .pie.cover {
	position:absolute;
	width:72px;
	height:74px;
	overflow:hidden;
	z-index:5;
/*	margin-left:5px;*/
}

.pie.jumbo.cover {
	left: 20px;
	width: 90px;
	height:92px;
}

.pie.cover:before {
  width:28px;
  height:56px;
  top: 9px;
  left:10px;
}

.pie.cover:after {
  width:27px;
   height:56px;
  top:9px;
   left:37px;
}

.pie.jumbo.cover:after {
	width: 35px;
	height:68px;
	top:23px;
	left: 50px;
}

.pie.jumbo.cover:before {
	width: 35px;
	height: 68px;
	top:23px;
	left: 15px;
}

.pie.green.big:before,
.pie.green.big:after {
  background-color:#63ba46;
    -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.pie.cover:before,
.pie.cover:after {
  background-color:#fff;
}

.pie.movable:before,
.pie.movable:after {
  background-color:#f1f1f1;
}

	.pie.big {
		transform:rotate(180deg);
-ms-transform:rotate(180deg);
-webkit-transform:(180deg);
	}

	.green.pie-181:before,
	.pie-1:before {
		transform:rotate(1deg);
-ms-transform:rotate(1deg);
-webkit-transform:(1deg);
	}
	.green.pie-182:before,
	.pie-2:before {
		transform:rotate(2deg);
-ms-transform:rotate(2deg);
-webkit-transform:(2deg);
	}
	.green.pie-183:before,
	.pie-3:before {
		transform:rotate(3deg);
-ms-transform:rotate(3deg);
-webkit-transform:(3deg);
	}

	.green.pie-184:before,
	.pie-4:before {
		transform:rotate(4deg);
-ms-transform:rotate(4deg);
-webkit-transform:(4deg);
	}

	.green.pie-185:before,
	.pie-5:before {
		transform:rotate(5deg);
-ms-transform:rotate(5deg);
-webkit-transform:(5deg);
	}

	.green.pie-186:before,
.pie-6:before {
		transform:rotate(6deg);
-ms-transform:rotate(6deg);
-webkit-transform:(6deg);
	}

	.green.pie-187:before,
.pie-7:before {
		transform:rotate(7deg);
-ms-transform:rotate(7deg);
-webkit-transform:(7deg);
	}

	.green.pie-188:before,
.pie-8:before {
		transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:(8deg);
	}

	.green.pie-189:before,
.pie-9:before {
		transform:rotate(9deg);
-ms-transform:rotate(9deg);
-webkit-transform:(9deg);
	}

	.green.pie-190:before,
.pie-10:before {
		transform:rotate(10deg);
-ms-transform:rotate(10deg);
-webkit-transform:(10deg);
	}

	.green.pie-191:before,
.pie-11:before {
		transform:rotate(11deg);
-ms-transform:rotate(11deg);
-webkit-transform:(11deg);
	}
	.green.pie-192:before,
.pie-12:before {
		transform:rotate(12deg);
-ms-transform:rotate(12deg);
-webkit-transform:(12deg);
	}
	.green.pie-193:before,
.pie-13:before {
		transform:rotate(13deg);
-ms-transform:rotate(13deg);
-webkit-transform:(13deg);
	}
	.green.pie-194:before,
.pie-14:before {
		transform:rotate(14deg);
-ms-transform:rotate(14deg);
-webkit-transform:(14deg);
	}
	.green.pie-195:before,
.pie-15:before {
		transform:rotate(15deg);
-ms-transform:rotate(15deg);
-webkit-transform:(15deg);
	}
	.green.pie-196:before,
.pie-16:before {
		transform:rotate(16deg);
-ms-transform:rotate(16deg);
-webkit-transform:(16deg);
	}
	.green.pie-197:before,
.pie-17:before {
		transform:rotate(17deg);
-ms-transform:rotate(17deg);
-webkit-transform:(17deg);
	}
	.green.pie-198:before,
.pie-18:before {
		transform:rotate(18deg);
-ms-transform:rotate(18deg);
-webkit-transform:(18deg);
	}
	.green.pie-199:before,
.pie-19:before {
		transform:rotate(19deg);
-ms-transform:rotate(19deg);
-webkit-transform:(19deg);
	}
	.green.pie-200:before,
.pie-20:before {
		transform:rotate(20deg);
-ms-transform:rotate(20deg);
-webkit-transform:(20deg);
	}
	.green.pie-201:before,
.pie-21:before {
		transform:rotate(21deg);
-ms-transform:rotate(21deg);
-webkit-transform:(21deg);
}
	.green.pie-202:before,
.pie-22:before {
		transform:rotate(22deg);
-ms-transform:rotate(22deg);
-webkit-transform:(22deg);
}
	.green.pie-203:before,
.pie-23:before {
		transform:rotate(23deg);
-ms-transform:rotate(23deg);
-webkit-transform:(23deg);
}
	.green.pie-204:before,
.pie-24:before {
		transform:rotate(24deg);
-ms-transform:rotate(24deg);
-webkit-transform:(24deg);
}
	.green.pie-205:before,
.pie-25:before {
		transform:rotate(25deg);
-ms-transform:rotate(25deg);
-webkit-transform:(25deg);
}
	.green.pie-206:before,
.pie-26:before {
		transform:rotate(26deg);
-ms-transform:rotate(26deg);
-webkit-transform:(26deg);
}
	.green.pie-207:before,
.pie-27:before {
		transform:rotate(27deg);
-ms-transform:rotate(27deg);
-webkit-transform:(27deg);
}
	.green.pie-208:before,
.pie-28:before {
		transform:rotate(28deg);
-ms-transform:rotate(28deg);
-webkit-transform:(28deg);
}
	.green.pie-209:before,
.pie-29:before {
		transform:rotate(29deg);
-ms-transform:rotate(29deg);
-webkit-transform:(29deg);
}
	.green.pie-210:before,
.pie-30:before {
		transform:rotate(30deg);
-ms-transform:rotate(30deg);
-webkit-transform:(30deg);
}
	.green.pie-211:before,
.pie-31:before {
		transform:rotate(31deg);
-ms-transform:rotate(31deg);
-webkit-transform:(31deg);
}
	.green.pie-212:before,
.pie-32:before {
		transform:rotate(32deg);
-ms-transform:rotate(32deg);
-webkit-transform:(32deg);
}
	.green.pie-213:before,
.pie-33:before {
		transform:rotate(33deg);
-ms-transform:rotate(33deg);
-webkit-transform:(33deg);
}
	.green.pie-214:before,
.pie-34:before {
		transform:rotate(34deg);
-ms-transform:rotate(34deg);
-webkit-transform:(34deg);
}
	.green.pie-215:before,
.pie-35:before {
		transform:rotate(35deg);
-ms-transform:rotate(35deg);
-webkit-transform:(35deg);
}
	.green.pie-216:before,
.pie-36:before {
		transform:rotate(36deg);
-ms-transform:rotate(36deg);
-webkit-transform:(36deg);
}
	.green.pie-217:before,
.pie-37:before {
		transform:rotate(37deg);
-ms-transform:rotate(37deg);
-webkit-transform:(37deg);
}
	.green.pie-218:before,
.pie-38:before {
		transform:rotate(38deg);
-ms-transform:rotate(38deg);
-webkit-transform:(38deg);
}
	.green.pie-219:before,
.pie-39:before {
		transform:rotate(39deg);
-ms-transform:rotate(39deg);
-webkit-transform:(39deg);
}
	.green.pie-220:before,
.pie-40:before {
		transform:rotate(40deg);
-ms-transform:rotate(40deg);
-webkit-transform:(40deg);
}
	.green.pie-221:before,
.pie-41:before {
		transform:rotate(41deg);
-ms-transform:rotate(41deg);
-webkit-transform:(41deg);
}
	.green.pie-222:before,
.pie-42:before {
		transform:rotate(42deg);
-ms-transform:rotate(42deg);
-webkit-transform:(42deg);
}
	.green.pie-223:before,
.pie-43:before {
		transform:rotate(43deg);
-ms-transform:rotate(43deg);
-webkit-transform:(43deg);
}
	.green.pie-224:before,
.pie-44:before {
		transform:rotate(44deg);
-ms-transform:rotate(44deg);
-webkit-transform:(44deg);
}
	.green.pie-225:before,
.pie-45:before {
		transform:rotate(45deg);
-ms-transform:rotate(45deg);
-webkit-transform:(45deg);
}
	.green.pie-226:before,
.pie-46:before {
		transform:rotate(46deg);
-ms-transform:rotate(46deg);
-webkit-transform:(46deg);
}
	.green.pie-227:before,
.pie-47:before {
		transform:rotate(47deg);
-ms-transform:rotate(47deg);
-webkit-transform:(47deg);
}
	.green.pie-228:before,
.pie-48:before {
		transform:rotate(48deg);
-ms-transform:rotate(48deg);
-webkit-transform:(48deg);
}
	.green.pie-229:before,
.pie-49:before {
		transform:rotate(49deg);
-ms-transform:rotate(49deg);
-webkit-transform:(49deg);
}
	.green.pie-230:before,
.pie-50:before {
		transform:rotate(50deg);
-ms-transform:rotate(50deg);
-webkit-transform:(50deg);
}
	.green.pie-231:before,
.pie-51:before {
		transform:rotate(51deg);
-ms-transform:rotate(51deg);
-webkit-transform:(51deg);
}
	.green.pie-232:before,
.pie-52:before {
		transform:rotate(52deg);
-ms-transform:rotate(52deg);
-webkit-transform:(52deg);
}
	.green.pie-233:before,
.pie-53:before {
		transform:rotate(53deg);
-ms-transform:rotate(53deg);
-webkit-transform:(53deg);
}
	.green.pie-234:before,
.pie-54:before {
		transform:rotate(54deg);
-ms-transform:rotate(54deg);
-webkit-transform:(54deg);
}
	.green.pie-231:before,
.pie-55:before {
		transform:rotate(55deg);
-ms-transform:rotate(55deg);
-webkit-transform:(55deg);
}
	.green.pie-232:before,
.pie-56:before {
		transform:rotate(56deg);
-ms-transform:rotate(56deg);
-webkit-transform:(56deg);
}
	.green.pie-233:before,
.pie-57:before {
		transform:rotate(57deg);
-ms-transform:rotate(57deg);
-webkit-transform:(57deg);
}
	.green.pie-234:before,
.pie-58:before {
		transform:rotate(58deg);
-ms-transform:rotate(58deg);
-webkit-transform:(58deg);
}
	.green.pie-235:before,
.pie-59:before {
		transform:rotate(59deg);
-ms-transform:rotate(59deg);
-webkit-transform:(59deg);
}
	.green.pie-236:before,
.pie-60:before {
		transform:rotate(60deg);
-ms-transform:rotate(60deg);
-webkit-transform:(60deg);
}
	.green.pie-237:before,
.pie-61:before {
		transform:rotate(61deg);
-ms-transform:rotate(61deg);
-webkit-transform:(61deg);
}
	.green.pie-238:before,
.pie-62:before {
		transform:rotate(62deg);
-ms-transform:rotate(62deg);
-webkit-transform:(62deg);
}
	.green.pie-239:before,
.pie-63:before {
		transform:rotate(63deg);
-ms-transform:rotate(63deg);
-webkit-transform:(63deg);
}
	.green.pie-240:before,
.pie-64:before {
		transform:rotate(64deg);
-ms-transform:rotate(64deg);
-webkit-transform:(64deg);
}
	.green.pie-241:before,
.pie-65:before {
		transform:rotate(65deg);
-ms-transform:rotate(65deg);
-webkit-transform:(65deg);
}

	.green.pie-242:before,
.pie-66:before {
		transform:rotate(66deg);
-ms-transform:rotate(66deg);
-webkit-transform:(66deg);
}
	.green.pie-243:before,
.pie-67:before {
		transform:rotate(67deg);
-ms-transform:rotate(67deg);
-webkit-transform:(67deg);
}
	.green.pie-244:before,
.pie-68:before {
		transform:rotate(68deg);
-ms-transform:rotate(68deg);
-webkit-transform:(68deg);
}
	.green.pie-245:before,
.pie-69:before {
		transform:rotate(69deg);
-ms-transform:rotate(69deg);
-webkit-transform:(69deg);
}
	.green.pie-246:before,
.pie-70:before {
		transform:rotate(70deg);
-ms-transform:rotate(70deg);
-webkit-transform:(70deg);
}
	.green.pie-247:before,
.pie-71:before {
		transform:rotate(71deg);
-ms-transform:rotate(71deg);
-webkit-transform:(71deg);
}
	.green.pie-248:before,
.pie-72:before {
		transform:rotate(72deg);
-ms-transform:rotate(72deg);
-webkit-transform:(72deg);
}
	.green.pie-249:before,
.pie-73:before {
		transform:rotate(73deg);
-ms-transform:rotate(73deg);
-webkit-transform:(73deg);
}
	.green.pie-250:before,
.pie-74:before {
		transform:rotate(74deg);
-ms-transform:rotate(74deg);
-webkit-transform:(74deg);
}
	.green.pie-251:before,
.pie-75:before {
		transform:rotate(75deg);
-ms-transform:rotate(75deg);
-webkit-transform:(75deg);
}
	.green.pie-252:before,
.pie-76:before {
		transform:rotate(76deg);
-ms-transform:rotate(76deg);
-webkit-transform:(76deg);
}
	.green.pie-253:before,
.pie-77:before {
		transform:rotate(77deg);
-ms-transform:rotate(77deg);
-webkit-transform:(77deg);
}
	.green.pie-254:before,
.pie-78:before {
		transform:rotate(78deg);
-ms-transform:rotate(78deg);
-webkit-transform:(78deg);
}
	.green.pie-255:before,
.pie-79:before {
		transform:rotate(79deg);
-ms-transform:rotate(79deg);
-webkit-transform:(79deg);
}
	.green.pie-256:before,
.pie-80:before {
		transform:rotate(80deg);
-ms-transform:rotate(80deg);
-webkit-transform:(80deg);
}
	.green.pie-257:before,
.pie-81:before {
		transform:rotate(81deg);
-ms-transform:rotate(81deg);
-webkit-transform:(81deg);
}
	.green.pie-258:before,
.pie-82:before {
		transform:rotate(82deg);
-ms-transform:rotate(82deg);
-webkit-transform:(82deg);
}
	.green.pie-259:before,
.pie-83:before {
		transform:rotate(83deg);
-ms-transform:rotate(83deg);
-webkit-transform:(83deg);
}
	.green.pie-260:before,
.pie-84:before {
		transform:rotate(84deg);
-ms-transform:rotate(84deg);
-webkit-transform:(84deg);
}
	.green.pie-261:before,
.pie-85:before {
		transform:rotate(85deg);
-ms-transform:rotate(85deg);
-webkit-transform:(85deg);
}
	.green.pie-262:before,
.pie-86:before {
		transform:rotate(86deg);
-ms-transform:rotate(86deg);
-webkit-transform:(86deg);
}
	.green.pie-263:before,
.pie-87:before {
		transform:rotate(87deg);
-ms-transform:rotate(87deg);
-webkit-transform:(87deg);
}
	.green.pie-264:before,
.pie-88:before {
		transform:rotate(88deg);
-ms-transform:rotate(88deg);
-webkit-transform:(88deg);
}
	.green.pie-265:before,
.pie-89:before {
		transform:rotate(89deg);
-ms-transform:rotate(89deg);
-webkit-transform:(89deg);
}
	.green.pie-266:before,
.pie-90:before {
		transform:rotate(90deg);
-ms-transform:rotate(90deg);
-webkit-transform:(90deg);
}
	.green.pie-267:before,
.pie-91:before {
		transform:rotate(91deg);
-ms-transform:rotate(91deg);
-webkit-transform:(91deg);
}
	.green.pie-268:before,
.pie-92:before {
		transform:rotate(92deg);
-ms-transform:rotate(92deg);
-webkit-transform:(92deg);
}
	.green.pie-269:before,
.pie-93:before {
		transform:rotate(93deg);
-ms-transform:rotate(93deg);
-webkit-transform:(93deg);
}
	.green.pie-270:before,
.pie-94:before {
		transform:rotate(94deg);
-ms-transform:rotate(94deg);
-webkit-transform:(94deg);
}
	.green.pie-271:before,
.pie-95:before {
		transform:rotate(95deg);
-ms-transform:rotate(95deg);
-webkit-transform:(95deg);
}
	.green.pie-272:before,
.pie-96:before {
		transform:rotate(96deg);
-ms-transform:rotate(96deg);
-webkit-transform:(96deg);
}
	.green.pie-273:before,
.pie-97:before {
		transform:rotate(97deg);
-ms-transform:rotate(97deg);
-webkit-transform:(97deg);
}
	.green.pie-274:before,
.pie-98:before {
		transform:rotate(98deg);
-ms-transform:rotate(98deg);
-webkit-transform:(98deg);
}
	.green.pie-275:before,
.pie-99:before {
		transform:rotate(99deg);
-ms-transform:rotate(99deg);
-webkit-transform:(99deg);
}
	.green.pie-276:before,
.pie-100:before {
		transform:rotate(100deg);
-ms-transform:rotate(100deg);
-webkit-transform:(100deg);
}

	.green.pie-277:before,
	.pie-101:before {
		transform:rotate(101deg);
-ms-transform:rotate(101deg);
-webkit-transform:(101deg);
	}
	.green.pie-278:before,
	.pie-102:before {
		transform:rotate(102deg);
-ms-transform:rotate(102deg);
-webkit-transform:(102deg);
	}
	.green.pie-279:before,
	.pie-103:before {
		transform:rotate(103deg);
-ms-transform:rotate(103deg);
-webkit-transform:(103deg);
	}

	.green.pie-280:before,
	.pie-104:before {
		transform:rotate(104deg);
-ms-transform:rotate(104deg);
-webkit-transform:(104deg);
	}

	.green.pie-281:before,
	.pie-105:before {
		transform:rotate(105deg);
-ms-transform:rotate(105deg);
-webkit-transform:(105deg);
	}

	.green.pie-281:before,
.pie-106:before {
		transform:rotate(106deg);
-ms-transform:rotate(106deg);
-webkit-transform:(106deg);
	}

	.green.pie-282:before,
.pie-107:before {
		transform:rotate(107deg);
-ms-transform:rotate(107deg);
-webkit-transform:(107deg);
	}

	.green.pie-283:before,
.pie-108:before {
		transform:rotate(108deg);
-ms-transform:rotate(108deg);
-webkit-transform:(108deg);
	}

	.green.pie-284:before,
.pie-109:before {
		transform:rotate(109deg);
-ms-transform:rotate(109deg);
-webkit-transform:(109deg);
	}
	.green.pie-285:before,
.pie-110:before {
		transform:rotate(110deg);
-ms-transform:rotate(110deg);
-webkit-transform:(110deg);
	}
	.green.pie-286:before,
.pie-111:before {
		transform:rotate(111deg);
-ms-transform:rotate(111deg);
-webkit-transform:(111deg);
	}
	.green.pie-287:before,
.pie-112:before {
		transform:rotate(112deg);
-ms-transform:rotate(112deg);
-webkit-transform:(112deg);
	}
	.green.pie-288:before,
.pie-113:before {
		transform:rotate(113deg);
-ms-transform:rotate(113deg);
-webkit-transform:(113deg);
	}
	.green.pie-289:before,
.pie-114:before {
		transform:rotate(114deg);
-ms-transform:rotate(114deg);
-webkit-transform:(114deg);
	}
	.green.pie-290:before,
.pie-115:before {
		transform:rotate(115deg);
-ms-transform:rotate(115deg);
-webkit-transform:(115deg);
	}
	.green.pie-291:before,
.pie-116:before {
		transform:rotate(116deg);
-ms-transform:rotate(116deg);
-webkit-transform:(116deg);
	}
	.green.pie-292:before,
.pie-117:before {
		transform:rotate(117deg);
-ms-transform:rotate(117deg);
-webkit-transform:(117deg);
	}

	.green.pie-293:before,
.pie-118:before {
		transform:rotate(118deg);
-ms-transform:rotate(118deg);
-webkit-transform:(118deg);
	}
	.green.pie-294:before,
.pie-119:before {
		transform:rotate(119deg);
-ms-transform:rotate(119deg);
-webkit-transform:(119deg);
	}

	.green.pie-295:before,
.pie-120:before {
		transform:rotate(120deg);
-ms-transform:rotate(120deg);
-webkit-transform:(120deg);
	}
	.green.pie-296:before,
.pie-121:before {
		transform:rotate(121deg);
-ms-transform:rotate(121deg);
-webkit-transform:(121deg);
}

	.green.pie-297:before,
.pie-122:before {
		transform:rotate(122deg);
-ms-transform:rotate(122deg);
-webkit-transform:(122deg);
}
	.green.pie-298:before,
.pie-123:before {
		transform:rotate(123deg);
-ms-transform:rotate(123deg);
-webkit-transform:(123deg);
}
	.green.pie-299:before,
.pie-124:before {
		transform:rotate(124deg);
-ms-transform:rotate(124deg);
-webkit-transform:(124deg);
}
	.green.pie-300:before,
.pie-125:before {
		transform:rotate(125deg);
-ms-transform:rotate(125deg);
-webkit-transform:(125deg);
}
	.green.pie-301:before,
.pie-126:before {
		transform:rotate(126deg);
-ms-transform:rotate(126deg);
-webkit-transform:(126deg);
}
	.green.pie-302:before,
.pie-127:before {
		transform:rotate(127deg);
-ms-transform:rotate(127deg);
-webkit-transform:(127deg);
}
	.green.pie-303:before,
.pie-128:before {
		transform:rotate(128deg);
-ms-transform:rotate(128deg);
-webkit-transform:(128deg);
}

	.green.pie-304:before,
.pie-129:before {
		transform:rotate(129deg);
-ms-transform:rotate(129deg);
-webkit-transform:(129deg);
}
	.green.pie-305:before,
.pie-130:before {
		transform:rotate(130deg);
-ms-transform:rotate(130deg);
-webkit-transform:(130deg);
}
	.green.pie-306:before,
.pie-131:before {
		transform:rotate(131deg);
-ms-transform:rotate(131deg);
-webkit-transform:(131deg);
}
	.green.pie-307:before,
.pie-132:before {
		transform:rotate(132deg);
-ms-transform:rotate(132deg);
-webkit-transform:(132deg);
}
	.green.pie-308:before,
.pie-133:before {
		transform:rotate(133deg);
-ms-transform:rotate(133deg);
-webkit-transform:(133deg);
}
	.green.pie-309:before,
.pie-134:before {
		transform:rotate(134deg);
-ms-transform:rotate(134deg);
-webkit-transform:(134deg);
}
	.green.pie-310:before,
.pie-135:before {
		transform:rotate(135deg);
-ms-transform:rotate(135deg);
-webkit-transform:(135deg);
}
	.green.pie-311:before,
.pie-136:before {
		transform:rotate(136deg);
-ms-transform:rotate(136deg);
-webkit-transform:(136deg);
}
	.green.pie-312:before,
.pie-137:before {
		transform:rotate(137deg);
-ms-transform:rotate(137deg);
-webkit-transform:(137deg);
}
	.green.pie-313:before,
.pie-138:before {
		transform:rotate(138deg);
-ms-transform:rotate(138deg);
-webkit-transform:(138deg);
}
	.green.pie-314:before,
.pie-139:before {
		transform:rotate(139deg);
-ms-transform:rotate(139deg);
-webkit-transform:(139deg);
}
	.green.pie-315:before,
.pie-140:before {
		transform:rotate(140deg);
-ms-transform:rotate(140deg);
-webkit-transform:(140deg);
}
	.green.pie-316:before,
.pie-141:before {
		transform:rotate(141deg);
-ms-transform:rotate(141deg);
-webkit-transform:(141deg);
}
	.green.pie-317:before,
.pie-142:before {
		transform:rotate(142deg);
-ms-transform:rotate(142deg);
-webkit-transform:(142deg);
}
	.green.pie-318:before,
.pie-143:before {
		transform:rotate(143deg);
-ms-transform:rotate(143deg);
-webkit-transform:(143deg);
}
	.green.pie-319:before,
.pie-144:before {
		transform:rotate(144deg);
-ms-transform:rotate(144deg);
-webkit-transform:(144deg);
}
	.green.pie-320:before,
.pie-145:before {
		transform:rotate(145deg);
-ms-transform:rotate(145deg);
-webkit-transform:(145deg);
}
	.green.pie-321:before,
.pie-146:before {
		transform:rotate(146deg);
-ms-transform:rotate(146deg);
-webkit-transform:(146deg);
}
	.green.pie-322:before,
.pie-147:before {
		transform:rotate(147deg);
-ms-transform:rotate(147deg);
-webkit-transform:(147deg);
}
	.green.pie-323:before,
.pie-148:before {
		transform:rotate(148deg);
-ms-transform:rotate(148deg);
-webkit-transform:(148deg);
}
	.green.pie-324:before,
.pie-149:before {
		transform:rotate(149deg);
-ms-transform:rotate(149deg);
-webkit-transform:(149deg);
}
	.green.pie-325:before,
.pie-150:before {
		transform:rotate(150deg);
-ms-transform:rotate(150deg);
-webkit-transform:(150deg);
}
	.green.pie-326:before,
.pie-151:before {
		transform:rotate(151deg);
-ms-transform:rotate(151deg);
-webkit-transform:(151deg);
}
	.green.pie-327:before,
.pie-152:before {
		transform:rotate(152deg);
-ms-transform:rotate(152deg);
-webkit-transform:(152deg);
}
	.green.pie-328:before,
.pie-153:before {
		transform:rotate(153deg);
-ms-transform:rotate(153deg);
-webkit-transform:(153deg);
}
	.green.pie-329:before,
.pie-154:before {
		transform:rotate(154deg);
-ms-transform:rotate(154deg);
-webkit-transform:(154deg);
}
	.green.pie-330:before,
.pie-155:before {
		transform:rotate(155deg);
-ms-transform:rotate(155deg);
-webkit-transform:(155deg);
}
	.green.pie-331:before,
.pie-156:before {
		transform:rotate(156deg);
-ms-transform:rotate(156deg);
-webkit-transform:(156deg);
}
	.green.pie-332:before,
.pie-157:before {
		transform:rotate(157deg);
-ms-transform:rotate(157deg);
-webkit-transform:(157deg);
}
	.green.pie-333:before,
.pie-158:before {
		transform:rotate(158deg);
-ms-transform:rotate(158deg);
-webkit-transform:(158deg);
}
	.green.pie-334:before,
.pie-159:before {
		transform:rotate(159deg);
-ms-transform:rotate(159deg);
-webkit-transform:(159deg);
}
	.green.pie-334:before,
.pie-160:before {
		transform:rotate(160deg);
-ms-transform:rotate(160deg);
-webkit-transform:(160deg);
}
	.green.pie-335:before,
.pie-161:before {
		transform:rotate(161deg);
-ms-transform:rotate(161deg);
-webkit-transform:(161deg);
}
	.green.pie-336:before,
.pie-162:before {
		transform:rotate(162deg);
-ms-transform:rotate(162deg);
-webkit-transform:(162deg);
}
	.green.pie-337:before,
.pie-163:before {
		transform:rotate(163deg);
-ms-transform:rotate(163deg);
-webkit-transform:(163deg);
}
	.green.pie-338:before,
.pie-164:before {
		transform:rotate(164deg);
-ms-transform:rotate(164deg);
-webkit-transform:(164deg);
}
	.green.pie-339:before,
.pie-165:before {
		transform:rotate(165deg);
-ms-transform:rotate(165deg);
-webkit-transform:(165deg);
}
	.green.pie-340:before,
.pie-166:before {
		transform:rotate(166deg);
-ms-transform:rotate(166deg);
-webkit-transform:(166deg);
}
	.green.pie-341:before,
.pie-167:before {
		transform:rotate(167deg);
-ms-transform:rotate(167deg);
-webkit-transform:(167deg);
}
	.green.pie-342:before,
.pie-168:before {
		transform:rotate(168deg);
-ms-transform:rotate(168deg);
-webkit-transform:(168deg);
}
	.green.pie-343:before,
.pie-169:before {
		transform:rotate(169deg);
-ms-transform:rotate(169deg);
-webkit-transform:(169deg);
}
	.green.pie-344:before,
.pie-170:before {
		transform:rotate(170deg);
-ms-transform:rotate(170deg);
-webkit-transform:(170deg);
}
	.green.pie-345:before,
.pie-171:before {
		transform:rotate(171deg);
-ms-transform:rotate(171deg);
-webkit-transform:(171deg);
}
	.green.pie-346:before,
.pie-172:before {
		transform:rotate(172deg);
-ms-transform:rotate(172deg);
-webkit-transform:(172deg);
}
	.green.pie-347:before,
.pie-173:before {
		transform:rotate(173deg);
-ms-transform:rotate(173deg);
-webkit-transform:(173deg);
}
	.green.pie-348:before,
.pie-174:before {
		transform:rotate(174deg);
-ms-transform:rotate(174deg);
-webkit-transform:(174deg);
}
	.green.pie-349:before,
.pie-175:before {
		transform:rotate(175deg);
-ms-transform:rotate(175deg);
-webkit-transform:(175deg);
}
	.green.pie-350:before,
.pie-176:before {
		transform:rotate(176deg);
-ms-transform:rotate(176deg);
-webkit-transform:(176deg);
}
	.green.pie-351:before,
.pie-177:before {
		transform:rotate(177deg);
-ms-transform:rotate(177deg);
-webkit-transform:(177deg);
}
	.green.pie-352:before,
.pie-178:before {
		transform:rotate(178deg);
-ms-transform:rotate(178deg);
-webkit-transform:(178deg);
}
	.green.pie-353:before,
.pie-179:before {
		transform:rotate(179deg);
-ms-transform:rotate(179deg);
-webkit-transform:(179deg);
}
	.green.pie-354:before,
	.green.pie-355:before,
	.green.pie-356:before,
	.green.pie-357:before,
	.green.pie-358:before,
	.green.pie-359:before,
	.green.pie-360:before,
.pie-180:before {
		transform:rotate(180deg);
-ms-transform:rotate(180deg);
-webkit-transform:(180deg);
}
.pie-181:before {
		transform:rotate(181deg);
-ms-transform:rotate(181deg);
-webkit-transform:(181deg);
}
.pie-182:before {
		transform:rotate(182deg);
-ms-transform:rotate(182deg);
-webkit-transform:(182deg);
}
.pie-183:before {
		transform:rotate(183deg);
-ms-transform:rotate(183deg);
-webkit-transform:(183deg);
}
.pie-184:before {
		transform:rotate(184deg);
-ms-transform:rotate(184deg);
-webkit-transform:(184deg);
}
.pie-185:before {
		transform:rotate(185deg);
-ms-transform:rotate(185deg);
-webkit-transform:(185deg);
}
.pie-186:before {
		transform:rotate(186deg);
-ms-transform:rotate(186deg);
-webkit-transform:(186deg);
}
.pie-187:before {
		transform:rotate(187deg);
-ms-transform:rotate(187deg);
-webkit-transform:(187deg);
}
.pie-188:before {
		transform:rotate(188deg);
-ms-transform:rotate(188deg);
-webkit-transform:(188deg);
}
.pie-189:before {
		transform:rotate(189deg);
-ms-transform:rotate(189deg);
-webkit-transform:(189deg);
}
.pie-190:before {
		transform:rotate(190deg);
-ms-transform:rotate(190deg);
-webkit-transform:(190deg);
}
.pie-191:before {
		transform:rotate(191deg);
-ms-transform:rotate(191deg);
-webkit-transform:(191deg);
}
.pie-192:before {
		transform:rotate(192deg);
-ms-transform:rotate(192deg);
-webkit-transform:(192deg);
}
.pie-193:before {
		transform:rotate(193deg);
-ms-transform:rotate(193deg);
-webkit-transform:(193deg);
}
.pie-194:before {
		transform:rotate(194deg);
-ms-transform:rotate(194deg);
-webkit-transform:(194deg);
}
.pie-195:before {
		transform:rotate(195deg);
-ms-transform:rotate(195deg);
-webkit-transform:(195deg);
}
.pie-196:before {
		transform:rotate(196deg);
-ms-transform:rotate(196deg);
-webkit-transform:(196deg);
}
.pie-197:before {
		transform:rotate(197deg);
-ms-transform:rotate(197deg);
-webkit-transform:(197deg);
}
.pie-198:before {
		transform:rotate(198deg);
-ms-transform:rotate(198deg);
-webkit-transform:(198deg);
}
.pie-199:before {
		transform:rotate(199deg);
-ms-transform:rotate(199deg);
-webkit-transform:(199deg);
}
.pie-200:before {
		transform:rotate(200deg);
-ms-transform:rotate(200deg);
-webkit-transform:(200deg);
}

	.pie-201:before {
		transform:rotate(201deg);
-ms-transform:rotate(201deg);
-webkit-transform:(201deg);
	}
	.pie-202:before {
		transform:rotate(202deg);
-ms-transform:rotate(202deg);
-webkit-transform:(202deg);
	}
	.pie-203:before {
		transform:rotate(203deg);
-ms-transform:rotate(203deg);
-webkit-transform:(203deg);
	}

	.pie-204:before {
		transform:rotate(204deg);
-ms-transform:rotate(204deg);
-webkit-transform:(204deg);
	}

	.pie-205:before {
		transform:rotate(205deg);
-ms-transform:rotate(205deg);
-webkit-transform:(205deg);
	}

.pie-206:before {
		transform:rotate(206deg);
-ms-transform:rotate(206deg);
-webkit-transform:(206deg);
	}

.pie-207:before {
		transform:rotate(207deg);
-ms-transform:rotate(207deg);
-webkit-transform:(207deg);
	}

.pie-208:before {
		transform:rotate(208deg);
-ms-transform:rotate(208deg);
-webkit-transform:(208deg);
	}

.pie-209:before {
		transform:rotate(209deg);
-ms-transform:rotate(209deg);
-webkit-transform:(209deg);
	}

.pie-210:before {
		transform:rotate(210deg);
-ms-transform:rotate(210deg);
-webkit-transform:(210deg);
	}
.pie-211:before {
		transform:rotate(211deg);
-ms-transform:rotate(211deg);
-webkit-transform:(211deg);
	}
.pie-212:before {
		transform:rotate(212deg);
-ms-transform:rotate(212deg);
-webkit-transform:(212deg);
	}
.pie-213:before {
		transform:rotate(213deg);
-ms-transform:rotate(213deg);
-webkit-transform:(213deg);
	}
.pie-214:before {
		transform:rotate(214deg);
-ms-transform:rotate(214deg);
-webkit-transform:(214deg);
	}
.pie-215:before {
		transform:rotate(215deg);
-ms-transform:rotate(215deg);
-webkit-transform:(215deg);
	}
.pie-216:before {
		transform:rotate(216deg);
-ms-transform:rotate(216deg);
-webkit-transform:(216deg);
	}
.pie-217:before {
		transform:rotate(217deg);
-ms-transform:rotate(217deg);
-webkit-transform:(217deg);
	}
.pie-218:before {
		transform:rotate(218deg);
-ms-transform:rotate(218deg);
-webkit-transform:(218deg);
	}
.pie-219:before {
		transform:rotate(219deg);
-ms-transform:rotate(219deg);
-webkit-transform:(219deg);
	}
.pie-220:before {
		transform:rotate(220deg);
-ms-transform:rotate(220deg);
-webkit-transform:(220deg);
	}
.pie-221:before {
		transform:rotate(221deg);
-ms-transform:rotate(221deg);
-webkit-transform:(221deg);
}
.pie-222:before {
		transform:rotate(222deg);
-ms-transform:rotate(222deg);
-webkit-transform:(222deg);
}
.pie-223:before {
		transform:rotate(223deg);
-ms-transform:rotate(223deg);
-webkit-transform:(223deg);
}
.pie-224:before {
		transform:rotate(224deg);
-ms-transform:rotate(224deg);
-webkit-transform:(224deg);
}
.pie-225:before {
		transform:rotate(225deg);
-ms-transform:rotate(225deg);
-webkit-transform:(225deg);
}
.pie-226:before {
		transform:rotate(226deg);
-ms-transform:rotate(226deg);
-webkit-transform:(226deg);
}
.pie-227:before {
		transform:rotate(227deg);
-ms-transform:rotate(227deg);
-webkit-transform:(227deg);
}
.pie-228:before {
		transform:rotate(228deg);
-ms-transform:rotate(228deg);
-webkit-transform:(228deg);
}

.pie-229:before {
		transform:rotate(229deg);
-ms-transform:rotate(229deg);
-webkit-transform:(229deg);
}
.pie-230:before {
		transform:rotate(230deg);
-ms-transform:rotate(230deg);
-webkit-transform:(230deg);
}
.pie-231:before {
		transform:rotate(231deg);
-ms-transform:rotate(231deg);
-webkit-transform:(231deg);
}
.pie-232:before {
		transform:rotate(232deg);
-ms-transform:rotate(232deg);
-webkit-transform:(232deg);
}
.pie-233:before {
		transform:rotate(233deg);
-ms-transform:rotate(233deg);
-webkit-transform:(233deg);
}
.pie-234:before {
		transform:rotate(234deg);
-ms-transform:rotate(234deg);
-webkit-transform:(234deg);
}
.pie-235:before {
		transform:rotate(235deg);
-ms-transform:rotate(235deg);
-webkit-transform:(235deg);
}
.pie-236:before {
		transform:rotate(236deg);
-ms-transform:rotate(236deg);
-webkit-transform:(236deg);
}
.pie-237:before {
		transform:rotate(237deg);
-ms-transform:rotate(237deg);
-webkit-transform:(237deg);
}
.pie-238:before {
		transform:rotate(238deg);
-ms-transform:rotate(238deg);
-webkit-transform:(238deg);
}
.pie-239:before {
		transform:rotate(239deg);
-ms-transform:rotate(239deg);
-webkit-transform:(239deg);
}
.pie-240:before {
		transform:rotate(240deg);
-ms-transform:rotate(240deg);
-webkit-transform:(240deg);
}
.pie-241:before {
		transform:rotate(241deg);
-ms-transform:rotate(241deg);
-webkit-transform:(241deg);
}
.pie-242:before {
		transform:rotate(242deg);
-ms-transform:rotate(242deg);
-webkit-transform:(242deg);
}
.pie-243:before {
		transform:rotate(243deg);
-ms-transform:rotate(243deg);
-webkit-transform:(243deg);
}
.pie-244:before {
		transform:rotate(244deg);
-ms-transform:rotate(244deg);
-webkit-transform:(244deg);
}
.pie-245:before {
		transform:rotate(245deg);
-ms-transform:rotate(245deg);
-webkit-transform:(245deg);
}
.pie-246:before {
		transform:rotate(246deg);
-ms-transform:rotate(246deg);
-webkit-transform:(246deg);
}
.pie-247:before {
		transform:rotate(247deg);
-ms-transform:rotate(247deg);
-webkit-transform:(247deg);
}
.pie-248:before {
		transform:rotate(248deg);
-ms-transform:rotate(248deg);
-webkit-transform:(248deg);
}
.pie-249:before {
		transform:rotate(249deg);
-ms-transform:rotate(249deg);
-webkit-transform:(249deg);
}
.pie-250:before {
		transform:rotate(250deg);
-ms-transform:rotate(250deg);
-webkit-transform:(250deg);
}
.pie-251:before {
		transform:rotate(251deg);
-ms-transform:rotate(251deg);
-webkit-transform:(251deg);
}
.pie-252:before {
		transform:rotate(252deg);
-ms-transform:rotate(252deg);
-webkit-transform:(252deg);
}
.pie-253:before {
		transform:rotate(253deg);
-ms-transform:rotate(253deg);
-webkit-transform:(253deg);
}
.pie-254:before {
		transform:rotate(254deg);
-ms-transform:rotate(254deg);
-webkit-transform:(254deg);
}
.pie-255:before {
		transform:rotate(255deg);
-ms-transform:rotate(255deg);
-webkit-transform:(255deg);
}
.pie-256:before {
		transform:rotate(256deg);
-ms-transform:rotate(256deg);
-webkit-transform:(256deg);
}
.pie-257:before {
		transform:rotate(257deg);
-ms-transform:rotate(257deg);
-webkit-transform:(257deg);
}
.pie-258:before {
		transform:rotate(258deg);
-ms-transform:rotate(258deg);
-webkit-transform:(258deg);
}
.pie-259:before {
		transform:rotate(259deg);
-ms-transform:rotate(259deg);
-webkit-transform:(259deg);
}
.pie-260:before {
		transform:rotate(260deg);
-ms-transform:rotate(260deg);
-webkit-transform:(260deg);
}
.pie-261:before {
		transform:rotate(261deg);
-ms-transform:rotate(261deg);
-webkit-transform:(261deg);
}
.pie-262:before {
		transform:rotate(262deg);
-ms-transform:rotate(262deg);
-webkit-transform:(262deg);
}
.pie-263:before {
		transform:rotate(263deg);
-ms-transform:rotate(263deg);
-webkit-transform:(263deg);
}
.pie-264:before {
		transform:rotate(264deg);
-ms-transform:rotate(264deg);
-webkit-transform:(264deg);
}
.pie-265:before {
		transform:rotate(265deg);
-ms-transform:rotate(265deg);
-webkit-transform:(265deg);
}
.pie-266:before {
		transform:rotate(266deg);
-ms-transform:rotate(266deg);
-webkit-transform:(266deg);
}
.pie-267:before {
		transform:rotate(267deg);
-ms-transform:rotate(267deg);
-webkit-transform:(267deg);
}
.pie-268:before {
		transform:rotate(268deg);
-ms-transform:rotate(268deg);
-webkit-transform:(268deg);
}
.pie-269:before {
		transform:rotate(269deg);
-ms-transform:rotate(269deg);
-webkit-transform:(269deg);
}
.pie-270:before {
		transform:rotate(270deg);
-ms-transform:rotate(270deg);
-webkit-transform:(270deg);
}
.pie-271:before {
		transform:rotate(271deg);
-ms-transform:rotate(271deg);
-webkit-transform:(271deg);
}
.pie-272:before {
		transform:rotate(272deg);
-ms-transform:rotate(272deg);
-webkit-transform:(272deg);
}
.pie-273:before {
		transform:rotate(273deg);
-ms-transform:rotate(273deg);
-webkit-transform:(273deg);
}
.pie-274:before {
		transform:rotate(274deg);
-ms-transform:rotate(274deg);
-webkit-transform:(274deg);
}
.pie-275:before {
		transform:rotate(275deg);
-ms-transform:rotate(275deg);
-webkit-transform:(275deg);
}
.pie-276:before {
		transform:rotate(276deg);
-ms-transform:rotate(276deg);
-webkit-transform:(276deg);
}
.pie-277:before {
		transform:rotate(277deg);
-ms-transform:rotate(277deg);
-webkit-transform:(277deg);
}
.pie-278:before {
		transform:rotate(278deg);
-ms-transform:rotate(278deg);
-webkit-transform:(278deg);
}
.pie-279:before {
		transform:rotate(279deg);
-ms-transform:rotate(279deg);
-webkit-transform:(279deg);
}
.pie-280:before {
		transform:rotate(280deg);
-ms-transform:rotate(280deg);
-webkit-transform:(280deg);
}
.pie-281:before {
		transform:rotate(281deg);
-ms-transform:rotate(281deg);
-webkit-transform:(281deg);
}
.pie-282:before {
		transform:rotate(282deg);
-ms-transform:rotate(282deg);
-webkit-transform:(282deg);
}
.pie-283:before {
		transform:rotate(283deg);
-ms-transform:rotate(283deg);
-webkit-transform:(283deg);
}
.pie-284:before {
		transform:rotate(284deg);
-ms-transform:rotate(284deg);
-webkit-transform:(284deg);
}
.pie-285:before {
		transform:rotate(285deg);
-ms-transform:rotate(285deg);
-webkit-transform:(285deg);
}
.pie-286:before {
		transform:rotate(286deg);
-ms-transform:rotate(286deg);
-webkit-transform:(286deg);
}
.pie-287:before {
		transform:rotate(287deg);
-ms-transform:rotate(287deg);
-webkit-transform:(287deg);
}
.pie-288:before {
		transform:rotate(288deg);
-ms-transform:rotate(288deg);
-webkit-transform:(288deg);
}
.pie-289:before {
		transform:rotate(289deg);
-ms-transform:rotate(289deg);
-webkit-transform:(289deg);
}
.pie-290:before {
		transform:rotate(290deg);
-ms-transform:rotate(290deg);
-webkit-transform:(290deg);
}
.pie-291:before {
		transform:rotate(291deg);
-ms-transform:rotate(291deg);
-webkit-transform:(291deg);
}
.pie-292:before {
		transform:rotate(292deg);
-ms-transform:rotate(292deg);
-webkit-transform:(292deg);
}
.pie-293:before {
		transform:rotate(293deg);
-ms-transform:rotate(293deg);
-webkit-transform:(293deg);
}
.pie-294:before {
		transform:rotate(294deg);
-ms-transform:rotate(294deg);
-webkit-transform:(294deg);
}
.pie-295:before {
		transform:rotate(295deg);
-ms-transform:rotate(295deg);
-webkit-transform:(295deg);
}
.pie-296:before {
		transform:rotate(296deg);
-ms-transform:rotate(296deg);
-webkit-transform:(296deg);
}
.pie-297:before {
		transform:rotate(297deg);
-ms-transform:rotate(297deg);
-webkit-transform:(297deg);
}
.pie-298:before {
		transform:rotate(298deg);
-ms-transform:rotate(298deg);
-webkit-transform:(298deg);
}
.pie-299:before {
		transform:rotate(299deg);
-ms-transform:rotate(299deg);
-webkit-transform:(299deg);
}
	.pie-300:before {
		transform:rotate(300deg);
-ms-transform:rotate(300deg);
-webkit-transform:(300deg);
	}
	.pie-301:before {
		transform:rotate(301deg);
-ms-transform:rotate(301deg);
-webkit-transform:(301deg);
	}
	.pie-302:before {
		transform:rotate(302deg);
-ms-transform:rotate(302deg);
-webkit-transform:(302deg);
	}
	.pie-303:before {
		transform:rotate(303deg);
-ms-transform:rotate(303deg);
-webkit-transform:(303deg);
	}

	.pie-304:before {
		transform:rotate(304deg);
-ms-transform:rotate(304deg);
-webkit-transform:(304deg);
	}

	.pie-305:before {
		transform:rotate(305deg);
-ms-transform:rotate(305deg);
-webkit-transform:(305deg);
	}

.pie-306:before {
		transform:rotate(306deg);
-ms-transform:rotate(306deg);
-webkit-transform:(306deg);
	}

.pie-307:before {
		transform:rotate(307deg);
-ms-transform:rotate(307deg);
-webkit-transform:(307deg);
	}

.pie-308:before {
		transform:rotate(308deg);
-ms-transform:rotate(308deg);
-webkit-transform:(308deg);
	}

.pie-309:before {
		transform:rotate(309deg);
-ms-transform:rotate(309deg);
-webkit-transform:(309deg);
	}

.pie-310:before {
		transform:rotate(310deg);
-ms-transform:rotate(310deg);
-webkit-transform:(310deg);
	}
.pie-311:before {
		transform:rotate(311deg);
-ms-transform:rotate(311deg);
-webkit-transform:(311deg);
	}
.pie-312:before {
		transform:rotate(312deg);
-ms-transform:rotate(312deg);
-webkit-transform:(312deg);
	}
.pie-313:before {
		transform:rotate(313deg);
-ms-transform:rotate(313deg);
-webkit-transform:(313deg);
	}
.pie-314:before {
		transform:rotate(314deg);
-ms-transform:rotate(314deg);
-webkit-transform:(314deg);
	}
.pie-315:before {
		transform:rotate(315deg);
-ms-transform:rotate(315deg);
-webkit-transform:(315deg);
	}
.pie-316:before {
		transform:rotate(316deg);
-ms-transform:rotate(316deg);
-webkit-transform:(316deg);
	}
.pie-317:before {
		transform:rotate(317deg);
-ms-transform:rotate(317deg);
-webkit-transform:(317deg);
	}
.pie-318:before {
		transform:rotate(318deg);
-ms-transform:rotate(318deg);
-webkit-transform:(318deg);
	}
.pie-319:before {
		transform:rotate(319deg);
-ms-transform:rotate(319deg);
-webkit-transform:(319deg);
	}
.pie-320:before {
		transform:rotate(320deg);
-ms-transform:rotate(320deg);
-webkit-transform:(320deg);
	}
.pie-321:before {
		transform:rotate(321deg);
-ms-transform:rotate(321deg);
-webkit-transform:(321deg);
}
.pie-322:before {
		transform:rotate(322deg);
-ms-transform:rotate(322deg);
-webkit-transform:(322deg);
}
.pie-323:before {
		transform:rotate(323deg);
-ms-transform:rotate(323deg);
-webkit-transform:(323deg);
}
.pie-324:before {
		transform:rotate(324deg);
-ms-transform:rotate(324deg);
-webkit-transform:(324deg);
}
.pie-325:before {
		transform:rotate(325deg);
-ms-transform:rotate(325deg);
-webkit-transform:(325deg);
}
.pie-326:before {
		transform:rotate(326deg);
-ms-transform:rotate(326deg);
-webkit-transform:(326deg);
}
.pie-327:before {
		transform:rotate(327deg);
-ms-transform:rotate(327deg);
-webkit-transform:(327deg);
}
.pie-328:before {
		transform:rotate(328deg);
-ms-transform:rotate(328deg);
-webkit-transform:(328deg);
}

.pie-329:before {
		transform:rotate(329deg);
-ms-transform:rotate(329deg);
-webkit-transform:(329deg);
}
.pie-330:before {
		transform:rotate(330deg);
-ms-transform:rotate(330deg);
-webkit-transform:(330deg);
}
.pie-331:before {
		transform:rotate(331deg);
-ms-transform:rotate(331deg);
-webkit-transform:(331deg);
}
.pie-332:before {
		transform:rotate(332deg);
-ms-transform:rotate(332deg);
-webkit-transform:(332deg);
}
.pie-333:before {
		transform:rotate(333deg);
-ms-transform:rotate(333deg);
-webkit-transform:(333deg);
}
.pie-334:before {
		transform:rotate(334deg);
-ms-transform:rotate(334deg);
-webkit-transform:(334deg);
}
.pie-335:before {
		transform:rotate(335deg);
-ms-transform:rotate(335deg);
-webkit-transform:(335deg);
}
.pie-336:before {
		transform:rotate(336deg);
-ms-transform:rotate(336deg);
-webkit-transform:(336deg);
}
.pie-337:before {
		transform:rotate(337deg);
-ms-transform:rotate(337deg);
-webkit-transform:(337deg);
}
.pie-338:before {
		transform:rotate(338deg);
-ms-transform:rotate(338deg);
-webkit-transform:(338deg);
}
.pie-339:before {
		transform:rotate(339deg);
-ms-transform:rotate(339deg);
-webkit-transform:(339deg);
}
.pie-340:before {
		transform:rotate(340deg);
-ms-transform:rotate(340deg);
-webkit-transform:(340deg);
}
.pie-341:before {
		transform:rotate(341deg);
-ms-transform:rotate(341deg);
-webkit-transform:(341deg);
}
.pie-342:before {
		transform:rotate(342deg);
-ms-transform:rotate(342deg);
-webkit-transform:(342deg);
}
.pie-343:before {
		transform:rotate(343deg);
-ms-transform:rotate(343deg);
-webkit-transform:(343deg);
}
.pie-344:before {
		transform:rotate(344deg);
-ms-transform:rotate(344deg);
-webkit-transform:(344deg);
}
.pie-345:before {
		transform:rotate(345deg);
-ms-transform:rotate(345deg);
-webkit-transform:(345deg);
}
.pie-346:before {
		transform:rotate(346deg);
-ms-transform:rotate(346deg);
-webkit-transform:(346deg);
}
.pie-347:before {
		transform:rotate(347deg);
-ms-transform:rotate(347deg);
-webkit-transform:(347deg);
}
.pie-348:before {
		transform:rotate(348deg);
-ms-transform:rotate(348deg);
-webkit-transform:(348deg);
}
.pie-349:before {
		transform:rotate(349deg);
-ms-transform:rotate(349deg);
-webkit-transform:(349deg);
}
.pie-350:before {
		transform:rotate(350deg);
-ms-transform:rotate(350deg);
-webkit-transform:(350deg);
}
.pie-351:before {
		transform:rotate(351deg);
-ms-transform:rotate(351deg);
-webkit-transform:(351deg);
}
.pie-352:before {
		transform:rotate(352deg);
-ms-transform:rotate(352deg);
-webkit-transform:(352deg);
}
.pie-353:before {
		transform:rotate(353deg);
-ms-transform:rotate(353deg);
-webkit-transform:(353deg);
}
.pie-354:before {
		transform:rotate(354deg);
-ms-transform:rotate(354deg);
-webkit-transform:(354deg);
}
.pie-355:before {
		transform:rotate(355deg);
-ms-transform:rotate(355deg);
-webkit-transform:(355deg);
}
.pie-356:before {
		transform:rotate(356deg);
-ms-transform:rotate(356deg);
-webkit-transform:(356deg);
}
.pie-357:before {
		transform:rotate(357deg);
-ms-transform:rotate(357deg);
-webkit-transform:(357deg);
}
.pie-358:before {
		transform:rotate(358deg);
-ms-transform:rotate(358deg);
-webkit-transform:(358deg);
}
.pie-359:before {
		transform:rotate(359deg);
-ms-transform:rotate(359deg);
-webkit-transform:(359deg);
}
.pie-360:before {
		transform:rotate(360deg);
-ms-transform:rotate(360deg);
-webkit-transform:(360deg);
}

.green:before {
	transform:rotate(360deg);
	-ms-transform:rotate(360deg);
	-webkit-transform:(360deg);
}

.pie.infront {
	z-index:2;
}

.pie-text {
	font-weight: bold;
	color: #9d9d9d;
	position:absolute;
	z-index:6;
	top: 21px;
	margin-left: 16px;
	font-size: 12px;
	line-height: 13px;
	text-align:center;
}

.jumbo.pie-text {
	font-size: 14px;
	top: 39px;
	margin-left: 31px;
}

.pie-text .percentage {
	font-size: 17px;
}

.jumbo.pie-text .percentage {
	font-size: 22px;
}
