	 
	.rounded-pie-1 {
		transform:rotate(1deg);
-ms-transform:rotate(1deg);
-webkit-transform:(1deg);
	}
	 
	.rounded-pie-2 {
		transform:rotate(2deg);
-ms-transform:rotate(2deg);
-webkit-transform:(2deg);
	}
	 
	.rounded-pie-3 {
		transform:rotate(3deg);
-ms-transform:rotate(3deg);
-webkit-transform:(3deg);
	}

	 
	.rounded-pie-4 {
		transform:rotate(4deg);
-ms-transform:rotate(4deg);
-webkit-transform:(4deg);
	}

	 
	.rounded-pie-5 {
		transform:rotate(5deg);
-ms-transform:rotate(5deg);
-webkit-transform:(5deg);
	}

	 
.rounded-pie-6 {
		transform:rotate(6deg);
-ms-transform:rotate(6deg);
-webkit-transform:(6deg);
	}

	 
.rounded-pie-7 {
		transform:rotate(7deg);
-ms-transform:rotate(7deg);
-webkit-transform:(7deg);
	}

	 
.rounded-pie-8 {
		transform:rotate(8deg);
-ms-transform:rotate(8deg);
-webkit-transform:(8deg);
	}

	 
.rounded-pie-9 {
		transform:rotate(9deg);
-ms-transform:rotate(9deg);
-webkit-transform:(9deg);
	}

	 
.rounded-pie-10 {
		transform:rotate(10deg);
-ms-transform:rotate(10deg);
-webkit-transform:(10deg);
	}

	 
.rounded-pie-11 {
		transform:rotate(11deg);
-ms-transform:rotate(11deg);
-webkit-transform:(11deg);
	}
	 
.rounded-pie-12 {
		transform:rotate(12deg);
-ms-transform:rotate(12deg);
-webkit-transform:(12deg);
	}
	 
.rounded-pie-13 {
		transform:rotate(13deg);
-ms-transform:rotate(13deg);
-webkit-transform:(13deg);
	}
	 
.rounded-pie-14 {
		transform:rotate(14deg);
-ms-transform:rotate(14deg);
-webkit-transform:(14deg);
	}
	 
.rounded-pie-15 {
		transform:rotate(15deg);
-ms-transform:rotate(15deg);
-webkit-transform:(15deg);
	}
	 
.rounded-pie-16 {
		transform:rotate(16deg);
-ms-transform:rotate(16deg);
-webkit-transform:(16deg);
	}
	 
.rounded-pie-17 {
		transform:rotate(17deg);
-ms-transform:rotate(17deg);
-webkit-transform:(17deg);
	}
	 
.rounded-pie-18 {
		transform:rotate(18deg);
-ms-transform:rotate(18deg);
-webkit-transform:(18deg);
	}
	 
.rounded-pie-19 {
		transform:rotate(19deg);
-ms-transform:rotate(19deg);
-webkit-transform:(19deg);
	}
	 
.rounded-pie-20 {
		transform:rotate(20deg);
-ms-transform:rotate(20deg);
-webkit-transform:(20deg);
	}
	 
.rounded-pie-21 {
		transform:rotate(21deg);
-ms-transform:rotate(21deg);
-webkit-transform:(21deg);
}
	 
.rounded-pie-22 {
		transform:rotate(22deg);
-ms-transform:rotate(22deg);
-webkit-transform:(22deg);
}
	 
.rounded-pie-23 {
		transform:rotate(23deg);
-ms-transform:rotate(23deg);
-webkit-transform:(23deg);
}
	 
.rounded-pie-24 {
		transform:rotate(24deg);
-ms-transform:rotate(24deg);
-webkit-transform:(24deg);
}
	 
.rounded-pie-25 {
		transform:rotate(25deg);
-ms-transform:rotate(25deg);
-webkit-transform:(25deg);
}
	 
.rounded-pie-26 {
		transform:rotate(26deg);
-ms-transform:rotate(26deg);
-webkit-transform:(26deg);
}
	 
.rounded-pie-27 {
		transform:rotate(27deg);
-ms-transform:rotate(27deg);
-webkit-transform:(27deg);
}
	 
.rounded-pie-28 {
		transform:rotate(28deg);
-ms-transform:rotate(28deg);
-webkit-transform:(28deg);
}
	 
.rounded-pie-29 {
		transform:rotate(29deg);
-ms-transform:rotate(29deg);
-webkit-transform:(29deg);
}
	 
.rounded-pie-30 {
		transform:rotate(30deg);
-ms-transform:rotate(30deg);
-webkit-transform:(30deg);
}
	 
.rounded-pie-31 {
		transform:rotate(31deg);
-ms-transform:rotate(31deg);
-webkit-transform:(31deg);
}
	 
.rounded-pie-32 {
		transform:rotate(32deg);
-ms-transform:rotate(32deg);
-webkit-transform:(32deg);
}
	 
.rounded-pie-33 {
		transform:rotate(33deg);
-ms-transform:rotate(33deg);
-webkit-transform:(33deg);
}
	 
.rounded-pie-34 {
		transform:rotate(34deg);
-ms-transform:rotate(34deg);
-webkit-transform:(34deg);
}
	 
.rounded-pie-35 {
		transform:rotate(35deg);
-ms-transform:rotate(35deg);
-webkit-transform:(35deg);
}
	 
.rounded-pie-36 {
		transform:rotate(36deg);
-ms-transform:rotate(36deg);
-webkit-transform:(36deg);
}
	 
.rounded-pie-37 {
		transform:rotate(37deg);
-ms-transform:rotate(37deg);
-webkit-transform:(37deg);
}
	 
.rounded-pie-38 {
		transform:rotate(38deg);
-ms-transform:rotate(38deg);
-webkit-transform:(38deg);
}
	 
.rounded-pie-39 {
		transform:rotate(39deg);
-ms-transform:rotate(39deg);
-webkit-transform:(39deg);
}
	 
.rounded-pie-40 {
		transform:rotate(40deg);
-ms-transform:rotate(40deg);
-webkit-transform:(40deg);
}
	 
.rounded-pie-41 {
		transform:rotate(41deg);
-ms-transform:rotate(41deg);
-webkit-transform:(41deg);
}
	 
.rounded-pie-42 {
		transform:rotate(42deg);
-ms-transform:rotate(42deg);
-webkit-transform:(42deg);
}
	 
.rounded-pie-43 {
		transform:rotate(43deg);
-ms-transform:rotate(43deg);
-webkit-transform:(43deg);
}
	 
.rounded-pie-44 {
		transform:rotate(44deg);
-ms-transform:rotate(44deg);
-webkit-transform:(44deg);
}
	 
.rounded-pie-45 {
		transform:rotate(45deg);
-ms-transform:rotate(45deg);
-webkit-transform:(45deg);
}
	 
.rounded-pie-46 {
		transform:rotate(46deg);
-ms-transform:rotate(46deg);
-webkit-transform:(46deg);
}
	 
.rounded-pie-47 {
		transform:rotate(47deg);
-ms-transform:rotate(47deg);
-webkit-transform:(47deg);
}
	 
.rounded-pie-48 {
		transform:rotate(48deg);
-ms-transform:rotate(48deg);
-webkit-transform:(48deg);
}
	 
.rounded-pie-49 {
		transform:rotate(49deg);
-ms-transform:rotate(49deg);
-webkit-transform:(49deg);
}
	 
.rounded-pie-50 {
		transform:rotate(50deg);
-ms-transform:rotate(50deg);
-webkit-transform:(50deg);
}
	 
.rounded-pie-51 {
		transform:rotate(51deg);
-ms-transform:rotate(51deg);
-webkit-transform:(51deg);
}
	 
.rounded-pie-52 {
		transform:rotate(52deg);
-ms-transform:rotate(52deg);
-webkit-transform:(52deg);
}
	 
.rounded-pie-53 {
		transform:rotate(53deg);
-ms-transform:rotate(53deg);
-webkit-transform:(53deg);
}
	 
.rounded-pie-54 {
		transform:rotate(54deg);
-ms-transform:rotate(54deg);
-webkit-transform:(54deg);
}
	 
.rounded-pie-55 {
		transform:rotate(55deg);
-ms-transform:rotate(55deg);
-webkit-transform:(55deg);
}
	 
.rounded-pie-56 {
		transform:rotate(56deg);
-ms-transform:rotate(56deg);
-webkit-transform:(56deg);
}
	 
.rounded-pie-57 {
		transform:rotate(57deg);
-ms-transform:rotate(57deg);
-webkit-transform:(57deg);
}
	 
.rounded-pie-58 {
		transform:rotate(58deg);
-ms-transform:rotate(58deg);
-webkit-transform:(58deg);
}
	 
.rounded-pie-59 {
		transform:rotate(59deg);
-ms-transform:rotate(59deg);
-webkit-transform:(59deg);
}
	 
.rounded-pie-60 {
		transform:rotate(60deg);
-ms-transform:rotate(60deg);
-webkit-transform:(60deg);
}
	 
.rounded-pie-61 {
		transform:rotate(61deg);
-ms-transform:rotate(61deg);
-webkit-transform:(61deg);
}
	 
.rounded-pie-62 {
		transform:rotate(62deg);
-ms-transform:rotate(62deg);
-webkit-transform:(62deg);
}
	 
.rounded-pie-63 {
		transform:rotate(63deg);
-ms-transform:rotate(63deg);
-webkit-transform:(63deg);
}
	 
.rounded-pie-64 {
		transform:rotate(64deg);
-ms-transform:rotate(64deg);
-webkit-transform:(64deg);
}
	 
.rounded-pie-65 {
		transform:rotate(65deg);
-ms-transform:rotate(65deg);
-webkit-transform:(65deg);
}

	 
.rounded-pie-66 {
		transform:rotate(66deg);
-ms-transform:rotate(66deg);
-webkit-transform:(66deg);
}
	 
.rounded-pie-67 {
		transform:rotate(67deg);
-ms-transform:rotate(67deg);
-webkit-transform:(67deg);
}
	 
.rounded-pie-68 {
		transform:rotate(68deg);
-ms-transform:rotate(68deg);
-webkit-transform:(68deg);
}
	 
.rounded-pie-69 {
		transform:rotate(69deg);
-ms-transform:rotate(69deg);
-webkit-transform:(69deg);
}
	 
.rounded-pie-70 {
		transform:rotate(70deg);
-ms-transform:rotate(70deg);
-webkit-transform:(70deg);
}
	 
.rounded-pie-71 {
		transform:rotate(71deg);
-ms-transform:rotate(71deg);
-webkit-transform:(71deg);
}
	 
.rounded-pie-72 {
		transform:rotate(72deg);
-ms-transform:rotate(72deg);
-webkit-transform:(72deg);
}
	 
.rounded-pie-73 {
		transform:rotate(73deg);
-ms-transform:rotate(73deg);
-webkit-transform:(73deg);
}
	 
.rounded-pie-74 {
		transform:rotate(74deg);
-ms-transform:rotate(74deg);
-webkit-transform:(74deg);
}
	 
.rounded-pie-75 {
		transform:rotate(75deg);
-ms-transform:rotate(75deg);
-webkit-transform:(75deg);
}
	 
.rounded-pie-76 {
		transform:rotate(76deg);
-ms-transform:rotate(76deg);
-webkit-transform:(76deg);
}
	 
.rounded-pie-77 {
		transform:rotate(77deg);
-ms-transform:rotate(77deg);
-webkit-transform:(77deg);
}
	 
.rounded-pie-78 {
		transform:rotate(78deg);
-ms-transform:rotate(78deg);
-webkit-transform:(78deg);
}
	 
.rounded-pie-79 {
		transform:rotate(79deg);
-ms-transform:rotate(79deg);
-webkit-transform:(79deg);
}
	 
.rounded-pie-80 {
		transform:rotate(80deg);
-ms-transform:rotate(80deg);
-webkit-transform:(80deg);
}
	 
.rounded-pie-81 {
		transform:rotate(81deg);
-ms-transform:rotate(81deg);
-webkit-transform:(81deg);
}
	 
.rounded-pie-82 {
		transform:rotate(82deg);
-ms-transform:rotate(82deg);
-webkit-transform:(82deg);
}
	 
.rounded-pie-83 {
		transform:rotate(83deg);
-ms-transform:rotate(83deg);
-webkit-transform:(83deg);
}
	 
.rounded-pie-84 {
		transform:rotate(84deg);
-ms-transform:rotate(84deg);
-webkit-transform:(84deg);
}
	 
.rounded-pie-85 {
		transform:rotate(85deg);
-ms-transform:rotate(85deg);
-webkit-transform:(85deg);
}
	 
.rounded-pie-86 {
		transform:rotate(86deg);
-ms-transform:rotate(86deg);
-webkit-transform:(86deg);
}
	 
.rounded-pie-87 {
		transform:rotate(87deg);
-ms-transform:rotate(87deg);
-webkit-transform:(87deg);
}
	 
.rounded-pie-88 {
		transform:rotate(88deg);
-ms-transform:rotate(88deg);
-webkit-transform:(88deg);
}
	 
.rounded-pie-89 {
		transform:rotate(89deg);
-ms-transform:rotate(89deg);
-webkit-transform:(89deg);
}
	 
.rounded-pie-90 {
		transform:rotate(90deg);
-ms-transform:rotate(90deg);
-webkit-transform:(90deg);
}
	 
.rounded-pie-91 {
		transform:rotate(91deg);
-ms-transform:rotate(91deg);
-webkit-transform:(91deg);
}
	 
.rounded-pie-92 {
		transform:rotate(92deg);
-ms-transform:rotate(92deg);
-webkit-transform:(92deg);
}
	 
.rounded-pie-93 {
		transform:rotate(93deg);
-ms-transform:rotate(93deg);
-webkit-transform:(93deg);
}
	 
.rounded-pie-94 {
		transform:rotate(94deg);
-ms-transform:rotate(94deg);
-webkit-transform:(94deg);
}
	 
.rounded-pie-95 {
		transform:rotate(95deg);
-ms-transform:rotate(95deg);
-webkit-transform:(95deg);
}
	 
.rounded-pie-96 {
		transform:rotate(96deg);
-ms-transform:rotate(96deg);
-webkit-transform:(96deg);
}
	 
.rounded-pie-97 {
		transform:rotate(97deg);
-ms-transform:rotate(97deg);
-webkit-transform:(97deg);
}
	 
.rounded-pie-98 {
		transform:rotate(98deg);
-ms-transform:rotate(98deg);
-webkit-transform:(98deg);
}
	 
.rounded-pie-99 {
		transform:rotate(99deg);
-ms-transform:rotate(99deg);
-webkit-transform:(99deg);
}
	 
.rounded-pie-100 {
		transform:rotate(100deg);
-ms-transform:rotate(100deg);
-webkit-transform:(100deg);
}

	 
	.rounded-pie-101 {
		transform:rotate(101deg);
-ms-transform:rotate(101deg);
-webkit-transform:(101deg);
	}
	 
	.rounded-pie-102 {
		transform:rotate(102deg);
-ms-transform:rotate(102deg);
-webkit-transform:(102deg);
	}
	 
	.rounded-pie-103 {
		transform:rotate(103deg);
-ms-transform:rotate(103deg);
-webkit-transform:(103deg);
	}

	 
	.rounded-pie-104 {
		transform:rotate(104deg);
-ms-transform:rotate(104deg);
-webkit-transform:(104deg);
	}

	 
	.rounded-pie-105 {
		transform:rotate(105deg);
-ms-transform:rotate(105deg);
-webkit-transform:(105deg);
	}

	 
.rounded-pie-106 {
		transform:rotate(106deg);
-ms-transform:rotate(106deg);
-webkit-transform:(106deg);
	}

	 
.rounded-pie-107 {
		transform:rotate(107deg);
-ms-transform:rotate(107deg);
-webkit-transform:(107deg);
	}

	 
.rounded-pie-108 {
		transform:rotate(108deg);
-ms-transform:rotate(108deg);
-webkit-transform:(108deg);
	}

	 
.rounded-pie-109 {
		transform:rotate(109deg);
-ms-transform:rotate(109deg);
-webkit-transform:(109deg);
	}
	 
.rounded-pie-110 {
		transform:rotate(110deg);
-ms-transform:rotate(110deg);
-webkit-transform:(110deg);
	}
	 
.rounded-pie-111 {
		transform:rotate(111deg);
-ms-transform:rotate(111deg);
-webkit-transform:(111deg);
	}
	 
.rounded-pie-112 {
		transform:rotate(112deg);
-ms-transform:rotate(112deg);
-webkit-transform:(112deg);
	}
	 
.rounded-pie-113 {
		transform:rotate(113deg);
-ms-transform:rotate(113deg);
-webkit-transform:(113deg);
	}
	 
.rounded-pie-114 {
		transform:rotate(114deg);
-ms-transform:rotate(114deg);
-webkit-transform:(114deg);
	}
	 
.rounded-pie-115 {
		transform:rotate(115deg);
-ms-transform:rotate(115deg);
-webkit-transform:(115deg);
	}
	 
.rounded-pie-116 {
		transform:rotate(116deg);
-ms-transform:rotate(116deg);
-webkit-transform:(116deg);
	}
	 
.rounded-pie-117 {
		transform:rotate(117deg);
-ms-transform:rotate(117deg);
-webkit-transform:(117deg);
	}

	 
.rounded-pie-118 {
		transform:rotate(118deg);
-ms-transform:rotate(118deg);
-webkit-transform:(118deg);
	}
	 
.rounded-pie-119 {
		transform:rotate(119deg);
-ms-transform:rotate(119deg);
-webkit-transform:(119deg);
	}

	 
.rounded-pie-120 {
		transform:rotate(120deg);
-ms-transform:rotate(120deg);
-webkit-transform:(120deg);
	}
	 
.rounded-pie-121 {
		transform:rotate(121deg);
-ms-transform:rotate(121deg);
-webkit-transform:(121deg);
}

	 
.rounded-pie-122 {
		transform:rotate(122deg);
-ms-transform:rotate(122deg);
-webkit-transform:(122deg);
}
	 
.rounded-pie-123 {
		transform:rotate(123deg);
-ms-transform:rotate(123deg);
-webkit-transform:(123deg);
}
	 
.rounded-pie-124 {
		transform:rotate(124deg);
-ms-transform:rotate(124deg);
-webkit-transform:(124deg);
}
	 
.rounded-pie-125 {
		transform:rotate(125deg);
-ms-transform:rotate(125deg);
-webkit-transform:(125deg);
}
	 
.rounded-pie-126 {
		transform:rotate(126deg);
-ms-transform:rotate(126deg);
-webkit-transform:(126deg);
}
	 
.rounded-pie-127 {
		transform:rotate(127deg);
-ms-transform:rotate(127deg);
-webkit-transform:(127deg);
}
	 
.rounded-pie-128 {
		transform:rotate(128deg);
-ms-transform:rotate(128deg);
-webkit-transform:(128deg);
}

	 
.rounded-pie-129 {
		transform:rotate(129deg);
-ms-transform:rotate(129deg);
-webkit-transform:(129deg);
}
	 
.rounded-pie-130 {
		transform:rotate(130deg);
-ms-transform:rotate(130deg);
-webkit-transform:(130deg);
}
	 
.rounded-pie-131 {
		transform:rotate(131deg);
-ms-transform:rotate(131deg);
-webkit-transform:(131deg);
}
	 
.rounded-pie-132 {
		transform:rotate(132deg);
-ms-transform:rotate(132deg);
-webkit-transform:(132deg);
}
	 
.rounded-pie-133 {
		transform:rotate(133deg);
-ms-transform:rotate(133deg);
-webkit-transform:(133deg);
}
	 
.rounded-pie-134 {
		transform:rotate(134deg);
-ms-transform:rotate(134deg);
-webkit-transform:(134deg);
}
	 
.rounded-pie-135 {
		transform:rotate(135deg);
-ms-transform:rotate(135deg);
-webkit-transform:(135deg);
}
	 
.rounded-pie-136 {
		transform:rotate(136deg);
-ms-transform:rotate(136deg);
-webkit-transform:(136deg);
}
	 
.rounded-pie-137 {
		transform:rotate(137deg);
-ms-transform:rotate(137deg);
-webkit-transform:(137deg);
}
	 
.rounded-pie-138 {
		transform:rotate(138deg);
-ms-transform:rotate(138deg);
-webkit-transform:(138deg);
}
	 
.rounded-pie-139 {
		transform:rotate(139deg);
-ms-transform:rotate(139deg);
-webkit-transform:(139deg);
}
	 
.rounded-pie-140 {
		transform:rotate(140deg);
-ms-transform:rotate(140deg);
-webkit-transform:(140deg);
}
	 
.rounded-pie-141 {
		transform:rotate(141deg);
-ms-transform:rotate(141deg);
-webkit-transform:(141deg);
}
	 
.rounded-pie-142 {
		transform:rotate(142deg);
-ms-transform:rotate(142deg);
-webkit-transform:(142deg);
}
	 
.rounded-pie-143 {
		transform:rotate(143deg);
-ms-transform:rotate(143deg);
-webkit-transform:(143deg);
}
	 
.rounded-pie-144 {
		transform:rotate(144deg);
-ms-transform:rotate(144deg);
-webkit-transform:(144deg);
}
	 
.rounded-pie-145 {
		transform:rotate(145deg);
-ms-transform:rotate(145deg);
-webkit-transform:(145deg);
}
	 
.rounded-pie-146 {
		transform:rotate(146deg);
-ms-transform:rotate(146deg);
-webkit-transform:(146deg);
}
	 
.rounded-pie-147 {
		transform:rotate(147deg);
-ms-transform:rotate(147deg);
-webkit-transform:(147deg);
}
	 
.rounded-pie-148 {
		transform:rotate(148deg);
-ms-transform:rotate(148deg);
-webkit-transform:(148deg);
}
	 
.rounded-pie-149 {
		transform:rotate(149deg);
-ms-transform:rotate(149deg);
-webkit-transform:(149deg);
}
	 
.rounded-pie-150 {
		transform:rotate(150deg);
-ms-transform:rotate(150deg);
-webkit-transform:(150deg);
}
	 
.rounded-pie-151 {
		transform:rotate(151deg);
-ms-transform:rotate(151deg);
-webkit-transform:(151deg);
}
	 
.rounded-pie-152 {
		transform:rotate(152deg);
-ms-transform:rotate(152deg);
-webkit-transform:(152deg);
}
	 
.rounded-pie-153 {
		transform:rotate(153deg);
-ms-transform:rotate(153deg);
-webkit-transform:(153deg);
}
	 
.rounded-pie-154 {
		transform:rotate(154deg);
-ms-transform:rotate(154deg);
-webkit-transform:(154deg);
}
	 
.rounded-pie-155 {
		transform:rotate(155deg);
-ms-transform:rotate(155deg);
-webkit-transform:(155deg);
}
	 
.rounded-pie-156 {
		transform:rotate(156deg);
-ms-transform:rotate(156deg);
-webkit-transform:(156deg);
}
	 
.rounded-pie-157 {
		transform:rotate(157deg);
-ms-transform:rotate(157deg);
-webkit-transform:(157deg);
}
	 
.rounded-pie-158 {
		transform:rotate(158deg);
-ms-transform:rotate(158deg);
-webkit-transform:(158deg);
}
	 
.rounded-pie-159 {
		transform:rotate(159deg);
-ms-transform:rotate(159deg);
-webkit-transform:(159deg);
}
	 
.rounded-pie-160 {
		transform:rotate(160deg);
-ms-transform:rotate(160deg);
-webkit-transform:(160deg);
}
	 
.rounded-pie-161 {
		transform:rotate(161deg);
-ms-transform:rotate(161deg);
-webkit-transform:(161deg);
}
	 
.rounded-pie-162 {
		transform:rotate(162deg);
-ms-transform:rotate(162deg);
-webkit-transform:(162deg);
}
	 
.rounded-pie-163 {
		transform:rotate(163deg);
-ms-transform:rotate(163deg);
-webkit-transform:(163deg);
}
	 
.rounded-pie-164 {
		transform:rotate(164deg);
-ms-transform:rotate(164deg);
-webkit-transform:(164deg);
}
	 
.rounded-pie-165 {
		transform:rotate(165deg);
-ms-transform:rotate(165deg);
-webkit-transform:(165deg);
}
	 
.rounded-pie-166 {
		transform:rotate(166deg);
-ms-transform:rotate(166deg);
-webkit-transform:(166deg);
}
	 
.rounded-pie-167 {
		transform:rotate(167deg);
-ms-transform:rotate(167deg);
-webkit-transform:(167deg);
}
	 
.rounded-pie-168 {
		transform:rotate(168deg);
-ms-transform:rotate(168deg);
-webkit-transform:(168deg);
}
	 
.rounded-pie-169 {
		transform:rotate(169deg);
-ms-transform:rotate(169deg);
-webkit-transform:(169deg);
}
	 
.rounded-pie-170 {
		transform:rotate(170deg);
-ms-transform:rotate(170deg);
-webkit-transform:(170deg);
}
	 
.rounded-pie-171 {
		transform:rotate(171deg);
-ms-transform:rotate(171deg);
-webkit-transform:(171deg);
}
	 
.rounded-pie-172 {
		transform:rotate(172deg);
-ms-transform:rotate(172deg);
-webkit-transform:(172deg);
}
	 
.rounded-pie-173 {
		transform:rotate(173deg);
-ms-transform:rotate(173deg);
-webkit-transform:(173deg);
}
	 
.rounded-pie-174 {
		transform:rotate(174deg);
-ms-transform:rotate(174deg);
-webkit-transform:(174deg);
}
	 
.rounded-pie-175 {
		transform:rotate(175deg);
-ms-transform:rotate(175deg);
-webkit-transform:(175deg);
}
	 
.rounded-pie-176 {
		transform:rotate(176deg);
-ms-transform:rotate(176deg);
-webkit-transform:(176deg);
}
	 
.rounded-pie-177 {
		transform:rotate(177deg);
-ms-transform:rotate(177deg);
-webkit-transform:(177deg);
}
	 
.rounded-pie-178 {
		transform:rotate(178deg);
-ms-transform:rotate(178deg);
-webkit-transform:(178deg);
}
	 
.rounded-pie-179 {
		transform:rotate(179deg);
-ms-transform:rotate(179deg);
-webkit-transform:(179deg);
}
	 
	 
	 
	 
	 
	 
	 
.rounded-pie-180 {
		transform:rotate(180deg);
-ms-transform:rotate(180deg);
-webkit-transform:(180deg);
}
.rounded-pie-181 {
		transform:rotate(181deg);
-ms-transform:rotate(181deg);
-webkit-transform:(181deg);
}
.rounded-pie-182 {
		transform:rotate(182deg);
-ms-transform:rotate(182deg);
-webkit-transform:(182deg);
}
.rounded-pie-183 {
		transform:rotate(183deg);
-ms-transform:rotate(183deg);
-webkit-transform:(183deg);
}
.rounded-pie-184 {
		transform:rotate(184deg);
-ms-transform:rotate(184deg);
-webkit-transform:(184deg);
}
.rounded-pie-185 {
		transform:rotate(185deg);
-ms-transform:rotate(185deg);
-webkit-transform:(185deg);
}
.rounded-pie-186 {
		transform:rotate(186deg);
-ms-transform:rotate(186deg);
-webkit-transform:(186deg);
}
.rounded-pie-187 {
		transform:rotate(187deg);
-ms-transform:rotate(187deg);
-webkit-transform:(187deg);
}
.rounded-pie-188 {
		transform:rotate(188deg);
-ms-transform:rotate(188deg);
-webkit-transform:(188deg);
}
.rounded-pie-189 {
		transform:rotate(189deg);
-ms-transform:rotate(189deg);
-webkit-transform:(189deg);
}
.rounded-pie-190 {
		transform:rotate(190deg);
-ms-transform:rotate(190deg);
-webkit-transform:(190deg);
}
.rounded-pie-191 {
		transform:rotate(191deg);
-ms-transform:rotate(191deg);
-webkit-transform:(191deg);
}
.rounded-pie-192 {
		transform:rotate(192deg);
-ms-transform:rotate(192deg);
-webkit-transform:(192deg);
}
.rounded-pie-193 {
		transform:rotate(193deg);
-ms-transform:rotate(193deg);
-webkit-transform:(193deg);
}
.rounded-pie-194 {
		transform:rotate(194deg);
-ms-transform:rotate(194deg);
-webkit-transform:(194deg);
}
.rounded-pie-195 {
		transform:rotate(195deg);
-ms-transform:rotate(195deg);
-webkit-transform:(195deg);
}
.rounded-pie-196 {
		transform:rotate(196deg);
-ms-transform:rotate(196deg);
-webkit-transform:(196deg);
}
.rounded-pie-197 {
		transform:rotate(197deg);
-ms-transform:rotate(197deg);
-webkit-transform:(197deg);
}
.rounded-pie-198 {
		transform:rotate(198deg);
-ms-transform:rotate(198deg);
-webkit-transform:(198deg);
}
.rounded-pie-199 {
		transform:rotate(199deg);
-ms-transform:rotate(199deg);
-webkit-transform:(199deg);
}
.rounded-pie-200 {
		transform:rotate(200deg);
-ms-transform:rotate(200deg);
-webkit-transform:(200deg);
}

	.rounded-pie-201 {
		transform:rotate(201deg);
-ms-transform:rotate(201deg);
-webkit-transform:(201deg);
	}
	.rounded-pie-202 {
		transform:rotate(202deg);
-ms-transform:rotate(202deg);
-webkit-transform:(202deg);
	}
	.rounded-pie-203 {
		transform:rotate(203deg);
-ms-transform:rotate(203deg);
-webkit-transform:(203deg);
	}

	.rounded-pie-204 {
		transform:rotate(204deg);
-ms-transform:rotate(204deg);
-webkit-transform:(204deg);
	}

	.rounded-pie-205 {
		transform:rotate(205deg);
-ms-transform:rotate(205deg);
-webkit-transform:(205deg);
	}

.rounded-pie-206 {
		transform:rotate(206deg);
-ms-transform:rotate(206deg);
-webkit-transform:(206deg);
	}

.rounded-pie-207 {
		transform:rotate(207deg);
-ms-transform:rotate(207deg);
-webkit-transform:(207deg);
	}

.rounded-pie-208 {
		transform:rotate(208deg);
-ms-transform:rotate(208deg);
-webkit-transform:(208deg);
	}

.rounded-pie-209 {
		transform:rotate(209deg);
-ms-transform:rotate(209deg);
-webkit-transform:(209deg);
	}

.rounded-pie-210 {
		transform:rotate(210deg);
-ms-transform:rotate(210deg);
-webkit-transform:(210deg);
	}
.rounded-pie-211 {
		transform:rotate(211deg);
-ms-transform:rotate(211deg);
-webkit-transform:(211deg);
	}
.rounded-pie-212 {
		transform:rotate(212deg);
-ms-transform:rotate(212deg);
-webkit-transform:(212deg);
	}
.rounded-pie-213 {
		transform:rotate(213deg);
-ms-transform:rotate(213deg);
-webkit-transform:(213deg);
	}
.rounded-pie-214 {
		transform:rotate(214deg);
-ms-transform:rotate(214deg);
-webkit-transform:(214deg);
	}
.rounded-pie-215 {
		transform:rotate(215deg);
-ms-transform:rotate(215deg);
-webkit-transform:(215deg);
	}
.rounded-pie-216 {
		transform:rotate(216deg);
-ms-transform:rotate(216deg);
-webkit-transform:(216deg);
	}
.rounded-pie-217 {
		transform:rotate(217deg);
-ms-transform:rotate(217deg);
-webkit-transform:(217deg);
	}
.rounded-pie-218 {
		transform:rotate(218deg);
-ms-transform:rotate(218deg);
-webkit-transform:(218deg);
	}
.rounded-pie-219 {
		transform:rotate(219deg);
-ms-transform:rotate(219deg);
-webkit-transform:(219deg);
	}
.rounded-pie-220 {
		transform:rotate(220deg);
-ms-transform:rotate(220deg);
-webkit-transform:(220deg);
	}
.rounded-pie-221 {
		transform:rotate(221deg);
-ms-transform:rotate(221deg);
-webkit-transform:(221deg);
}
.rounded-pie-222 {
		transform:rotate(222deg);
-ms-transform:rotate(222deg);
-webkit-transform:(222deg);
}
.rounded-pie-223 {
		transform:rotate(223deg);
-ms-transform:rotate(223deg);
-webkit-transform:(223deg);
}
.rounded-pie-224 {
		transform:rotate(224deg);
-ms-transform:rotate(224deg);
-webkit-transform:(224deg);
}
.rounded-pie-225 {
		transform:rotate(225deg);
-ms-transform:rotate(225deg);
-webkit-transform:(225deg);
}
.rounded-pie-226 {
		transform:rotate(226deg);
-ms-transform:rotate(226deg);
-webkit-transform:(226deg);
}
.rounded-pie-227 {
		transform:rotate(227deg);
-ms-transform:rotate(227deg);
-webkit-transform:(227deg);
}
.rounded-pie-228 {
		transform:rotate(228deg);
-ms-transform:rotate(228deg);
-webkit-transform:(228deg);
}

.rounded-pie-229 {
		transform:rotate(229deg);
-ms-transform:rotate(229deg);
-webkit-transform:(229deg);
}
.rounded-pie-230 {
		transform:rotate(230deg);
-ms-transform:rotate(230deg);
-webkit-transform:(230deg);
}
.rounded-pie-231 {
		transform:rotate(231deg);
-ms-transform:rotate(231deg);
-webkit-transform:(231deg);
}
.rounded-pie-232 {
		transform:rotate(232deg);
-ms-transform:rotate(232deg);
-webkit-transform:(232deg);
}
.rounded-pie-233 {
		transform:rotate(233deg);
-ms-transform:rotate(233deg);
-webkit-transform:(233deg);
}
.rounded-pie-234 {
		transform:rotate(234deg);
-ms-transform:rotate(234deg);
-webkit-transform:(234deg);
}
.rounded-pie-235 {
		transform:rotate(235deg);
-ms-transform:rotate(235deg);
-webkit-transform:(235deg);
}
.rounded-pie-236 {
		transform:rotate(236deg);
-ms-transform:rotate(236deg);
-webkit-transform:(236deg);
}
.rounded-pie-237 {
		transform:rotate(237deg);
-ms-transform:rotate(237deg);
-webkit-transform:(237deg);
}
.rounded-pie-238 {
		transform:rotate(238deg);
-ms-transform:rotate(238deg);
-webkit-transform:(238deg);
}
.rounded-pie-239 {
		transform:rotate(239deg);
-ms-transform:rotate(239deg);
-webkit-transform:(239deg);
}
.rounded-pie-240 {
		transform:rotate(240deg);
-ms-transform:rotate(240deg);
-webkit-transform:(240deg);
}
.rounded-pie-241 {
		transform:rotate(241deg);
-ms-transform:rotate(241deg);
-webkit-transform:(241deg);
}
.rounded-pie-242 {
		transform:rotate(242deg);
-ms-transform:rotate(242deg);
-webkit-transform:(242deg);
}
.rounded-pie-243 {
		transform:rotate(243deg);
-ms-transform:rotate(243deg);
-webkit-transform:(243deg);
}
.rounded-pie-244 {
		transform:rotate(244deg);
-ms-transform:rotate(244deg);
-webkit-transform:(244deg);
}
.rounded-pie-245 {
		transform:rotate(245deg);
-ms-transform:rotate(245deg);
-webkit-transform:(245deg);
}
.rounded-pie-246 {
		transform:rotate(246deg);
-ms-transform:rotate(246deg);
-webkit-transform:(246deg);
}
.rounded-pie-247 {
		transform:rotate(247deg);
-ms-transform:rotate(247deg);
-webkit-transform:(247deg);
}
.rounded-pie-248 {
		transform:rotate(248deg);
-ms-transform:rotate(248deg);
-webkit-transform:(248deg);
}
.rounded-pie-249 {
		transform:rotate(249deg);
-ms-transform:rotate(249deg);
-webkit-transform:(249deg);
}
.rounded-pie-250 {
		transform:rotate(250deg);
-ms-transform:rotate(250deg);
-webkit-transform:(250deg);
}
.rounded-pie-251 {
		transform:rotate(251deg);
-ms-transform:rotate(251deg);
-webkit-transform:(251deg);
}
.rounded-pie-252 {
		transform:rotate(252deg);
-ms-transform:rotate(252deg);
-webkit-transform:(252deg);
}
.rounded-pie-253 {
		transform:rotate(253deg);
-ms-transform:rotate(253deg);
-webkit-transform:(253deg);
}
.rounded-pie-254 {
		transform:rotate(254deg);
-ms-transform:rotate(254deg);
-webkit-transform:(254deg);
}
.rounded-pie-255 {
		transform:rotate(255deg);
-ms-transform:rotate(255deg);
-webkit-transform:(255deg);
}
.rounded-pie-256 {
		transform:rotate(256deg);
-ms-transform:rotate(256deg);
-webkit-transform:(256deg);
}
.rounded-pie-257 {
		transform:rotate(257deg);
-ms-transform:rotate(257deg);
-webkit-transform:(257deg);
}
.rounded-pie-258 {
		transform:rotate(258deg);
-ms-transform:rotate(258deg);
-webkit-transform:(258deg);
}
.rounded-pie-259 {
		transform:rotate(259deg);
-ms-transform:rotate(259deg);
-webkit-transform:(259deg);
}
.rounded-pie-260 {
		transform:rotate(260deg);
-ms-transform:rotate(260deg);
-webkit-transform:(260deg);
}
.rounded-pie-261 {
		transform:rotate(261deg);
-ms-transform:rotate(261deg);
-webkit-transform:(261deg);
}
.rounded-pie-262 {
		transform:rotate(262deg);
-ms-transform:rotate(262deg);
-webkit-transform:(262deg);
}
.rounded-pie-263 {
		transform:rotate(263deg);
-ms-transform:rotate(263deg);
-webkit-transform:(263deg);
}
.rounded-pie-264 {
		transform:rotate(264deg);
-ms-transform:rotate(264deg);
-webkit-transform:(264deg);
}
.rounded-pie-265 {
		transform:rotate(265deg);
-ms-transform:rotate(265deg);
-webkit-transform:(265deg);
}
.rounded-pie-266 {
		transform:rotate(266deg);
-ms-transform:rotate(266deg);
-webkit-transform:(266deg);
}
.rounded-pie-267 {
		transform:rotate(267deg);
-ms-transform:rotate(267deg);
-webkit-transform:(267deg);
}
.rounded-pie-268 {
		transform:rotate(268deg);
-ms-transform:rotate(268deg);
-webkit-transform:(268deg);
}
.rounded-pie-269 {
		transform:rotate(269deg);
-ms-transform:rotate(269deg);
-webkit-transform:(269deg);
}
.rounded-pie-270 {
		transform:rotate(270deg);
-ms-transform:rotate(270deg);
-webkit-transform:(270deg);
}
.rounded-pie-271 {
		transform:rotate(271deg);
-ms-transform:rotate(271deg);
-webkit-transform:(271deg);
}
.rounded-pie-272 {
		transform:rotate(272deg);
-ms-transform:rotate(272deg);
-webkit-transform:(272deg);
}
.rounded-pie-273 {
		transform:rotate(273deg);
-ms-transform:rotate(273deg);
-webkit-transform:(273deg);
}
.rounded-pie-274 {
		transform:rotate(274deg);
-ms-transform:rotate(274deg);
-webkit-transform:(274deg);
}
.rounded-pie-275 {
		transform:rotate(275deg);
-ms-transform:rotate(275deg);
-webkit-transform:(275deg);
}
.rounded-pie-276 {
		transform:rotate(276deg);
-ms-transform:rotate(276deg);
-webkit-transform:(276deg);
}
.rounded-pie-277 {
		transform:rotate(277deg);
-ms-transform:rotate(277deg);
-webkit-transform:(277deg);
}
.rounded-pie-278 {
		transform:rotate(278deg);
-ms-transform:rotate(278deg);
-webkit-transform:(278deg);
}
.rounded-pie-279 {
		transform:rotate(279deg);
-ms-transform:rotate(279deg);
-webkit-transform:(279deg);
}
.rounded-pie-280 {
		transform:rotate(280deg);
-ms-transform:rotate(280deg);
-webkit-transform:(280deg);
}
.rounded-pie-281 {
		transform:rotate(281deg);
-ms-transform:rotate(281deg);
-webkit-transform:(281deg);
}
.rounded-pie-282 {
		transform:rotate(282deg);
-ms-transform:rotate(282deg);
-webkit-transform:(282deg);
}
.rounded-pie-283 {
		transform:rotate(283deg);
-ms-transform:rotate(283deg);
-webkit-transform:(283deg);
}
.rounded-pie-284 {
		transform:rotate(284deg);
-ms-transform:rotate(284deg);
-webkit-transform:(284deg);
}
.rounded-pie-285 {
		transform:rotate(285deg);
-ms-transform:rotate(285deg);
-webkit-transform:(285deg);
}
.rounded-pie-286 {
		transform:rotate(286deg);
-ms-transform:rotate(286deg);
-webkit-transform:(286deg);
}
.rounded-pie-287 {
		transform:rotate(287deg);
-ms-transform:rotate(287deg);
-webkit-transform:(287deg);
}
.rounded-pie-288 {
		transform:rotate(288deg);
-ms-transform:rotate(288deg);
-webkit-transform:(288deg);
}
.rounded-pie-289 {
		transform:rotate(289deg);
-ms-transform:rotate(289deg);
-webkit-transform:(289deg);
}
.rounded-pie-290 {
		transform:rotate(290deg);
-ms-transform:rotate(290deg);
-webkit-transform:(290deg);
}
.rounded-pie-291 {
		transform:rotate(291deg);
-ms-transform:rotate(291deg);
-webkit-transform:(291deg);
}
.rounded-pie-292 {
		transform:rotate(292deg);
-ms-transform:rotate(292deg);
-webkit-transform:(292deg);
}
.rounded-pie-293 {
		transform:rotate(293deg);
-ms-transform:rotate(293deg);
-webkit-transform:(293deg);
}
.rounded-pie-294 {
		transform:rotate(294deg);
-ms-transform:rotate(294deg);
-webkit-transform:(294deg);
}
.rounded-pie-295 {
		transform:rotate(295deg);
-ms-transform:rotate(295deg);
-webkit-transform:(295deg);
}
.rounded-pie-296 {
		transform:rotate(296deg);
-ms-transform:rotate(296deg);
-webkit-transform:(296deg);
}
.rounded-pie-297 {
		transform:rotate(297deg);
-ms-transform:rotate(297deg);
-webkit-transform:(297deg);
}
.rounded-pie-298 {
		transform:rotate(298deg);
-ms-transform:rotate(298deg);
-webkit-transform:(298deg);
}
.rounded-pie-299 {
		transform:rotate(299deg);
-ms-transform:rotate(299deg);
-webkit-transform:(299deg);
}
	.rounded-pie-300 {
		transform:rotate(300deg);
-ms-transform:rotate(300deg);
-webkit-transform:(300deg);
	}
	.rounded-pie-301 {
		transform:rotate(301deg);
-ms-transform:rotate(301deg);
-webkit-transform:(301deg);
	}
	.rounded-pie-302 {
		transform:rotate(302deg);
-ms-transform:rotate(302deg);
-webkit-transform:(302deg);
	}
	.rounded-pie-303 {
		transform:rotate(303deg);
-ms-transform:rotate(303deg);
-webkit-transform:(303deg);
	}

	.rounded-pie-304 {
		transform:rotate(304deg);
-ms-transform:rotate(304deg);
-webkit-transform:(304deg);
	}

	.rounded-pie-305 {
		transform:rotate(305deg);
-ms-transform:rotate(305deg);
-webkit-transform:(305deg);
	}

.rounded-pie-306 {
		transform:rotate(306deg);
-ms-transform:rotate(306deg);
-webkit-transform:(306deg);
	}

.rounded-pie-307 {
		transform:rotate(307deg);
-ms-transform:rotate(307deg);
-webkit-transform:(307deg);
	}

.rounded-pie-308 {
		transform:rotate(308deg);
-ms-transform:rotate(308deg);
-webkit-transform:(308deg);
	}

.rounded-pie-309 {
		transform:rotate(309deg);
-ms-transform:rotate(309deg);
-webkit-transform:(309deg);
	}

.rounded-pie-310 {
		transform:rotate(310deg);
-ms-transform:rotate(310deg);
-webkit-transform:(310deg);
	}
.rounded-pie-311 {
		transform:rotate(311deg);
-ms-transform:rotate(311deg);
-webkit-transform:(311deg);
	}
.rounded-pie-312 {
		transform:rotate(312deg);
-ms-transform:rotate(312deg);
-webkit-transform:(312deg);
	}
.rounded-pie-313 {
		transform:rotate(313deg);
-ms-transform:rotate(313deg);
-webkit-transform:(313deg);
	}
.rounded-pie-314 {
		transform:rotate(314deg);
-ms-transform:rotate(314deg);
-webkit-transform:(314deg);
	}
.rounded-pie-315 {
		transform:rotate(315deg);
-ms-transform:rotate(315deg);
-webkit-transform:(315deg);
	}
.rounded-pie-316 {
		transform:rotate(316deg);
-ms-transform:rotate(316deg);
-webkit-transform:(316deg);
	}
.rounded-pie-317 {
		transform:rotate(317deg);
-ms-transform:rotate(317deg);
-webkit-transform:(317deg);
	}
.rounded-pie-318 {
		transform:rotate(318deg);
-ms-transform:rotate(318deg);
-webkit-transform:(318deg);
	}
.rounded-pie-319 {
		transform:rotate(319deg);
-ms-transform:rotate(319deg);
-webkit-transform:(319deg);
	}
.rounded-pie-320 {
		transform:rotate(320deg);
-ms-transform:rotate(320deg);
-webkit-transform:(320deg);
	}
.rounded-pie-321 {
		transform:rotate(321deg);
-ms-transform:rotate(321deg);
-webkit-transform:(321deg);
}
.rounded-pie-322 {
		transform:rotate(322deg);
-ms-transform:rotate(322deg);
-webkit-transform:(322deg);
}
.rounded-pie-323 {
		transform:rotate(323deg);
-ms-transform:rotate(323deg);
-webkit-transform:(323deg);
}
.rounded-pie-324 {
		transform:rotate(324deg);
-ms-transform:rotate(324deg);
-webkit-transform:(324deg);
}
.rounded-pie-325 {
		transform:rotate(325deg);
-ms-transform:rotate(325deg);
-webkit-transform:(325deg);
}
.rounded-pie-326 {
		transform:rotate(326deg);
-ms-transform:rotate(326deg);
-webkit-transform:(326deg);
}
.rounded-pie-327 {
		transform:rotate(327deg);
-ms-transform:rotate(327deg);
-webkit-transform:(327deg);
}
.rounded-pie-328 {
		transform:rotate(328deg);
-ms-transform:rotate(328deg);
-webkit-transform:(328deg);
}

.rounded-pie-329 {
		transform:rotate(329deg);
-ms-transform:rotate(329deg);
-webkit-transform:(329deg);
}
.rounded-pie-330 {
		transform:rotate(330deg);
-ms-transform:rotate(330deg);
-webkit-transform:(330deg);
}
.rounded-pie-331 {
		transform:rotate(331deg);
-ms-transform:rotate(331deg);
-webkit-transform:(331deg);
}
.rounded-pie-332 {
		transform:rotate(332deg);
-ms-transform:rotate(332deg);
-webkit-transform:(332deg);
}
.rounded-pie-333 {
		transform:rotate(333deg);
-ms-transform:rotate(333deg);
-webkit-transform:(333deg);
}
.rounded-pie-334 {
		transform:rotate(334deg);
-ms-transform:rotate(334deg);
-webkit-transform:(334deg);
}
.rounded-pie-335 {
		transform:rotate(335deg);
-ms-transform:rotate(335deg);
-webkit-transform:(335deg);
}
.rounded-pie-336 {
		transform:rotate(336deg);
-ms-transform:rotate(336deg);
-webkit-transform:(336deg);
}
.rounded-pie-337 {
		transform:rotate(337deg);
-ms-transform:rotate(337deg);
-webkit-transform:(337deg);
}
.rounded-pie-338 {
		transform:rotate(338deg);
-ms-transform:rotate(338deg);
-webkit-transform:(338deg);
}
.rounded-pie-339 {
		transform:rotate(339deg);
-ms-transform:rotate(339deg);
-webkit-transform:(339deg);
}
.rounded-pie-340 {
		transform:rotate(340deg);
-ms-transform:rotate(340deg);
-webkit-transform:(340deg);
}
.rounded-pie-341 {
		transform:rotate(341deg);
-ms-transform:rotate(341deg);
-webkit-transform:(341deg);
}
.rounded-pie-342 {
		transform:rotate(342deg);
-ms-transform:rotate(342deg);
-webkit-transform:(342deg);
}
.rounded-pie-343 {
		transform:rotate(343deg);
-ms-transform:rotate(343deg);
-webkit-transform:(343deg);
}
.rounded-pie-344 {
		transform:rotate(344deg);
-ms-transform:rotate(344deg);
-webkit-transform:(344deg);
}
.rounded-pie-345 {
		transform:rotate(345deg);
-ms-transform:rotate(345deg);
-webkit-transform:(345deg);
}
.rounded-pie-346 {
		transform:rotate(346deg);
-ms-transform:rotate(346deg);
-webkit-transform:(346deg);
}
.rounded-pie-347 {
		transform:rotate(347deg);
-ms-transform:rotate(347deg);
-webkit-transform:(347deg);
}
.rounded-pie-348 {
		transform:rotate(348deg);
-ms-transform:rotate(348deg);
-webkit-transform:(348deg);
}
.rounded-pie-349 {
		transform:rotate(349deg);
-ms-transform:rotate(349deg);
-webkit-transform:(349deg);
}
.rounded-pie-350 {
		transform:rotate(350deg);
-ms-transform:rotate(350deg);
-webkit-transform:(350deg);
}
.rounded-pie-351 {
		transform:rotate(351deg);
-ms-transform:rotate(351deg);
-webkit-transform:(351deg);
}
.rounded-pie-352 {
		transform:rotate(352deg);
-ms-transform:rotate(352deg);
-webkit-transform:(352deg);
}
.rounded-pie-353 {
		transform:rotate(353deg);
-ms-transform:rotate(353deg);
-webkit-transform:(353deg);
}
.rounded-pie-354 {
		transform:rotate(354deg);
-ms-transform:rotate(354deg);
-webkit-transform:(354deg);
}
.rounded-pie-355 {
		transform:rotate(355deg);
-ms-transform:rotate(355deg);
-webkit-transform:(355deg);
}
.rounded-pie-356 {
		transform:rotate(356deg);
-ms-transform:rotate(356deg);
-webkit-transform:(356deg);
}
.rounded-pie-357 {
		transform:rotate(357deg);
-ms-transform:rotate(357deg);
-webkit-transform:(357deg);
}
.rounded-pie-358 {
		transform:rotate(358deg);
-ms-transform:rotate(358deg);
-webkit-transform:(358deg);
}
.rounded-pie-359 {
		transform:rotate(359deg);
-ms-transform:rotate(359deg);
-webkit-transform:(359deg);
}
.rounded-pie-360 {
		transform:rotate(360deg);
-ms-transform:rotate(360deg);
-webkit-transform:(360deg);
}


.rounded-first {
	height: 49px;
	position:absolute;
	z-index: 5;
	width: 57px;
	left: 24px;
	top: 11px;
}

.rounded-second {
/*
	height: 70px;
	left: 45px;
*/
	height: 73px;
	left: 48px;
	position: absolute;
	z-index:5;
	width:10px;
	top: 0px;
}

.jumbo.rounded-second {
	height: 100px;
	left: 56px;
	position: absolute;
	z-index:5;
	width:16px;
	top: 0px;
}

.rounded .ball {
  	background-color:#63ba46;
	border-radius: 10px;
	-moz-border-radius: 10px;
	width: 10px;
	height: 10px;
}

.jumbo.rounded .ball {
	width: 11px;
	height: 11px;
}


.rounded .ball.pull-left {
	margin-left: 24px;
	margin-top: -11px;
}
.jumbo.rounded .ball.pull-left {
	margin-left: 35px;
}
