.pietimer {
    position:relative;
    font-size: 200px;
    width:1em;
    height:1em;
    float: left;
}
.pietimer > .percent {
    position: absolute;
    top: 1.05em;
    left: 0;
    width: 3.33em;
    font-size: 0.3em;
    text-align:center;
    display: none;
}
.pietimer > .slice {
    position:absolute;
/*
    width:2em;
    height:2em;
*/
	width:40px;
	height:40px;
    clip:rect(0px,1em,1em,0.37em);
}
.pietimer > .slice > .pie {
	border:0.08em solid #859298 !important;
/*
	width: 0.4em !important;
	height: 0.4em !important;
*/
}
.pietimer > .slice.gt50 {
    clip:rect(auto, auto, auto, auto);
}
.pietimer > .slice > .pie {
/*    border: 0.1em solid #c0c0c0; */
	border: 10px solid #c0c0c0;
    position:absolute;
/*    width:0.8em; */ /* 1 - (2 * border width) */
/*    height:0.8em; */ /* 1 - (2 * border width) */
	width: 40px;
	height: 40px;
/*    clip:rect(0em,0.5em,1em,0em); */
	clip:rect(0em,0.37em,2em,0em);
    -moz-border-radius:0.6em;
    -webkit-border-radius:0.6em; 
    border-radius:0.6em; 
}
.pietimer > .slice > .pie.fill {
    -moz-transform:rotate(180deg) !important;
    -webkit-transform:rotate(180deg) !important;
    -o-transform:rotate(180deg) !important;
    transform:rotate(180deg) !important;
}
.pietimer.fill > .percent {
    display: none;
}
.pietimer.fill > .slice > .pie {
    border: transparent;
    background-color: #c0c0c0;
    width:1em;
    height:1em;
}

.finalscore .pietimer > .slice {
	width: 1em;
	height: 1em;
}

.finalscore .pietimer > .slice > .pie {
	width: 200px;
	height: 200px;
	border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	-webkit-border-radius:0.8em;
	clip:rect(0em,0.5em,2em,0em);
	
}

.finalscore {
	width: 209px;
	height: 227px;
}

.finalscore .pietimer {
	position: absolute;
}

.finalscore .redpie {
	z-index: 1;
}

.finalscore .greenpie {
	z-index: 2;
}
	
