/*Loader */

#loader-sppinner{
  display: block;
  height: 96px;
  margin: 2px 0 28px;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #fcf8e3;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader {
  font-size: 11px;
  text-indent: -99999em;
  margin: 0 auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em #09C;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #fcf8e3;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

button.btn.btn-arrow.disabled.pull-right,
button.btn.btn-arrow.blue.pull-right,
button.btn.btn-arrow.blue{
  width: 77px;
  height: 40px;
  position: relative;
  border-bottom-left-radius:2px;
  border-top-left-radius:2px;
}

button.btn.btn-arrow.disabled.pull-right:after{
	content: "";
  position: absolute;
  left: 101%;
  top: -1px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #999;
  border-bottom: 20px solid transparent;
}

button.btn.btn-arrow.blue.pull-right:after,
button.btn.btn-arrow.blue:after{
	content: "";
  position: absolute;
 	left: 101%;
  top: -1px;
 	width: 0;
 	height: 0;
 	border-top: 20px solid transparent;
 	border-left: 15px solid #29ABE2;
  border-bottom: 20px solid transparent;
}

button.btn.btn-arrow.gray{
  width: 77px;
  height: 40px;
  position: relative;
  border-bottom-right-radius:2px;
  border-top-right-radius:2px;
}

button.btn.btn-arrow.gray:before{
  content: "";
  position: absolute;
  right: 101%;
  top: -1px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 15px solid #666;
  border-bottom: 20px solid transparent;
}

.vertical-spacing{
  padding-top: 11px;
}

.vertical-spacing-2{
  padding-top: 4px;
  padding-bottom: 4px;
}

.fa-square-o.fa-lg{
  color: #ddd;
}

.checkbox-size-color{
  font-size: 28px;
  color: #ddd !important;
}

i.pull-left.checked-square{
  margin-top: 7px !important;
  font-size: 26px;
  background-image: url("../img/checked_yellow.jpg");
  background-repeat: no-repeat;
  width: 30.5px;
  height: 27px;
}

.quiz-creation-step-1 .chapter-info{
  border-top: 1px solid #ddd;
  padding-top: 12px;
}

.quiz-creation-step-2 .sub-heading{
  padding-top: 0;
  font-size: 26.7px;
}

.quiz-creation-step-2 .chapter-total{
  padding: 0;
  float: none;
  display: block;
}

.border-line{
  border-bottom: 1px solid #ddd;
}

.text-muted,
.question-choice{
  padding: 0;
  font-size: 16px;
}

.chapter-border{
  border-top: 1px solid #ddd;
  padding-top: 12px;
}

.options-quiz{
  font-size: 17px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #85949a;
}

.options-quiz:nth-child(3){
  padding-top: 0;
}

.scroller-sticker-button{
  position: fixed;
  right: 95px;
  z-index: 3;
}

.instructions-beginquiz{
  margin: -90px -16px 0 0;
}

.title-sidenav{
  font-size: 21px;
  line-height: 10px;
  font-weight: 100;
  border: none;
  box-shadow: none;
}

.help-overview img{
  width: 50%;
  margin: 20px 0;
}

.exit-calculator-btn{
  float: right;
}

div.row.container.final-score.summary.ng-scope{
  padding-top: 6%;
  padding-left: 0;
  padding-right: 0;
}

div.row.container.final-score.summary .sub-heading-name {
  font-size: 2em;
  font-weight: bold;
}
.final-score-category-title{
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: lighter;
}
.final-score-category-title:nth-child(1){
  margin-top: 20px;
}
h4.quizlet-repeat-title.text-left.row.col-md-12.ng-binding{
  font-weight: lighter;
}

div.row.container.final-score.summary a.pull-left.help-link{
  padding-top: 1%;
}


div.row.container.final-score.section-breakdown h3{
  padding-left: 2%;
  font-size: 2em;
}

div.row.container.final-score.section-breakdown.ng-scope  div.quiz-chapter.pin.ng-scope.pull-left h3.lead.small{
  padding-left: 0;
}


div.row.container.final-score.section-breakdown.ng-scope .quiz-chapter.pin.ng-scope.pull-left,
 div.row.container.final-score.section-breakdown.ng-scope .quiz-chapter.pin.ng-scope.pull-right{
  width: 48%;
}



div.row.container.final-score.section-breakdown.ng-scope .pin-container{
  width: 96%;
  border-top: 1px solid #ddd;
  margin: 0 2%;
}


div.row.container.final-score.summary.ng-scope div.question-categories.row.text-center .sprite-checkmark{
  background: transparent url("../img/sprites.png") -8px -285px no-repeat;
}

div.row.container.final-score.summary.ng-scope div.question-categories.row.text-center .sprite-x{
  background: transparent url("../img/sprites.png") -82px -284px no-repeat;
}

div.row.container.final-score.summary.ng-scope div.question-categories.row.text-center .sprite-question{
  background: transparent url("../img/sprites.png") -154px -282px no-repeat;
}

div.row.container.final-score.summary.ng-scope div.question-categories.row.text-center .sprite-flag{
  background: transparent url("../img/sprites.png") -216px -285px no-repeat;
}

div.row.container.final-score.summary.ng-scope div.question-categories.row.text-center .sprite-note{
  background: transparent url("../img/sprites.png") -292px -286px no-repeat;
}

div.row.container.final-score.summary.ng-scope .text-center button.btn.btn-primary.pull-left.btn-ice{
  margin-top: 0%;
  margin-left: -4%;
  padding: 2% 4%;
}

div.row.container.final-score.summary.ng-scope .text-center  input.row.form-control.ng-pristine.ng-valid{
  height: 40px;
}


.preview .question-box .btn-group-vertical{
  width: 630px;
}

.preview .btn-group>.btn+.dropdown-toggle{
  padding-left: 30px;
}

.preview .btn-group>.btn:first-child{
  margin-left: 18px;
}
