/* Put your CSS here */
html, body {
    margin: 0 20px 20px 20px;
	background-color:#e2f5fd;
    /*padding-bottom:50px;*/
	font-family: 'Open Sans';
	color: #333;
}

body a, body .link{
	cursor:pointer;
	color: #2daade;
}

body a.not-a-link,
body a.not-a-link:hover {
	text-decoration: none !important;
	cursor: default !important;
	color: #999;
}
h1.page-header {
	font-size: 38px;
	font-weight: 100;
	margin: 18px 0 40px;
    padding-bottom: 21px;
}

.modal-calc .modal-body {
	height: 347px;
}

.modal-calc .drag-text {
	display: none;
	font-size: 30px;
	color: #999;
	margin:auto;
}

.btn-opacified {
	  /* IE 8 */
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

	  /* IE 5-7 */
	  filter: alpha(opacity=50);

	  /* Netscape */
	  -moz-opacity: 0.5;

	  /* Safari 1.x */
	  -khtml-opacity: 0.5;

	  /* Good browsers */
	  opacity: 0.5;
}

.rcpa-modal-lg .modal-dialog {
	width: 900px;
}

.rcpa-modal-md .modal-dialog {
	width: 720px;
}

.rcpa-modal-sm .modal-dialog {
	width: 300px;
}

.student-name {
	width: 240px;
	height: 34px;
	line-height: 15px;
	padding-top: 14px;
	text-align: right;
}

.blurb, p.blurb {
	font-size: 13px;
	color: #666;
}
.filters-blurb {
	border-bottom: 1px solid #ddd;
	width: 50%;
	margin-bottom: 0px;
	padding-bottom: 10px;
	margin-right: 10px;
}
.top-heading, .sub-heading {
	font-family: 'Open Sans';
}

.top-heading {
	font-size: 35px;
	font-weight: 100;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
	margin: 20px 0 0 0;
}

.sub-heading {
	font-size: 28px;
	color: #999;
	padding-bottom: 6px;
	font-weight: 100;
	padding-top: 6px;
}
.final-score .sub-heading {
	padding-top: 0;
}

.btn.btn-arrow {
	background-color:#666;
	border-radius: 0px;
	color: #fff;
	-moz-border-radius: 0px;
	font-size: 17px;
}

.btn.btn-arrow.blue {
	background-color:#29ABE2;
}

.btn.btn-arrow.disabled {
	background-color:#999;
}

.btn-link{
	color: #29abe2;
}

.blue {
 	color: #29abe2;
}

.table-striped > tbody > tr:nth-child(2n+1) > td,
.table-striped > tbody > tr:nth-child(2n+1) > th {
	background-color: #f6f6f6;
}

table.table tbody tr td.td-white {
	background-color: #fff;
}

.uppercase {
	text-transform: uppercase;
}

.scroller-sticker {
	position:fixed;
	z-index:3;
	text-align:center;
	width: 915px;
	top: 85px;
}
.step3-beginquiz .scroller-sticker {
	left: 400px;
}
.choose-chapters-sticky.scroller-sticker{
	top: 78px;
	height: 79px;
	padding-top: 19px;
	padding-right: 35px;
	width: 876px;
	background-color: #fff;
	text-align: left;
}
.exam-simulator-summary .choose-chapters-sticky.scroller-sticker{
	padding-right: 22px;
}
.exam-simulator-summary .choose-chapters-sticky .btn.btn-arrow.blue{
	display: block;
}
.choose-quiz-type-sticky.scroller-sticker {
	  top: 97px;
	  background-color: #fff;
/*	  width: 165px;*/
	  padding-top: 0;
	  text-align: left;
	width: 916px;
	padding-right: 19px !important;
	padding-left: 19px !important;
	margin-left: -21px !important;
/*	  margin-left: 698px;*/
}

.instructions-beginquiz.scroller-sticker {
	padding-top:1px;
	width: 872px;
	text-align: left;
	background-color: #fff;
	top: 91px;
}
.step3-back.scroller-sticker {
	width: 65px;
	top: 86px;
	position: fixed;
	z-index:4;
}
#setupcontainer .navbar .container {
	width: 100%;
	background-color: transparent;
}
.navbar-fixed-top {
	border-bottom:2px solid #000;
		/*-webkit-box-shadow: 0px 3px 12px rgba(20, 20, 20, 0.8);
-moz-box-shadow:    0px 3px 14px rgba(20, 20, 20, 0.8);
box-shadow:         0px 3px 14px rgba(20, 20, 20, 0.8);
*/
}

body #setupcontainer .container {
	width: auto;
	background-color:#fff;
	box-shadow: 0 4px 0 0 #d6e9f0;
	padding-bottom: 30px;
	padding-left: 21px;
	padding-right: 21px;
}

body #setupcontainer .container.container-no-padding {
	padding-bottom: 0px;
}

body #setupcontainer .container.instructions {
	padding-left: 0;
	padding-right: 0;
}
body #setupcontainer .container .container {
	width: 100%;
}
body #setupcontainer .navbar-fixed-bottom .container {
	width: 100%;
	box-shadow: none;
	padding: 0 !important;
}

body #setupcontainer .question-container {
	width: 100%;
	padding: 0 !important;
	margin-right: 25px;
	margin-left: 7px;
}

.copyright {
	display: block;
	font-size: 11px;
	color: #000;
	text-align: center;
	width: 100%;
	padding-top: 16px;
	padding-bottom:16px;
	float: left;
}

.gray-footer {
	z-index: 2;
	background-color: #85949A;
	border-top: 1px solid #78858B;
}

.gray-footer .container {
	width: 861px;
	background-color: #85949A;
}

.black-footer .copyright {
	color: #000;
}
.logo-wrapper {
	font-weight: 300;
	font-size: 16px;
	color: #333;
}
#logo {
	display:inline;

}

h1, h2, h3 {
	font-family: 'Open Sans';
}
h1.page-title {
	font-size: 38px;
	font-weight: 200;
	color: #333333;
	border-bottom: 1px solid #e9e9e9;
	padding-bottom: 13px;
	margin-bottom: 21px;
	margin-top: 11px;
	padding-top: 0;
	line-height: 56px;
}
h1.page-title.ipq-title {
	padding-left: 0 !important;
	font-size: 30px;
}
.ipq-title-inner-wrapper {
	margin-right: 50px;
}
.section-overview 
h1.page-title {
	padding-bottom: 11px;
}
h3.page-title {
	font-size: 26px;
	font-weight: 200;
	color: #333333;
}
h2.subgray {
	font-size: 27px;
	font-weight: 200;
	margin-top:0;
	line-height: 20px;
	color: #6a787d;
}
.chapter-tables h2.subgray {
	margin-top: 22px;
	border-bottom: 1px solid #e9e9e9;
	padding-bottom: 21px;
	margin-bottom: 0;
}
h2.subheading {
	font-size: 28px;
	font-weight: 300;
	color: #333333;
	padding-bottom: 0;
	margin-bottom: 30px;
	margin-top: 0;
	text-align: left;
}
label.lead {
	margin-right:60px;
	line-height:42px;
	margin-bottom: 0px;
}
.upper-header-wrapper {
	background-color: #fff;
	width: 100%;
}
#pick-section-nav {
	border-bottom: 1px solid gray;
}
#pick-section-nav .btn {
	width: 100px;
	height:52px;
	margin:0px 0px;
	color: #85949a;
	border-radius: 0px;
	-moz-border-radius: 0px;
	background-color:#ffffff !important;
	font-size: 14px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 2px solid #29a9e0;
	border-top: 2px solid #fff;
	border-left: 1px solid #f2f2f2;
	display: block;
	float: left;
}
#pick-section-nav .aud-btn {
	border-bottom: 2px solid #29a9e0;
	border-right: 1px solid #f2f2f2;
}
#pick-section-nav .bec-btn {
	border-bottom: 2px solid #783a79;
	border-right: 1px solid #f2f2f2;
}
#pick-section-nav .far-btn {
	border-bottom: 2px solid #63ba46;
	border-right: 1px solid #f2f2f2;
}
#pick-section-nav .reg-btn {
	border-bottom: 2px solid #f9a823;
	border-right: 1px solid #f2f2f2;
}

#pick-section-nav .btn.active {
/*	margin-top: -3px;*/
	height:52px;
	color: #000000;
	border-right: 0px;
	border-left: 0px;
	font-weight: bold;
	border-top: 2px solid #f9a823;
	border-bottom: 2px solid #fff;
}
#pick-section-nav i {
	font-size:139px;
}
.header-section,
.upper-header {
	background-color: #fff;
}
.lower-header {
	background-color: #85949a;
	border-top: 2px solid #78858b;
}
.quizlet-repeat {
	color: #85949a;
}

.quizlet-repeat .chapter-name {
	font-family: 'Open Sans';
}

.text-gray {
	color: #85949a;
}

.text-italic {
	font-family: 'Merriweather';
	font-style: italic;
}

#quiz-pick-topics-container .col-md-6 {
	/*margin-left:20px;*/
	color: #b2b2b2;
}
.btn-check {
	text-align: left;
	padding-left: 1em;
	margin-left:1em;
}
#quiz-pick-topics-container {
	color: #666;
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 1;
/*	-moz-column-count: 2;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    column-count: 2;
    column-gap: 10px;
    column-fill: auto;*/
	margin: auto;
}
#quiz-pick-topics-container h3 {
	padding-right: 13px !important;
}
#quiz-pick-topics-container .quiz-chapter-mini h3 {
	padding-right: 0 !important;
}
#quiz-pick-topics-container .pin-container h3 {
	padding-right: 0 !important;
	margin-right: 0;
}
#quiz-pick-topics-container .pin-container .quiz-chapter:nth-child(odd) h3 {
	margin-right: -1px;
}
#quiz-pick-topics-container .pin-container .quiz-chapter:nth-child(even) h3 {
	margin-right: -5px;
}

#quiz-pick-topics-container .form-control {
	font-weight: bold;
	font-size: 18px;
}
#quiz-pick-topics-container .btn-xs {
	background-color: #5bb8e5;
}
#quiz-pick-topics-container .btn-xs .fa-times {
	color: #fff;
}
#quiz-pick-topics-container p {
	font-weight: 400;
	padding-top: 5px;
}


.pin {
	/*-moz-column-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	column-break-inside: avoid; */
	display: block;
	/*width:423px;*/
	margin: 0px 0 0 0px;
/*
	margin: 0 2px 15px;
	padding: 15px;
*/
	border: 1px solid transparent;
	border-radius:13px;
	/*box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	background: #FEFEFE;
	background-image: linear-gradient(45deg, #FFF, #F9F9F9); */
	position: relative !important;
	top: auto !important;
	left: auto !important;
	float:left;
	min-height: 75px;
}
.quiz-topic {
	margin: 0px;
}

.pin h3 a, .pin h3 a:link {
/*	color:#fff;*/
	cursor: pointer;
}

.pin h3 a:hover , .pin h3 a:hover {
/*	color:#A1FF00;*/
	text-decoration: none;
}
.pin h3 a.active {

/*	color:#A1FF00;*//*#3EC926;/*#C97D3A;*/
}

/*
.pin .btn-group:after, .pin .btn-group:before {
    content: " ";
    display: table;
}
*/
.pin .btn-group{
   white-space: normal;
}

.btn-check {
	overflow:hidden;
	font-size:12px !important;
}
.nav .btn.btn-default {
	text-transform: uppercase;
	background-image:none;
	background-color:transparent;
	border:none;
	box-shadow:none;
}
.btn.btn-default:hover {
/*	color:#5CD1FF;*/
/*	text-shadow: 1px 1px 7px #74D200;*/
	text-shadow: 0px;
}

.btn.btn-default {
/*	color: #fff;*/
	color:#e2f5fd;
	font-size: 14px;
}

.btn.btn-default.active {
	border-radius:0px;
	-moz-border-radius:0px;
	border:0 solid transparent !important;
	box-shadow:none !important;
/*	font-weight: 450;*/
/*	color:#A1FF00;*//*#3EC926;/*#C97D3A;*/
}


.lower-header .btn.btn-default {
    color: #e2f5fd;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    font-weight: bold;
    padding-top: 14px;
    padding-bottom: 14px;float: left;
}
.lower-header .btn.btn-default.active,
.lower-header .btn.btn-default:hover {
	color: #e2f5fd !important;
	background-color: #505d63 !important;
	font-weight:bold;
	border-radius:0px;
	-moz-border-radius:0px;
}
.lower-header .pull-right {
	color: #ffffff;
	font-size: 12px;
}
.lower-header .pull-right .welcome {
	display: inline-block;
	position: relative;
	top: 1px;
}
.btn.btn-default.btn-check.btn-topic-previnclude {
	color:#aeaeae;
}
.btn.btn-default.btn-check.btn-topic-previnclude i.fa{
	color:#5CD1FF;
	text-shadow: 1px 1px 7px #74D200;
}
.btn.btn-quizoption,
.preview.btn.btn-quizoption:hover {
	color: #000;
	background-image:none;
	background-color:transparent;
	border:none;
	white-space: normal;
	height:auto;
	text-align: left;
	display:block;
	width:100%;
	margin-bottom:3px;
	box-shadow: none;
}
.btn.btn-quizoption:hover {
 	background-color: #28a9e0;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 3px 3px 3px 3px;
}


.preview.btn.btn-quizoption:hover {
	background-color: transparent !important;
	border: none !important;
	text-shadow: 0px !important;
	color: #000 !important;
}

.btn.btn-quizoption.active {
	background-color: #29a9e0;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 3px 3px 3px 3px !important;
    -moz-border-radius: 3px 3px 3px 3px !important;
}

.btn.btn-quizoption.active.incorrect,
.btn-answered.active.incorrect {
	background: url("../img/incorrect.png") no-repeat 0 0 #fff;
}
.preview .preview .btn.btn-quizoption.active.incorrect {
	background: url("../img/incorrect.png") no-repeat 0 3px;
	border-top: 0 !important;
	box-shadow: none !important;
}

.btn.btn-quizoption.active.incorrect span,
.btn.btn-quizoption.active.incorrect span p{
	color: black;
}

.btn.btn-quizoption.active.correct,
.btn-answered.active.correct {
	background: url("../img/correct.png") no-repeat 0 0 #fff;
	border-top: 0 !important;
	box-shadow: none !important;
}
.btn-answered {
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 10px;
}
.btn.btn-answered {
	background-color: transparent !important;
}
.btn.btn-quizoption.active.correct span,
.btn.btn-quizoption.active.correct span p{
	color: black;
}

.navbar-fixed-top {
	border-bottom: 0px;
}

.NextButton, .ActionButton {

	border: 0px;
	background-image:none;
/*	background-color:#FFA500 !important;*/
	background-color: #fff;
	text-decoration: underline;
	font-size: 21px;
	border-radius:3px;
/*	color:#1d1d1d;*/
/*	color:#fff;
	font-weight:bold;*/
	color: #28a9e0;
/*	padding: 10px 33px;*/
	/*border:none;

	font-size:18px;
	padding:8px 12px 10px;
	margin-top:10px;
	font-family:inherit;
	font-weight:200;
	text-rendering: optimizelegibility;
	border:2px solid #444;*/

}

.btn.ActionButton {
	margin: 6px;
	display:block;
/*	width:190px;*/
	text-align: left;
}

.PreviousButton {
/*	background-color: #666;*/
	border: 0px;
	background-image:none;
	background-color: #fff;
	color: #000;
	font-size: 21px;
	text-decoration: underline;
	border-radius:3px;
/*	color:#fff;
	font-weight:bold;
	padding: 10px 33px;
*/
}

.btn.ActionButton:hover {
	color: #fff;
}

.ActionButton span {
float:left;
	}
.ActionButton i {
float:right;
	}
.navbar .container .NextButton i, .ActionButton i {
	margin-top:1px;
	margin-left:14px;

}
.navbar .container .NextButton:hover, .ActionButton:hover {
/*	background-color:#5CD1FF !important;*/
	background-color: #FFA500;
	background-image:none;
}

.navbar.roger{
/*	border-top:2px solid #ADD90E;
	-webkit-box-shadow: 0px -3px 12px rgba(20, 20, 20, 0.8);
	-moz-box-shadow: 0px -3px 14px rgba(20, 20, 20, 0.8);
	box-shadow: 0px -3px 14px rgba(20, 20, 20, 0.8);
*/
	border-top:1px solid #dedede;
/*	border-bottom:1px solid #dedede;*/
	background-color:#f5f5f5;
	z-index: 2;
}
.question-footer {
	z-index:3;
	background-color:#85949A;
	padding-bottom: 20px;
}
.navbar.roger.navbar-fixed-top {
	top: 105px;
	border-top: 0px;
	background-color:#f5f5f5;
}
.navbar.roger.navbar-fixed-top .container {
	background-color:#f5f5f5;
}
.endQuizSolo {
	width:78px;
}
.lead.text-muted {

}
h3.lead.small {
	padding-left:0;
	margin-bottom:0px;
	font-size: 18px;
}
.quiz-chapter.pin:nth-child(odd) h3.lead.small {
	margin-right: 10px;
}
.quiz-chapter.pin:nth-child(even) h3.lead.small {
	margin-left: 10px;
}
h3.lead.small i {
/*	margin-top:6px;*/
}


.well.btn-default {
	border-radius:9px;
	border:1px solid #000;
}
.pin-container {
	height: auto !important;
	display:block;
	width: 100%;
	position:relative;
}
.pull-left .pin-inner-wrapper {
	padding-right: 18px;
}
.pull-right .pin-inner-wrapper {
	padding-left: 18px;
	padding-right: 0;
}
.pin-column {
	float:left;
/*	width: 430px;*/
	width: 100%;
}
.btn-group.btn-group-question-type {
	margin-top:7px;
}
.question-number {
	display:inline-block;
	width:18px;
	font-weight: bold;
	vertical-align: top;
	/*margin-top:1px;*/
}
.tbs-journal-container  span .question-number {
	position:relative;
	left:0;
	top:0;
}
.question-text {
	display:inline-block;
	width:570px;
	margin-bottom: 20px;
	color: #666666;
	font-size: 16px;
}
.preview .preview .question-text {
	font-size: 14px;
	margin-bottom: 5px;
}
.question-text p {
	margin:0 0 0 0;
}
.optionLabel {
	font-size:18px;
	line-height:18px;
	font-weight: 630;
	font-size: 18px;
/*
	display:block;
*/
	float:left;
	width:30px;
}
.quiz .optionLabel {
	color: #464646;
}
.preview .optionLabel {
	color: #666;
}

button.btn.btn-quizoption.ng-scope.ng-pristine.ng-valid:hover span,
button.btn.btn-quizoption.ng-scope.ng-pristine.ng-valid:hover p{
	background-color: #28a9e0;
    color: #fff !important;
}

.active .optionLabel {
  color: #fff;
}

.optionBody{
/*
	display:block;
*/
	float:left;
	width:515px;
}
.optionBody p {
	margin:0 0 0;
	line-height: 18px;
	color: #464646;
}
.active .optionBody p {
	color: #fff;
}

.q-tools button {
/*	margin-bottom:3px; */
	display:block;
/*	width:208px;*/
}
.q-right-next {
	transition: all 1s ease-in-out;
	padding-top: 102px;
}

.q-right-next .btn.nextbtn{
	width: 70px;
	height: 49px;
	position: relative;
	background-color: #f9a823;
    font-size: 14px;
    letter-spacing: 2px;
    padding-top: 5px;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   float: right;
}
#open-options,
#hide-options {
	display: block;
	float: right;
	color: #29a9e0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
#open-options i {
    padding-right: 6px;
}
#hide-options i {
    padding-left: 6px;
}
.q-right-tools {
	transition: all 1s ease-in-out;
	padding-top: 102px;
/*	position: fixed;
	padding-bottom: 15px;
	right: 50%;
	top: 200px;
	width: 196px;
	margin-right: -418px; */
}
.tools-open {
	display: block;
}
.tools-closed {
	display: none;
}
.next-question-wrapper {
	border-top: 1px solid #ededed;
	padding-top: 20px;
	margin-top: 20px;
	width: 195px;
}
.subfooter .q-right-tools {/*
	width:140px;
	margin-right:-414px;
	right: 50%;
	top: auto;
	bottom: 235px;*/
}

.subfooter .q-right-tools .pull-right {
	border-top: 1px solid #e6e6e6;
	padding-top: 20px;
}
.subfooter .q-right-tools .pull-right .pull-right {
	border-top: 0;
	padding-top: 0;
}
.q-right-tools label {
	display: block;
    padding-left: 15px;
    text-indent: -15px;
}
.qlist-container {
	display: block;
	float: left;
	position: relative;
	margin: 10px auto 10px auto;
}
/*.navbar-fixed-bottom .qlist-container {
	float: none;
}*/
.questionflagbar {
	display:block;
	width:16px;
	height:0px;
	float:left;
	margin-top: -12px;
	position:relative;
	margin-bottom: 60px;

}
.questionflagbar-inner {
	position:relative;
	height:33px;
	background-color: #fff;
	display:block;
	width:18px;
	float:left;
	line-height: 12px;
	border:1px solid #ccc;
}
.questionflagbar-inner.current {
	border:1px solid #597B7F;
	background-color:#90F3FF;
}
.questionflagbar-inner.btn-danger {
	background-color: #c9302c;
	border-color: #ac2925;
	color: #fff;
}
.questionflagbar-inner.btn-danger button {
	color:#fefefe;
}
.questionflagbar-inner .btn.btn-link {
	width:16px;
	height:18px;
	padding:0 0;
	margin:2px 0 0;
	line-height: 10px;
}

.row.subfooter {
	margin-top:300px;
	width:100%;
}
/*
.question-topic-nav {
	margin-left:40px;
}
*/
.question-topic-nav ul li i {
	display:inline-block;
	vertical-align: top;
	margin-top: 6px;
}
.question-topic-nav ul li a {
	display:inline-block;
	width:416px;
	margin-top:3px;
}

.container.quiznav {
/*	background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
*/
	text-align: center;
}

.quiznav .container .row {
	background-color: transparent;
}

.navbar.roger .container.quiznav,
.navbar.roger .container.quiznav .container,
.navbar.roger .container.quiznav .container .row,
 {
	border:none;
	padding: 0px;
	background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
}
.navbar.roger .container {
	background-color:#f5f5f5;
}

.note-text {
	word-wrap: break-word;
}
.note-buttons span {
	position: absolute;
	right: -21px;
	cursor: pointer;
}
#noteInput {
	resize: none;

	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	width: 587px;
	height:60px;
	background-color: #fff;
	border:1px solid #ddd;
	margin-top:12px;


	-moz-transition: height 0.4s, border 0.4s, -moz-transform 0.4s;
    -webkit-transition: height 0.4s, border 0.4s, background-color 0.4s, -webkit-transform  0.4s;
    -o-transition:width 0.4s, height 0.4s, background-color 0.4s, -o-transform 0.4s;
    transition:width 0.4s, height 0.4s, background-color 0.4s, -o-transform 0.4s;
}
#noteInput.noteFocus {
	height:120px;
	border:1px solid #ddd;

}
.button-flag-next {
	background: transparent url("../img/icons/arrow-right.png") 0 0 no-repeat;
	cursor:pointer;
	outline: none;
	display:block;
	float: left;
	width:52px;
	height:34px;
	border:none;
	margin-top:18px;
	margin-left: 6px;
}

.button-flag-next-disabled,
.button-flag-prev-disabled {
	opacity: 0.4;
	-moz-opacity: 0.4;

	  /* IE 8 */
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";

	  /* IE 5-7 */
	  filter: alpha(opacity=40);

	  /* Safari 1.x */
	  -khtml-opacity: 0.4;
}

.button-flag-prev {
	background: transparent url("../img/icons/arrow-left.png") 0 0 no-repeat;
	cursor:pointer;
	outline: none;
	display:block;
	float: left;
	width:50px;
	height:34px;
	border:none;
	margin-top:18px;
	margin-bottom: 0;
	margin-right: 10px;
}
.pager-wrapper {
	width: auto;
	display: inline-block;
	margin: auto;
	white-space: nowrap;
}
.roger-checkbox {
	    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}
.popover-content p {
	line-height:18px;
}

form {
  margin:0px 0px 0px 0px;
}
.modal {
	/*width: 850px;*/

  border:none;
  border-radius: 6px 6px 6px 6px;


}
.modal-header {
  border-radius: 6px 6px 0 0;
  position:relative;
  top:-1px;
}


.q-right-tools .btn.nextbtn {
	width: 177px;
	height: 49px;
	position: relative;
	background-color: #f9a823;
    font-size: 14px;
    letter-spacing: 2px;
    padding-top: 5px;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;
}
.q-right-tools .btn.nextbtn:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-left: 15px solid #f9a823;
  border-bottom: 24px solid transparent;
}
.q-right-tools .btn.nextbtn:focus, .q-right-tools .btn.nextbtn:down {
	outline:none;
}
.timer-wrapper {
	position: relative;
}
#timerchart {
	/* background-image: url('../img/timerbackground.png'); */
	background: url('../img/timer-bg.png') no-repeat; 
	width: 60px;
	height: 40px;
	/* padding: 3px; */
	position: absolute;
	margin-bottom: 0px;
	/* float: left !important; */
	border: none;
	left: 0;
	top: 0;
}
.timerControlContainer {
/*
	float:left;
	width:1px;height:1px;
*/
	position: absolute;
	top:6px;
	left: 14px;
	z-index: 10;
}
a.timerControl {
	position:relative;
	left: 0;
	font-size: 8px;
	top: 5px;
	cursor:pointer;
	color:#28a9e0;
}
.blastShield {
	background-color:#222;
	width:100%;
	height:100%;
	position:fixed;
	top:0; left:0;
	text-align: center;
	z-index:5500;
}
.blastShield a {
	/*
	margin: 200px auto;
	*/
	left:50%;
	margin-left:-22px;
	top:50%;
	margin-top:-26px;
	color: #fff;
	cursor: pointer;
	position: fixed;
}
.widgetQuestion-gridContainer .ui-widget table.wijmo-wijgrid-table thead {
	display:none;
}
button, button:hover, button:focus {
	outline:none !important;
}
.option-letter {
	font-weight: 700;
	margin-right:8px;
}
.tbs-journal-container .wijmo-wijgrid-innercell .btn.answerlink {
	white-space: nowrap;
}
.tbs-journal-container .wijmo-wijgrid-innercell .btn.btn-info{
	background-image: none;
	cursor: pointer;
	color: #fff;

	background-color: #7f9293;
	border-color: #74898a;
}
.tbs-journal-container .wijmo-wijgrid-innercell .btn.btn-answered{
	color: #ffffff;
	background-color: #339213 !important;
	background-image: none;
	cursor: pointer;
    padding: 6px 12px !important;
}
.tbs-journal-container .wijmo-wijgrid-innercell .btn.btn-answered-wrong{
	color: #ffffff;
	background-color: #ff0039;
	background-image: none;
	cursor: pointer;
}
.tbs-journal-container .wijmo-wijgrid-innercell .btn.btn-answered.btn.btn-answered-wrong {
	background-color: #ff0039 !important;
}
.instructions.container {
	width: 885px;
}
/*
.instructions ul {
	list-style-type: circle;
}
*/
.wijmo-wijrating-reset {
	display:none;
}
.wijmo-wijrating {
	float:right;
}
.master-solution {
	font-size:smaller;
	font-family:Times Roman, serif;
	color:#303030;
}
.master-solution p {
/*
	margin:0 0 0;
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
*/
	display: block;
}
.modal.modal-wc-assess {
	margin: auto;
	width:600px;
/*
	margin-left:-300px;
*/
}
.modal.modal-wc-assess .alert.alert-inverse {
	color: #ffffff;
	background-color: #2a9fd6;
}
.modal.modal-wc-assess .score {
	text-align: center;
	padding-left:40px;
}
.modal.modal-wc-assess .score h2 {
	font-weight: 400;
	color:#333;
	font-size:26px;
}
.modal.modal-wc-assess .score p {
	text-align: left;
	padding:0 15px 0 40px;
	font-size:11px;
	line-height: 11px;
	}
.modal.modal-calc {
/*
	width:660px;
*/
	width: 120%;
	overflow:hidden;
}
.modal.modal-calc .modal-dialog {
	width: 642px;
}
.modal.modal-calc:focus {
	opacity:1;
}
.modal-calc .modal-header {
	border-bottom:none;
	padding:0;
	height:30px;
	background-color:#fcf8e3;
	color:#c09853;
}
.modal-calc .modal-body {
	padding:0;
}
.modal-calc .modal-footer {
	border-top:none;
	background-color:#fff;
	padding:0;
}

#digital-timer {
	font-size:12px;
	font-weight: normal;
	line-height: 44px;
	position: relative;
	top: -14px;
	margin-left:50px;
	color:#85939a;
}
.research-badge {
	padding:2px 5px 25px;
	line-height: 25px;
}

.quiz-setup-step {
	margin: auto;
	color: #666;
	margin-top:0px;
	border-radius: 9px;
	border: 1px solid #000;
/*	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);*/
/*	background-color: #363636;*/
	background-color:transparent;
/*
	background-image: -moz-linear-gradient(top,#444,#222);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#444),to(#222));
	background-image: -webkit-linear-gradient(top,#444,#222);
	background-image: -o-linear-gradient(top,#444,#222);
	background-image: linear-gradient(to bottom,#444,#222);
	background-repeat: repeat-x;
*/
	border-color: #222 #222 #000;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border: 0px;
/*
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444',endColorstr='#ff222222',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
*/
}

.quiz-setup-step .fa-question-circle {
	font-size: 16px;
	color: #999;
	margin-top: 5px;
	vertical-align: top;
}

.tooltip {
	top:400px;
	background-color: transparent!important;
	font-weight: 400;
	margin-top: 3px !important;
	text-transform: none;
	color: #666666;
}

.tooltip .tooltip-inner {
	background-color: #f6f6f6 !important;
	color: #666666;
	border-radius:0px;
	-moz-border-radius:0px;
	padding: 10px 10px 25px;
	border-bottom: 1px solid #dcdcdc;
	top: -32px;
	left: -54px;
	white-space: nowrap;
}

.tooltip.top .tooltip-arrow{
	bottom: -4px;
}
.question-categories .tooltip .tooltip-inner{
	padding-bottom: 10px;
}

.question-categories .tooltip.top .tooltip-arrow{
	bottom: 0;
}

.tooltip .tooltip-arrow {
	border-top-color: #dcdcdc !important;
	margin-top:-1px !important;
}

.question-footer .tooltip .tooltip-inner {
	width: 350px;
	white-space: normal !important;
}

.quiz-creation-step-2 .tooltip-inner.ng-binding{
	position: absolute;
	top: -86px;
	left: -99px;
	padding: 2px;
	width: 250px;
	white-space: normal;
}

.quiz-creation-step-2 .tooltip-arrow{
	position: absolute;
	top: 2px;
}

.exam-simulator-summary .tooltip.top.in.fade{
	top: 328px !important;
    left: 409px !important;
}


.exam-simulator-summary .tooltip.top.in.fade .tooltip-inner{
	white-space:normal; /* you can also try white-space: normal; */
    max-width:500px;
    padding-bottom: 10px;
}

.exam-simulator-summary .tooltip.top .tooltip-arrow{
	bottom: 0 !important;
}

.quiz-setup-step .fa-check-square {
	color: #29a9e0;
}

.nasba-text {
	color: #85949a;
	font-size: 15px;
	padding: 0;
	line-height: 1;
	margin-top: 10px;
	margin-bottom: 5px;
}


.bs-docs-sidenav {
	width: 228px;
	margin: 0px 0 0;
	padding: 0;
	background-color: #fff;
	border: 1px solid #ddd;
}

ul.bs-docs-sidenav{
	top:235px;
}

.bs-docs-sidenav > li > a {
	display: block;
	margin: 0 0 -1px;
	padding: 20px;
	color: #565656;
	text-decoration: none;
	cursor: pointer;
	position: relative;
	clear: both;
}


.bs-docs-sidenav > li> a:hover i {
	color: #fff;
}
.bs-docs-sidenav .fa.fa-chevron-right {
	margin-top: 4px;
	margin-right: 12px;
	text-align: right;
	position: absolute;
	right: 0;
	font-size: 12px;
	color: #999999;
}
.bs-docs-sidenav > li > a:hover {
	background-color: #28a9e0;
	color:#fff;
	text-decoration: none;
}
.bs-docs-sidenav > li > a:hover i {
	background-color: #28a9e0;
	color:#fff;
	text-decoration: none;
}

.scrollspy-instructions {
  height: 100%;
  overflow: auto;
}
#scrollspy-instructions p {
	margin-bottom: 0;
	padding-bottom: 10px;
}
#scrollspy-instructions .content-image {
	margin-bottom: 0;
	padding-bottom: 10px;
}
#scrollspy-instructions ul.instructions-list li {
	list-style:circle;
	margin-left: 20px;
}

.nav-list a.active, .nav-list a.active:hover, .nav-list a.active:focus {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
background-color: #28a9e0;
}
.nav-list a.active i.fa.fa-chevron-right {
	background-image: url("../img/glyphicons-halflings-white.png") !important;
}
#scrollspy-instructions h1.lead {
	margin-bottom:0px;
	margin-top: 0;
}
#scrollspy-instructions h1.lead.in-copy {
	padding-top: 20px;
}
.question-header-well {
	transition: all 1s ease-in-out;
	top: 97px;
	position: fixed;
	z-index: 3;
	/*left: 50%;
	margin-left: -460px;*/
	width: 857px;
	min-height: 20px;
	padding: 10px 0 10px 0;
	margin: 0 0 13px 0;
	background-color: #fff;
	border-bottom: 1px solid #e3e3e3;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
/*
.question-header-well.timer-hidden {
	top: 23px;
	z-index: 0;
}
*/

.question-header-well .btn-ice-icon {
	width: 207px;
}

.widgetQuestion-gridContainer {
	padding-bottom:80px;
}
.questionflagbar-inner.text-center.btn-danger .popover{
	color:#212121;
}
.questionflagbar-inner .fa-flag {
	cursor:pointer;
	position:absolute;
	top: 1px;
	left: 2px;
}
.research-input-container {

	text-align: left;
	margin:auto;
	display:block;
	width: 400px;
	padding:20px 0;
}
.research-input-container .researchMask{
	width: 65px;
}
.research-solution-correct p:first {
	display:inline;
}
.score-diagnostic {
	position:fixed;
	display:block;
	left:3px;
	top:130px;
	width:240px;
	font-size:9px;
	line-height: 10px;
	background-color:#000;
	color:#0fc;
	padding: 10px 0;
	max-height:450px;
	overflow-y:scroll;
	z-index:10000;
}
.score-diagnostic .oddScore {
	color:#1d9;
}
.lead .label.label-default {
	font-size:21px;
	line-height:30px;
	border-radius:10px;
}

.introvideo {
	height: 100%;
	background-color: #000;
	text-align: center;
	padding-top: 26%;
}

.modal.modal-video.in {
/*	background-color: #363636;*/
	background-color:#f5f5f5;
	margin: auto;
	top:5%;
	width:940px;
	height:580px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	padding:10px;
/*	margin-left:-480px;
*/
	border:none;
}
.modal.modal-video .modal-dialog {
	margin: auto;
	width: 920px;
}
.modal.modal-video .modal-content {
	width: 100%;
	height: 100%;
}

.modal.modal-video .modal-header {
	height:0;
	border:none;
}
.modal.modal-video .modal-footer {
	height:0;
	border:none;
}
.modal.modal-video .modal-body {
	padding:0;
	height:520px;
	max-height: 570px;
}
.modal.modal-video button {
	padding-top:13px;
}
.score-history h3 a {
	cursor:pointer;
}
.score-history h3 a:hover {
	text-decoration:none;
	}

input.no-vert-padding {
	padding-top: 0px;
	padding-bottom: 0px;
}

.browser-check-alert .alert {
	line-height: 17px;
	margin-top: 3px;
	text-align: center;
}

.timer-container .col-sm-4,
.timer-container .col-sm-3 {
	padding-left: 0;
	padding-right: 0;
}

.timer-container .col-sm-12 {
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
	margin-top: -3px;
}

.show-timer-checkbox {
	margin-top: 6px;
/*	visibility: hidden;
	margin-top: 28px;
	margin-bottom:10px;
*/
	margin-left: 15px;
	color: #999;
}

.timer-box:hover .show-timer-checkbox {
	visibility: visible;
}

.show-timer-checkbox input {
	margin-right: 7px;
	margin-top: -2px;
}

.timer-box {
	min-height: 63px;
}
.navbar-fixed-top.navbar .container {
/*	background-color: #85949a;*/
}

.navbar-fixed-top.navbar .container .container {
	width: 948px;
}

.modal .modal-footer .btn.btn-default,
.inverse,
.inverse:hover,
.inverse:focus  {
/*	background-color: #363636;*/
	background-color: transparent;
/*	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;*/
	color: #666;
/*	text-shadow: 0px -1px 0px rgba(0,0,0,0.25);
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
*/
}

.well.inverse {
	border-radius: 9px;
}

.btn.inverse {
	box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}


.btn-toolbar {
	padding: 5px;
}

.btn.btn-silver {
	color: #000;
	background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

#setupcontainer {
	padding-top: 97px;
	width: 918px;
	background-color:transparent;
	margin: auto;
/*	box-shadow: 2px 3px 0 0 #d6e9f0;*/
	padding-left: 0;
	padding-right: 0;
}
#setupcontainer .row {
	padding-left: 0;
	padding-right: 0;	
	margin-left: 0;
	margin-right: 0;
}
#setupcontainer .row .row {
	padding-left: 0;
	padding-right: 0;

}

.quiz-creation-step-3.additional-options,
.final-score.section-breakdown,
.quiz-creation-step-2.selected-sections,
.section-overview.chapter-tables {
	margin-top: 30px;
}

#setupcontainer .alert-container {
	width: 970px;
	margin: auto;
}
.course-section-links {
	height: 145px;
	padding-bottom: 20px;
	margin-top: 20px;
}
.course-section-links div {
	padding-left: 0;
	padding-right: 0;
}
.course-section-links a,
.course-section-links a:visited {
	padding: 32px 0 33px 0;
	font-size: 36px;
	font-weight: 300;
	display: block;
	width: auto;
	text-decoration: none;
	text-align: center;
	border: 1px solid #e6e6e6;
	margin-right: 20px;
}
.course-section-links .aud-link,
.course-section-links .aud-link:visited {
	color: #29a9e0;
}
.course-section-links .bec-link,
.course-section-links .bec-link:visited {
	color: #783a79;
}
.course-section-links .far-link,
.course-section-links .far-link:visited {
	color: #63ba46;
}
.course-section-links .reg-link,
.course-section-links .reg-link:visited {
	color: #f9a823;
	margin-right: 0;
}
.course-section-links .aud-link:hover {
	color: #fff;
	background-color: #29a9e0;
	text-decoration: none;
}
.course-section-links .bec-link:hover {
	color: #fff;
	background-color: #783a79;
	text-decoration: none;
}
.course-section-links .far-link:hover {
	color: #fff;
	background-color: #63ba46;
	text-decoration: none;
}
.course-section-links .reg-link:hover {
	color: #fff;
	background-color: #f9a823;
	text-decoration: none;
}



.pick-category {
	margin: auto;
	margin-right: 15px;
/*
	position: fixed;
	right: 55px;
	top: 0px;
*/
}

.quiz-setup-step .number-selector {
	min-width: 115px;
}

#question {
	width: 100%;
	margin: auto;
	position: relative;
}

#question .top-links {
	position: fixed;
	top: 85px;
	z-index: 3;
	padding-top: 6px;
	width: 918px;
	left: 50%;
	margin-left: -459px;
	background-color:#fff;
}
#question .chapter-title {
	color: #28a9e0;
	font-size: 14px;
	font-weight: bold;
}
#question .question-counter {
	color: #85939a;
	font-size: 14px;
	font-weight: normal;
	/*padding-left: 45px;*/
}
#question .time-remaining {
	color: #85939a;
	font-size: 12px;
	font-weight: normal;
	white-space: nowrap;
	margin-left: 50px;
	margin-top: 2px;
}


.timer-radial{
  /*float: none !important;
  display: inline-block;
  width: 34%;*/
}

.exam-timer {
	position: fixed;
	z-index: 10;
	margin-left: 400px;
	margin-top: 9px;
}

.exam-timer #digital-timer {
	margin-left: 0px;
}

.timer-label {
	color: #85939a;
	font-size: 12px;
	font-weight: bold;
	position: absolute;
	top: -15px;
	left: 0;
}
.timer-label-seconds{
	color: #85939a;
	font-size: 12px;
	font-weight: normal;
	white-space: nowrap;
	white-space: nowrap;
	text-align: center;
	padding-left: 0;
	top: -15px;
	position: absolute;
	left:180px;
}

.calculator-link {
	color: #29a9e0;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	padding-top: 11px;
}

.exit-link {
	color: #29a9e0;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	padding-top: 9px;
}
.btn-calculator {
	/*padding-left: 20px;
	padding-right: 20px;*/
	padding-top: 4px;
	padding-bottom: 4px;
}
.btn-exit {
	/*padding-left: 20px;
	padding-right: 20px;*/
	padding-top: 17px;
}
.question-box {
 	transition: all 1s ease-in-out;
	padding-top: 102px;
	margin: auto;
	width: 605px;
	margin-left: 0px;
	z-index: 0;
}

.question-area.timer-hidden .question-box {
	padding-top:102px;
}

.question-area.timer-hidden .q-right-tools {
/*	top: 200px;*/
}

.question-box .btn-group-vertical {
	margin-left: 17px;
	width: 570px;
}

.preview .preview.question-box .btn-group-vertical {
	margin-left: 0;
}

.modal {
	margin: 30px auto;
}

.modal .modal-dialog {
	margin: auto;
}

.quiz-chapter.pin {
	margin-right: 0;
/*
	box-shadow: 4px 4px 2px 0px rgba(197,194,194,1);
	-moz-box-shadow: 4px 4px 2px 0px rgba(197,194,194,1);
*/
/*	border-top: 1px solid #e9e9e9;*/
/*	height: 490px;*/
	height: auto;
	padding: 0px;
	border-radius:0px;
	-moz-border-radius:0px;
/*	margin: 15px 15px;*/
	background-color:#fff;
}

.quiz-chapter.pin h3 {
	margin-top: 8px;
	height: 127px;
}

/*.quiz-chapter.quiz-chapter-mini {
	height: 137px;
	width: 425px;
}*/

.quiz-chapter.not-included {
	display: none;
}

.quiz-chapter a {
/*	color: #999;*/
	font-weight: normal;
/*	text-decoration:underline;*/
}

.question-scores .question-categories a:hover {
	text-decoration:underline !important;
	color: #29A9E0;
}

.question-scores .question-categories a.not-a-link:hover {
	text-decoration:none !important;
	color: #999;
}

.chapter-total {
/*	float: right;*/
float: left;
clear: both;
	font-size: 12px;
	color: #999999;
	padding-left: 30px;
	padding-top: 3px;
	text-transform: uppercase;
}

.chapter-score {
	position: relative;
	height: 86px;
	line-height: 65px;
/*	border-left: 1px solid #e1e1e1;*/
	padding: 0px;
	width: 104px;
}

.jumbo.chapter-score {
	margin-top:-71px;
	margin-right: 14px;
}

.chapter-score.final-score {
	margin: 0px;
}

.chapter-number {
	text-decoration: none;
	font-size: 22px;
	font-weight: 300;
	color: #6a787d;
	padding-top: 15px;
	line-height: 1.2em;
}

.quiz-chapter-mini .chapter-number {
	font-size: 22px;
	display: block;
	padding-bottom: 4px;
}

.chapter-name {
	width: 325px;
	font-size: 14px;
	line-height: 1.2 !important;
	font-weight: 500;
/*	margin-left: 15px;
	margin-top:7px;
*/
	color: #6a787d;
	padding-top: 6px;
}

.quiz-chapter-mini .chapter-name {
	font-size: 13px;
	margin-top: 0px;
	margin-left: 0px;
}

.quiz-chapter .active {
	color: #666;
}

.quiz-chapter .fa-plus, .quiz-chapter .fa-minus {
	font-size: 14px;
}

.quiz-chapter .fa-square, .quiz-chapter .fa-check-square {
	font-size: 14px;
}
.quiz-chapter .fa-square-o {
	color:#666;
}

.quiz-chapter .fa-check-square {
	color:blue;
}

.finalscore {
	margin: auto;
}

.totalscore {
	font-size:36px;
	padding-top: 33px;
	padding-left: 0px;
	width: 200px;
}

.totalscore .percentage {
	font-size:52px;
}

.chapter-info-text {
/*	height: 100px;*/
}

.question-scores {
	width: 100%;
	padding-top: 0;
}

.question-categories.table {
	border: 6px solid #fff;
	border-top: 1px solid #ddd;
	border-bottom: 0px solid #ddd;
	margin-top: 4px;
	font-size: 13px;
	margin-bottom: 0px;
}

.table.question-categories thead th {
	border-bottom: 0px;
}

.question-categories td, .question-categories th {
	text-decoration: none;
	color: #999;
	font-weight: 100;
	font-family: "Open Sans";
	font-size: 11px;
	height: 60px;
	vertical-align: middle !important;
	text-align: center;
}
.table.question-categories a {
	text-decoration: underline;
}

.question-categories td.lbl, .question-categories th.lbl {
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	background-color: #fff;
	font-weight: 900;
	height: 60px;
	text-align: left;
	width: 141px;
	color: #000;
	line-height: 1.2em;
}

.question-categories td.lbl .total-number-questions {
	text-transform: none;
	color: #999;
	font-weight: normal;
	text-align: right;
	font-size: 10px;
	padding-top: 5px;
	letter-spacing: normal;
}
.table.question-categories {
	border-collapse: separate !important;
	border-spacing: 0px !important;
	border-left: 0px solid #ddd !important;
	border-top: 0px solid #ddd !important;
	border-right: 0 solid #ddd !important;
	border-bottom: 1px solid #ddd !important;
	margin-top: 0;
	clear: both;
}
.table.question-categories.one-colum-table {
	margin-top: 20px;
}
.table.question-categories th,
.table.question-categories td {
	border-collapse: separate !important;
	border-spacing: 0px !important;
	border-left: 1px solid #ddd !important;
	border-top: 1px solid #ddd !important;
	border-right: 0px solid #ddd !important;
	border-bottom: 0px solid #ddd !important;
	padding: 3px 8px !important;
}

.table.question-categories th.lbl,
.table.question-categories td.lbl {
	border-left: 0 solid #ddd !important;
}
.table.question-categories th.sprite-note-lbl,
.table.question-categories td.sprite-note-lbl {
	border-right: 0 solid #ddd !important;
}

.question-categories .list-group {
	height: 70px;
	line-height: 16px;
	margin-bottom: 34px;
}

.question-categories span {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #999;
	margin:auto;
}

.question-categories span.link {
/*
	text-decoration:underline;
	color: #29a9e0;
*/
	cursor: default;
	color: #000 !important;
}

.question-categories .gray-bg {
/*	background-color:#e1e1e1;*/
	width: 100%;
	display: block;
	line-height: 47px;
	text-align: center;
	height: 47px;
	margin-right:20px;
}

.question-categories li {
/*	box-shadow: 1px 1px 1px 1px rgba(197,194,194,1);*/
	-moz-box-shadow: 1px 1px 1px 1px rgba(197,194,194,1);
	line-height:45px;
	text-align:center;
	height: 100px;
}

.question-categories .fa {
	border-radius:17px;
	width: 33px;
	-moz-border-radius:17px;
	padding:6px 6px;
	font-size:22px;
	color:#fff;
}

.question-categories .fa-check {
	background-color:green;
}

.question-categories .fa-times {
	background-color:red;
}

.question-categories .fa-exclamation {
	background-color:blue;
}

.question-categories .fa-flag {
	background-color:gray;
}

.question-categories .fa-edit {
	background-color:gray;
}

.btn-gray {
	border-color:#adadad;
	background-color:#e1e1e1;
	color: #666;
	border-radius:0px;
	-moz-border-radius:0px;
	padding: 10px 50px;
}

.btn-plain {
	font-weight: bold;
	line-height: 35px;
	color: #999;
	text-transform: uppercase;
	padding-top: 20px;
	height: 85px;
	width: 223px;
}

.btn-plain span {
	margin: 0px 12px;
}

.btn-plain-border {
	border-left: 1px solid #ddd;
}

.btn {
	font-family: "Open Sans";
}
.modal .modal-footer .btn.btn-default.btn-modal,
.btn-modal {
	background-color: #fff;
	border-color: #e1e1e1;
	color: #2cabde;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.modal .modal-footer .btn.btn-modal-primary,
.btn-modal-primary {
	background-color: #f9a823;
	border-color: #f9a823;
	color: #fff;
}
.save-quiz-modal .btn-modal {
	margin: auto auto 20px auto;
}
.btn-ice {
	margin-top: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	color: #29a9e0;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 10px;
	padding: 12px 18px;
	margin-left: 22px;
	background-color: #fff;
	border: 1px solid #e9e9e9;
}
.final-score .review-btn {
	letter-spacing: 3px;
	font-size: 12px;
	padding-left: 25px;
	padding-right: 25px;
}
.btn-save-note {
	margin-top: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	color: #29a9e0;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 2px;
	padding: 12px;
	margin-left: 22px;
	background-color: #fff;
	border: 1px solid #e9e9e9;
}

.btn-orange-big {
	letter-spacing: 3px;
	margin-top: 3px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 11px;
	padding: 11px 18px;
	margin-left: 22px;
	width: 237px;
	height: 50px;
	background-color: #f9a823;
	border: 0 solid #e9e9e9;
}
.begin-wc-btn {
	width: 100%;
}
.btn-orange-big:hover {
	color: #fff
}

.btn-clear {
	cursor: pointer;
	line-height: 45px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	color: #29a9e0;
	font-weight: bold;
	font-size: 14px;
	padding: 12px 6px;
	margin-left: 0px;
	background-color: #fff;
}

.btn-ice.btn-ice-nomargin {
	margin: 0px;
}

.btn-ice.btn.active, .btn.btn-ice:active, .btn.btn-ice:focus {
	box-shadow: none;
	-moz-box-shadow: none;
	color: #28a9e0;
	background-color: #ffffff;
}
.btn-ice-icon, .btn-ice-no-icon {
	line-height: 1.2em;
	border: 1px solid #e9e9e9;
	padding:10px 58px 10px 15px;
	margin-left: 0;
	font-size: 13px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #29a9e0;
	width: 195px;
	margin-bottom: 20px;
}

.btn-ice-no-icon {
	padding: 10px 5px 10px 17px;
	text-align: left;
	white-space:normal;
}

.btn-ice-no-icon .btn-link {
	text-transform: none;
}

.btn-bookmark {
	line-height: 2.4em;
}
.btn-bookmark.bookmark-active,
.btn-bookmark.bookmark-active:focus  {
	color: #000;
}
.btn-ice-icon span {
	float: left;
	margin-right: 8px;
}
.btn-bookmark .bookmark,
.btn-bookmark .bookmarked {
	display: inline;
	float: none;
	margin-right: 0;
}
.chapter-info {
/*	width: 280px;*/
	height: 95px;
}

.question-box.preview {
	width: 100%;
	padding-top: 100px;
}
.preview .preview .question-box.preview {
	padding-top: 0;
}

.preview .question-text {
	width: 100%;
}

.preview table {
	width: 95%;
	margin-top: 25px;
}

.preview table td {
	padding: 10px;
}

.session-entry .question-score-bar {
	width: 300px;
}

.question-score-bar {
	border-radius:3px;
	-moz-border-radius:3px;
	position: relative;
	color: #768387;
	font-weight:bold;
	width: 100%;
	height: 9px;
	background-color: #ccc;
/*	border-radius: 10px;
	-moz-border-radius: 10px;
	border: 1px solid #e9e9e9;*/
}
.questions-attempted {
	text-align: left;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #999;
	font-size: 10px;
}
.question-score-bar.long {
	width: 100%;
}

.question-score-bar div {
	position:absolute;
	height: 100%;
	max-width: 100%;
}

.question-score-bar .attempted-questions {
	border-radius: 10px;
	-moz-border-radius: 10px;
	z-index: 1;
	background-color: #f9a823;
}

.question-score-bar .incorrect-questions {
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	-moz-border-top-right-radius:3px;
	-moz-border-bottom-right-radius:3px;
	z-index: 1;
	background-color: #f9a823;
}

.question-score-bar .correct-questions {
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
	-moz-border-top-left-radius:3px;
	-moz-border-bottom-left-radius:3px;
	z-index: 2;
	background-color:#65bc47;
}

.question-score-bar .double-rounded-corners {
	border-radius: 3px;
	-moz-border-radius: 3px;
	
}
.question-score-bar .numbers {
	display: block;
	font-size: 10px;
	margin: -16px auto;
	padding: 0 2px;
}

.question-score-bar .attempted-questions .numbers {
	margin-right: -7px;
}
.question-scores-copy {
	text-align: left;
	font-size: 12px;
	padding-top: 5px;
}
.question-scores-copy .right {
	color: #65bc47;
}
.question-scores-copy .wrong {
	color: #f9a823;
	text-align: right;
}
.show-tab-loading {
	font-size: 247px;
	color: #666;
/*
	z-index: 3;
	position: fixed;
	width: 100%;
	top: 150px;
	bottom: 0px;
	left: 0px;
	right: 0px;
*/
	background-color: transparent;
}

.show-tab-loading .normal-size {
	font-size: 20px;
}

.session-name {
	width: 435px;
	font-weight:bold;
	font-size: 23px;
	color: #000;
	text-align: left;
	padding-top: 0;
}
.session-name .created-on {
	font-weight:normal;
}
.preview .preview .session-name {
	padding-top: 7px;
}
.editing-session-name {
	padding-top: 21px;
}
.editing-session-name .col-md-4 {
	padding-left: 0;
}
.final-score .session-name {
	width: 770px;
}


.session-metadata {
	clear: both;
	color: #999;
}

.session-metadata .subtitle {
	color: #333;
	font-size: 18px;
	padding-top: 20px;
	margin-bottom: 10px;
	padding-bottom: 0;
}
.session-entry {
	clear: both;
}
.edit-session-name {
	padding-top: 21px;
}
#setupcontainer .row .session-name .edit-session-name-span input.row.form-control {
    font-weight: bold;
    font-size: 23px;
    color: #000;
    text-align: left;
    padding-top: 13px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 0;
    border-color: #e1e1e1;
    margin-left: 0;
    margin-right: 15px;
    margin-top: -13px;
    padding-bottom: 10px;
    height: 54px;
    width: 275px;
}
.edit-session-name button.btn-primary {
    letter-spacing: 3px;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0;
    margin-top: -13px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 0;
    border-color: #e1e1e1;
    background-color: #fff;
    height: 54px;
    text-transform: uppercase;
    color: #28a9e2;
    width: 80px;
}

.session-entry .alert-wrapper {
	clear: both;
	margin-top: 10px;
}
.session-entry .alert-wrapper .alert-info {
	margin-bottom: 0px;
}
.session-name .created-on {
	font-size: 12px;
	clear: both;
    color: #646464;
}
.score-history .btn-ice {
    margin-top: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    color: #29a9e0;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 18px;
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    letter-spacing: 3px;
    font-size: 12px;
}
.score-history .btn-load-more {
    margin-top: 30px;

}
.delete-icon .btn-bin {
	width: 15px;
	height: 20px;
	padding: 0;
	margin: 0;
	text-indent: -3000px;
	overflow: hidden;
	background: url('../img/btn-bin.jpg') no-repeat;
}


.preview .preview.question-box .created-on {
	font-size: 13px;
	font-weight: normal;
	color: #a5a5a5;
}
.preview .preview .sub-heading {
    color: #85949b;
    font-size: 24px;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
.preview .preview .sub-heading.sub {
    font-size: 18px;
    margin-bottom: 10px;
}
.preview .preview .sub-heading.incorrect-answer-sub,
.preview .preview .sub-heading.correct-answer-sub {
    font-size: 14px;
    color: #454545;
    font-weight: bold;
    margin-bottom: 15px;
}

.preview .preview .question-number-id {
	font-size: 12px;
	display: block;
	margin-bottom: 20px;
	margin-top: 3px;
}
.session-metadata .metadata-body {
	font-size: 14px;
}

.session-entry .score-text {
	color: #d3d3d3;
	font-weight: 100;
	font-size: 40px;
	margin-top: 35px;
	margin-bottom: 8px;
}
.session-entry .btn-review-history {
	padding-top: 15px;
	clear: both;
}
.choose-chapters-subtitle {
	color: #b2b2b2;
	font-size: 19px;
}

.choose-chapters-title {
	font-weight: 100;
	font-family: 'Open Sans';
	font-size: 17px;
	color: #333;
	padding-top: 10px;
	margin-right: 44px;
/*
	font-style: italic;
*/
}
.quiz-creation-step-3 .choose-chapters-title {
	font-size: 18px;
	padding-top: 20px;
	margin-bottom: 10px;
}

.summary-title {
	font-size: 11px;
	letter-spacing: 2px;
	font-weight:bold;
}
.clear-empty {
	clear: both;
	height: 0;
	font-size: 4px;
	line-height: 1px;
}
.session-entry {
	background-color: #fff;
	border-left:0px;
	border-right: 0px;
	border-top: 0;
	border-bottom: 1px solid #ddd;
	border-radius: 0px;
	-moz-border-radius: 0px;
	padding-bottom: 35px;
}
.quizlet-summary {
	color: #999;
	width: 185px;
	margin: auto;
}

.simulator-summary {
	color: #666;
}

.simulator-summary .nasba-text {
	color: #999;
	font-size: 14px;
}

.simulator-summary .nasba-text .fa {
	width: 12px;
}
.simulator-summary .quizlet-summary {
	width: 290px;
	margin-left: 0px;
	color: #666;
	font-size: 13px;
}
.exam-simulator-summary .simulator-summary .quizlet-summary {
	font-size: 14px;
}
.exam-simulator-summary .simulator-summary .quiz-summary-row {
    list-style: none;
    margin-left: 0;
}
.simulator-summary .desc {
	margin-left: 30px;
}

.quizlet-summary-row {
	height: 30px;
}
.simulator-summary-note {
	font-size: 12px;
	padding-bottom: 10px;
}
.final-score-category-title {
	margin-top: 15px;
	font-size: 23px;
	margin-bottom: 40px;
	line-height: 1;
}

.question-categories-row.first {
	border-bottom: 1px solid #ddd;
}

.question-categories-row a {
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: underline;
}

.NextButton-small {
	font-weight: bold;
	font-size: 14px;
	line-height: 40px;
}

.quiz-summary-row {
	height: 30px;
	width: 400px;
	margin-left: 17px;
	list-style: disc;
}

.quiz-summary-row span{
	margin-right: 20px;
}

.sprite-x-blue {
	background: transparent url("../img/sprites.png") -269px -7px no-repeat;
	display: block;
	width: 48px;
	height: 45px;
}

.sprite-calculator {
	background: transparent url("../img/sprites.png") -312px -117px no-repeat;
	display: block;
	width: 20px;
	height: 26px;
	margin-left: auto;
	margin-right: auto;
}

.sprite-flag-blue {
	background: transparent url("../img/sprites.png") -317px -55px no-repeat;
	display: block;
	width: 53px;
	height: 45px;

}

.sprite-explain-answer {
	background: transparent url("../img/sprites.png") -264px -152px no-repeat;
	display: block;
	width: 29px;
	height: 29px;
}
.sprite-bookmark {
	background: transparent url("../img/sprites.png") -305px -152px no-repeat;
	display: block;
	width: 29px;
	height: 29px;
}

.sprite-x-gold {
	background: transparent url("../img/sprites.png") -340px -120px no-repeat;
	display: block;
	width: 16px;
	height: 16px;
	margin-left: auto;
	margin-right: auto;
}

.sprite-next-gold {
	background: transparent url("../img/sprites.png") -69px -9px no-repeat;
	display: block;
	width: 36px;
	height: 36px;
}

.sprite-x-blue-small {
	background: transparent url("../img/sprites.png") -273px -113px no-repeat;
	display: block;
	width: 27px;
	height: 27px;
}

.sprite-left-arrow {
	background: transparent url("../img/sprites.png") 0px -187px no-repeat;
	display: inline-block;
	width: 129px;
	height: 84px;
}

.sprite-right-arrow {
	background: transparent url("../img/sprites.png") -129px -187px no-repeat;
	display: inline-block;
	width: 129px;
	height: 84px;
}

.sprite-question {
	background: transparent url("../img/sprites.png") -54px -46px no-repeat;
	display: block;
	width: 38px;
	height: 44px;

}

.sprite-x {
	background: transparent url("../img/sprites.png") -106px -46px no-repeat;
	display: block;
	width: 38px;
	height: 44px;

}

.sprite-checkmark {
	background: transparent url("../img/sprites.png") -160px -48px no-repeat;
	display: block;
	width: 37px;
	height: 44px;

}
.sprite-flag {
	background: transparent url("../img/sprites.png") -212px -2px no-repeat;
	display: block;
	width: 37px;
	height: 44px;

}
.sprite-note {
	background: transparent url("../img/sprites.png") -210px -47px no-repeat;
	display: block;
	width: 37px;
	height: 44px;

}

.final-score.summary .sprite-question,
.final-score.summary .sprite-checkmark,
.final-score.summary .sprite-x,
.final-score.summary .sprite-flag,
.final-score.summary .sprite-note {
	width: 44px;
}

.notesFormContainer {
	border: 0px;
	color: #464646;
	margin-left: 0px;
	padding-right: 7%;
}
.notesFormContainer i {
	font-size: 24px;
	color: #666666;
}


.legend {
	font-size: 10px;
	width: 559px;
	font-weight: bold;
	color: #999;
	margin-right: 0px;
}

.legend > tbody > tr > td {
	padding-left: 17px;
	padding-right: 17px;
	border: 0px;
	padding-bottom: 0px;
	padding-top: 5px;
}

.legend td span {
	margin: auto;
}

.quiz-saved {
	font-weight: 500;
}

.help-link, 
.help-link:hover, 
.help-link:visited {
	font-size: 12px;
	text-decoration: none;
	color: #54b7e6;
	text-decoration: underline;
	padding-bottom: 0px;
	margin-left: 16px;
	line-height: 40px;
}

.quiz-creation-step-3 .help-link, 
.quiz-creation-step-3 .help-link:hover, 
.quiz-creation-step-3 .help-link:visited {
	line-height: 1.42857;
	margin-left: 10px;
	margin-top: -5px;
}
.session-entry .help-link, 
.session-entry .help-link:hover, 
.session-entry .help-link:visited {
	line-height: 1.42857;
	margin-left: 10px;
	margin-top: 11px;
	font-weight: normal;
}
.saving-indicator {
	padding-top: 21px;
}
.session-name .help-link .fa, 
.session-name .help-link:hover .fa, 
.session-name .help-link:visited .fa,
.quiz-creation-step-3 .help-link .fa, 
.quiz-creation-step-3 .help-link:hover .fa, 
.quiz-creation-step-3 .help-link:visited .fa {
	font-size: 1.2em;
	padding-right: 3px;
}
.final-score .help-link, 
.final-score .help-link:hover, 
.final-score .help-link:visited {
	line-height: 1.42857;
	margin-left: 10px;
	margin-top: 12px;
}
.final-score .help-link .fa, 
.final-score .help-link:hover .fa, 
.final-score .help-link:visited .fa {
	font-size: 1.2em;
	padding-right: 3px;
}

.switch-box {
	margin-bottom:30px;
}

.switch-container {
	color: #666;
	float: left;
	margin-top:14px;
}

.switch {
	margin: 0px 20px;
}

.switch .btn-off {
	background-color:#f3f3f3;
	color: #666;
	border: 1px solid #f3f3f3;
}
.bootstrap-select>.btn {
	width: 100%;
	color: #a9a9a9;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: normal;
    border-color: #e9e9e9 !important;
    padding: 11px 15px !important;
    text-transform: none;
    border-radius: 0 !important;
    line-height: 1em;
}
.number-selector .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 80px;
}
.bootstrap-select.btn-group .btn .caret {
    margin-top: 0 !important;
    position: absolute;
    right: 0 !important;
    top: 0 !important;
    vertical-align: middle;
    border-top-color: #58c465;
    margin-left: 0;
    background: rgba(0, 0, 0, 0) url("../img/caret-bg-blue.png") no-repeat scroll 0 0;
    border: 0 none;
    display: inline-block;
    height: 38px;
    margin-left: 0;
    vertical-align: middle;
    width: 35px;
}
.bootstrap-select .dropdown-menu {
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  border: 1px solid #e9e9e9;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0;
  -webkit-box-shadow:none;
  box-shadow: none;
}
.quiz-creation-step-1 .bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width: 145px;
}
.question-type-wrapper {
	padding-top: 8px;
	display: inline-block;
}
.chaptersSelectBox {
	padding: 0;
	background-color: #fff;
	border: 1px solid #ddd;
	font-family: 'Open Sans';
	letter-spacing:1px;
	text-transform: uppercase;
	font-weight: 600;
	color: #29ABE2;
	font-size:10px;
	margin-top:25px;
	margin-bottom: 30px;
}

.chaptersSelectBox option {
	border: 0px;
	text-transform: none;
	padding: 5px 10px;
	font-size: 12px;
	color: #999;
	font-weight: normal;
}

.bootstrap-select.small-dropdown .dropdown-menu.inner.selectpicker {
	max-height: 125px;
	overflow-y: auto;
}

.bootstrap-select.normal-dropdown .dropdown-menu.inner.selectpicker {
	max-height: 260px;
	overflow-y: auto;
}

.bootstrap-select.long-dropdown .dropdown-menu.inner.selectpicker {
	max-height: 420px;
	overflow-y: auto;
}

.number-selector .chaptersSelectBox {
	margin: 0px;
}

.number-selector .chaptersSelectBox {
	font-size: 16px;
	color: rgba(192, 191, 191, 1);
}

.number-selector .chaptersSelectBox option {
	font-weight: 600;
	font-size: 16px;
	color: #666;
	padding: 0px 10px;
}

.options-menu {
	position: relative;
	border: 1px solid #e1e1e1;
	padding: 15px 16px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.options-menu.open {
	border-bottom: 0 solid #e1e1e1;
	border-radius: 0;
}

.options-menu:nth-child(1) a{
	color: #464646;
	text-transform: uppercase;
	font-family: "Open Sans";
	letter-spacing: 2px;
	font-weight: bold;
	font-size: 12px;
}

.options-menu:nth-child(1) a i{
	padding-top: 3px;
}

.options-menu .dropdown-menu {
	width: 100%;
	padding: 15px 15px 0 15px;
	text-align: center;
}

.options-menu .dropdown-menu li {
}
.options-menu .dropdown-menu .btn-link {
	float: left;
	clear: both;
    font-size: 12px;
    font-weight: normal;
    color: #839599;
	margin-bottom: 20px;
	letter-spacing: normal;
}
.options-menu .dropdown-menu .btn-link:hover {
	text-decoration: none;
	color: #839599;
}

.options-menu .dropdown-menu .btn-link .fa,
.options-menu .dropdown-menu .btn-link:hover .fa  {
	color: #52a8e4;
	font-size: 1.8em;
	margin-left: 25px;
	margin-right: 5px;
	vertical-align: middle;
}
.options-menu .dropdown-menu {
    border-top: 0 solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    border-radius: 0;
    box-shadow: none;
    margin-top: 0;
    font-size: 12px;
    font-weight: normal;
    margin-left: -1px;
    width: 195px;
}

.q-right-tools .movable-buttons.adjusted {
	margin-top: 100px;
}

.qpage {
	color: #fff;
}

.qpage.not-a-link,
.qpage.not-a-link:hover {
	color:#cbcbcb;
}

.simulator-summary h3.top-heading span.pull-right {
	padding-right: 15px;
}
.btn-reportproblem {
	float: right;
}
.btn-reportproblem.btn-reportproblem-center {
	float: none;
	display:block;
	margin: auto;
}
/*
.btn-reportproblem,
.btn-view-instructions,
.btn-reportproblem:hover,
.btn-view-instructions:hover {
	color: #fff;
}
*/
.btn-reportproblem {
	margin-left: 10px;
}
.btn-view-instructions {
	margin-right: 10px;
}

.btn.btn-bin {
	margin-top: 15px;
}

.session-metadata-list li {
/*	list-style-type: disc;*/
}
.my-answered-questions {
	top:-41px;
	font-size:13px;
	position:absolute;
	color: #666;
	line-height: 17px;
	right: 0px;
}

.jumbo .my-answered-questions {
	top: -13px;
	right: -29px;
	font-size: 12px;
	line-height: 13px;
	color: #666;
}

.mce-container, .mce-container *, .mce-widget, .mce-widget * {
	cursor: default !important;
}
.q-tools {
	margin-left: -10px;
}

#quiz-pick-topics-container p.no-questions-available {
	font-size: 14px;
	padding-top: 15px;	
	line-height: 1.5em;
}
