
/* font awesome spinner */

.loading-spinner {
	padding: 40px;
	text-align: center;
}
.loading-spinner i {
	
	color: #29abe2;
}



button.btn.btn-arrow.disabled.pull-right,
button.btn.btn-arrow.blue.pull-right,
button.btn.btn-arrow.blue,
.next-button-step-two {
  width: 77px;
  height: 40px;
  position: relative;
  border-bottom-left-radius:2px;
  border-top-left-radius:2px;
}

.choose-quiz-type-sticky {
/*	position: relative;*/
	font-size: 17px;
}
.quiz-creation-step-3 .choose-quiz-type-sticky {
	margin-right: 15px;	
}
button.btn.btn-arrow.disabled.pull-right:after {
  content: "";
  position: absolute;
  left: 101%;
  top: -1px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #999;
  border-bottom: 20px solid transparent;
}

.choose-quiz-type-sticky button.btn.btn-arrow.disabled:after  {
  content: "";
  position: absolute;
  left:101%;
  top: -1px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #999;
  border-bottom: 20px solid transparent;
}

button.btn.btn-arrow.blue.pull-right:after,
button.btn.btn-arrow.blue:after{
	content: "";
	position: absolute;
	left: 101%;
	top: -1px;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-left: 15px solid #29ABE2;
	border-bottom: 20px solid transparent;
}

button.btn.btn-arrow.gray{
  width: 77px;
  height: 40px;
  position: relative;
  border-bottom-right-radius:2px;
  border-top-right-radius:2px;
}

button.btn.btn-arrow.gray:before{
  content: "";
  position: absolute;
  right: 101%;
  top: -1px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 15px solid #666;
  border-bottom: 20px solid transparent;
}

.vertical-spacing{
  padding-top: 11px;
}

.vertical-spacing-2{
  padding-top: 4px;
  padding-bottom: 4px;
}

.fa-square-o.fa-lg{
  color: #ddd;
}

.checkbox-size-color{
  font-size: 28px;
  color: #ddd !important;
}

i.pull-left.checked-square{
  margin-top: 0 !important;
  font-size: 26px;
  background-image: url("../img/checked_yellow.jpg");
  background-repeat: no-repeat;
  width: 23px;
  height: 28px;
  margin-right: 7.5px;
}
i.pull-left.checked-square.fa-square-o:before {
    content: "";
}

.quiz-creation-step-1 .chapter-info{
  border-top: 1px solid #ddd;
  padding-top: 12px;
}
.quiz-creation-step-1 .chapter-info:hover i.checkbox-size-color {
  color: #2daade !important;
}

.quiz-creation-step-2 .sub-heading{
  padding-top: 6px;
  font-size: 26.7px;
}

.quiz-creation-step-2 .chapter-total{
  padding: 0;
  float: none;
  display: block;
  text-transform: uppercase;
  font-size: 11px;
}
.checkbox-text {
	padding-left: 5px;
}
.quiz-creation-step-3 .created-on {
	font-size: 12px;
	color: #646464;
}
.quiz-creation-step-3 .session-name .col-md-4 {
	padding-left: 0;
}
.final-score .session-name .col-md-7 {
	padding-left: 0;
	margin-right: 10px;
}

.border-line{
  border-bottom: 1px solid #ddd;
}

.text-muted,
.question-choice{
  padding: 0;
  font-size: 16px;
}

.chapter-border{
  border-top: 1px solid #ddd;
  padding-top: 12px;
}

.options-quiz{
  font-size: 17px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: #85949a;
}

.options-quiz:nth-child(3){
  padding-top: 0;
}

.scroller-sticker-button{
  position: fixed;
  right: 186px;
  z-index: 3;
}

.instructions-beginquiz{
  margin: -90px 23px 0 0;
  padding-right: 0;
}
.instructions-beginquiz.scroller-sticker-button {
  margin: -90px 0 0 0;
}
.instructons-wrapper {
	margin-top: 0;
}
.title-sidenav{
  font-size: 21px;
  line-height: 10px;
  font-weight: 100;
  border: none;
  box-shadow: none;
}

.help-overview img{
  width: 50%;
  margin: 20px 0;
}

.exit-calculator-btn{
  float: right;
}

div.row.container.final-score.summary.ng-scope{
  padding-top: 25px;
  padding-left: 0;
  padding-right: 0;
}
div.row.container.final-score.summary .col-md-8 {
	padding-left: 0;
	padding-right: 0;
}
div.row.container.final-score.summary .sub-heading-name {
  font-size: 1.7em;
  font-weight: bold;
}
.question-categories-container {
	clear: both;
	padding-top: 30px;
}
.final-score-category-title{
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: lighter;
}
.final-score-category-title:nth-child(1){
  margin-top: 20px;
}
h4.quizlet-repeat-title.text-left.row.col-md-12.ng-binding{
  font-weight: lighter;
}
.retake-btn,
.next-question-btn {
	letter-spacing: 3px;
	font-size: 12px;
	margin-top: -7px;
}

div.row.container.final-score.section-breakdown h3{
  font-size: 2em;
}

div.row.container.final-score.section-breakdown.ng-scope  div.quiz-chapter.pin.ng-scope.pull-left h3.lead.small{
  padding-left: 0;
}


div.row.container.final-score.section-breakdown.ng-scope .quiz-chapter.pin.ng-scope.pull-left,
 div.row.container.final-score.section-breakdown.ng-scope .quiz-chapter.pin.ng-scope.pull-right{
  width: 48%;
}



div.row.container.final-score.section-breakdown.ng-scope .pin-container{
  width: 96%;
  border-top: 1px solid #ddd;
}


div.row.container.final-score.summary.ng-scope div.question-categories.row.text-center .sprite-checkmark{
  background: transparent url("../img/sprites.png") -8px -285px no-repeat;
}

div.row.container.final-score.summary.ng-scope div.question-categories.row.text-center .sprite-x{
  background: transparent url("../img/sprites.png") -82px -284px no-repeat;
}

div.row.container.final-score.summary.ng-scope div.question-categories.row.text-center .sprite-question{
  background: transparent url("../img/sprites.png") -154px -282px no-repeat;
}

div.row.container.final-score.summary.ng-scope div.question-categories.row.text-center .sprite-flag{
  background: transparent url("../img/sprites.png") -216px -285px no-repeat;
}

div.row.container.final-score.summary.ng-scope div.question-categories.row.text-center .sprite-note{
  background: transparent url("../img/sprites.png") -292px -286px no-repeat;
}

div.row.container.final-score.summary.ng-scope .text-center button.btn.btn-primary.pull-left.btn-ice{
  margin-top: 0%;
  margin-left: -4%;
  padding: 2% 4%;
}

.no-col-gutter {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
div.row.container.final-score.summary.ng-scope .text-center button.btn.btn-primary.pull-left.btn-save-session-name {
	letter-spacing: 3px;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -10px;
    margin-top: -13px;
    padding-top: 12px;
    padding-bottom: 10px;
    border-radius: 0;
    border-color: #e1e1e1;
    background-color: #fff;
    height: 54px;
    text-transform: uppercase;
    color: #28a9e2;
}
#setupcontainer .row .editing-session-name button.btn-primary {
	letter-spacing: 3px;
    font-size: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0;
    margin-top: -13px;
    padding-top: 12px;
    padding-bottom: 10px;
    border-radius: 0;
    border-color: #e1e1e1;
    background-color: #fff;
    height: 54px;
    text-transform: uppercase;
    color: #28a9e2;
}
#setupcontainer .row .session-name input.row.form-control {
    font-weight: bold;
    font-size: 23px;
    color: #000;
    text-align: left;
    padding-top: 12px;
    height: 54px;
	padding-left: 12px;
	padding-right: 12px;
    border-radius: 0;
    border-color: #e1e1e1;
    margin-left: 0;
    margin-top: -13px;
    padding-bottom: 10px;
}

#setupcontainer .row .editing-session-name input.form-control {
    font-weight: bold;
    font-size: 23px;
    color: #000;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 8px;
	padding-left: 12px;
	padding-right: 12px;
    border-radius: 0;
    border-color: #e1e1e1;
    margin-left: 0;
    margin-top: -13px;
    padding-bottom: 10px;
    height: 54px;
}
div.row.container.final-score.summary.ng-scope .text-center  input.row.form-control.ng-pristine.ng-valid{
  height: 54px;
}


.preview .question-box .btn-group-vertical{
  width: 630px;
}

.preview .btn-group>.btn+.dropdown-toggle{
  /*padding-left: 30px;*/
}

.preview .btn-group>.btn+.btn-quizoption {
	cursor: default;
}
.preview .btn-group>.btn+.btn-quizoption:hover {
	color: red;
	cursor: default;
}
.preview .btn-group>.btn{
  padding-left: 27px;
}

.bs-docs-sidebar{
  padding: 0;
}

.well {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    padding: 20px;
}

div.preview span.pull-left.optionLabel.ng-binding,
div.preview span.pull-left.optionBody.ng-binding > p{
  color: #666 !important;
  background-color: #fff !important;
  font-size: 1em;
  font-weight: lighter;
}

div.modal-footer.ng-scope > button.btn.btn-orange-big.btn-delete{
  padding: 11px 24px;
  width: 32%;

}
.well p {
	line-height: 2.2em;
}
.i-understand {
	padding-top: 5px;
}

body .i-understand a,
body .i-understand a:visited {

}

body .i-understand a:hover {

}
.i-understand button {
	font-size: 14px;
	cursor: pointer;
	outline: none;
	border: 0;
	padding: 0;
	background-color: #f5f5f5;
}
.i-understand a .fa,
.i-understand a:visited .fa,
.i-understand button .fa {
	font-size: 26px;
	color: #e1e1e1;
	line-height: 1em;
	padding: 0;
}

.i-understand a:hover .fa,
.i-understand button:hover .fa {
	font-size: 26px;
	color: #28a9e0;
	line-height: 1em;
	padding: 0;
}
.i-understand-copy {
	font-weight: bold;
	display: inline-block;
	padding-left: 4px;
	padding-top: 3px;
	vertical-align: top;
	color: #839599;
}
body .nasba-text a,
body .nasba-text a:visited {
    color: #7f7f7f;
}
body .nasba-text a:hover,
body .nasba-text a:hover i {
    color: #28a9e0;
}

.question-note {
	padding-left: 0px;
	margin-top: 20px;
	margin-right: 40px;
}


