<div class="well " data-ng-hide="browserOk" style="margin-top:40px">
	<div data-ng-show="deviceType == 'computer'">
		<p class="lead text-left"><i class="fa fa fa-warning fa fa-3x pull-left"></i> You are using an old browser that may experience some issues with this quiz. <br>Google Chrome is recommended for the best experience.</p>
		<!--
		<p class="pull-left">If you are using Google Chrome, you may require an update.</p>-->
		<div class="clearfix">
			 <a class="btn btn-primary pull-right" href="https://www.google.com/intl/en/chrome/browser/" target="_blank">Upgrade to Google Chrome for free <i class="fa fa fa-arrow-circle-right"></i> </a>
		 </div>
	</div>
	<div data-ng-show="deviceType == 'phone' || deviceType == 'tablet'">
		<p class="lead text-left"><i class="fa fa fa-warning fa fa-3x pull-left"></i>For the best experience, please use a desktop browser. Some features may not perform as expected on mobile devices, but we are always upgrading.</p>
	</div>
</div>
