/* Put your CSS here */
html, body {
    margin: 20px;
    padding-bottom:50px;
}
.navbar-fixed-top {
	border-bottom:2px solid #000;
		/*-webkit-box-shadow: 0px 3px 12px rgba(20, 20, 20, 0.8);
-moz-box-shadow:    0px 3px 14px rgba(20, 20, 20, 0.8);
box-shadow:         0px 3px 14px rgba(20, 20, 20, 0.8);
*/
}

.copyright {
	display: block;
	font-size: 11px;
	color: #000;
	text-align: center;
	width: 100%;
	float: left;
}

.black-footer .copyright {
	color: #fff;
}

#logo {
	display:block;
	width:203px;
	max-width:203px;
	height:61px;
	margin:5px 0;
}
label.lead {
	margin-right:60px;
	line-height:42px;
	margin-bottom: 0px;
}
#pick-section-nav .btn {
	font-size: 15px;
}

#quiz-pick-topics-container .col-md-6 {
	/*margin-left:20px;*/
}
.btn-check {
	text-align: left;
	padding-left: 1em;
	margin-left:1em;
}
#quiz-pick-topics-container {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 1;
/*	-moz-column-count: 2;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    column-count: 2;
    column-gap: 10px;
    column-fill: auto;*/
	width: 970px;
	margin: auto;
}
#quiz-pick-topics-container p {
	margin-left: 20px;
}

.pin { 
	/*-moz-column-break-inside: avoid; 
	-webkit-column-break-inside: avoid; 
	column-break-inside: avoid; */
	display: block; 
	width:460px;
	margin: 0px 2px 0px;
/*
	margin: 0 2px 15px; 
	padding: 15px; 
*/
	border: 1px solid transparent; 
	border-radius:13px;
	/*box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4); 
	background: #FEFEFE; 
	background-image: linear-gradient(45deg, #FFF, #F9F9F9); */
	position: relative !important;
	top: auto !important;
	left: auto !important;
	float:left;
	min-height: 75px;
}
.quiz-topic {
	margin: 0px;
}

.pin h3 a, .pin h3 a:link {
	color:#fff;
	cursor: pointer;
}

.pin h3 a:hover , .pin h3 a:hover {
	color:#A1FF00;
	text-decoration: none;
}
.pin h3 a.active {

	color:#A1FF00;/*#3EC926;/*#C97D3A;*/
}

/*
.pin .btn-group:after, .pin .btn-group:before {
    content: " "; 
    display: table; 
}
*/
.pin .btn-group{
   white-space: normal;
}

.btn-check {
	overflow:hidden;
	font-size:12px !important;
}
.nav .btn.btn-default {
	background-image:none;
	background-color:transparent;
	border:none;
	box-shadow:none;
}
.btn.btn-default:hover {
	color:#5CD1FF;
	text-shadow: 1px 1px 7px #74D200;
}

.btn.btn-default {
	color: #fff;
}

.btn.btn-default.active {
	background-color:transparent !important;
	border:1px solid transparent !important;
	box-shadow:none !important;
	font-weight: 450;
	color:#A1FF00;/*#3EC926;/*#C97D3A;*/
}

.btn.btn-default.btn-check.btn-topic-previnclude {
	color:#aeaeae;
}
.btn.btn-default.btn-check.btn-topic-previnclude i.fa{
	color:#5CD1FF;
	text-shadow: 1px 1px 7px #74D200;
}

.btn.btn-quizoption {
	color: #000;
	background-image:none;
	background-color:transparent;
	border:none;
	white-space: normal;
	height:auto;
	text-align: left;
	display:block;
	width:100%;
	margin-bottom:3px;
	box-shadow: none;
}
.btn.btn-quizoption:hover {
 	background-color: #e0e0e0;
    background-image: linear-gradient(bottom, #5BC0DE, #2F96B4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #202020;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 3px 3px 3px 3px;
}
.btn.btn-quizoption.active {
	background-color: #006DCC;
    background-image: linear-gradient(bottom, #0088CC, #0044CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-radius: 3px 3px 3px 3px;
}

.navbar .container .NextButton, .ActionButton {
	background-image:none;
	background-color:#A1FF00 !important;
	border-radius:8px;
	color:#1d1d1d;
	/*border:none;
	
	font-size:18px;
	padding:8px 12px 10px;
	margin-top:10px;
	font-family:inherit;
	font-weight:200;
	text-rendering: optimizelegibility;
	border:2px solid #444;*/

	}

.btn.ActionButton {
	color: #000;
	margin: 6px;
	display:block;
	width:190px;
	text-align: left;
}

.btn.ActionButton:hover {
	color: #000;
}

.ActionButton span {
float:left;
	}
.ActionButton i {
float:right;
	}
.navbar .container .NextButton i, .ActionButton i {
	margin-top:1px;
	margin-left:14px;

}
.navbar .container .NextButton:hover, .ActionButton:hover {
	background-color:#5CD1FF !important;
	background-image:none;
}

.navbar-fixed-bottom.roger {
	border-top:2px solid #ADD90E;
	-webkit-box-shadow: 0px -3px 12px rgba(20, 20, 20, 0.8);
	-moz-box-shadow: 0px -3px 14px rgba(20, 20, 20, 0.8);
	box-shadow: 0px -3px 14px rgba(20, 20, 20, 0.8);
}

.endQuizSolo {
	width:126px;
}
.lead.text-muted {

}
h3.lead.small {
	padding-left:2px;
	margin-bottom:0px;
	font-size: 18px;
}
h3.lead.small i {
	margin-top:6px;
}
.well.btn-default {
	border-radius:9px;
	border:1px solid #000;
}
.pin-container {
	display:block;
	width:931px;
	position:relative;
}
.pin-column {
	float:left;
	width: 50%;
}
.btn-group.btn-group-question-type {
	margin-top:7px;
}
.question-number {
	display:inline-block;
	width:18px;
	font-weight: bold;
	vertical-align: top;
	/*margin-top:1px;*/
}
.tbs-journal-container  span .question-number {
	position:relative;
	left:0;
	top:0;
}
.question-text {
	display:inline-block;
	width:677px;
	margin-bottom: 20px;
}
.question-text p {
	margin:0 0 0 0;
}
.optionLabel {
	font-size:18px;
	line-height:18px;
	font-weight: 630;
/*
	display:block;
*/
	float:left;
	width:30px;
}
.optionBody{
/*
	display:block;
*/
	float:left;
	width:640px;
}
.optionBody p {
	margin:0 0 0;
	line-height: 18px;
}
.q-tools button {
	margin-bottom:3px;
	display:block;
	width:125px;
}

.q-right-tools {
	position: fixed;
	right: 50%;
	margin-right: -475px;
	padding-bottom: 15px;
	width:125px;
	top: 250px;
}

.subfooter .q-right-tools {
	width:140px;
	margin-right:-385px;
	right: 50%;
	top: auto;
	bottom: 45px;
}

.q-right-tools label {
	    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
.qlist-container {
	display: inline-block;
	position: relative;
	margin:auto;
}
.questionflagbar {
	display:block;
	width:16px;
	height:0px;
	float:left;
	margin-top: -12px;
	margin-bottom: 60px;
	
}
.questionflagbar-inner {
	height:33px;
	display:block;
	width:18px;
	float:left;
	line-height: 12px;
	border:1px solid #ccc;
}
.questionflagbar-inner.current {
	border:1px solid #597B7F;
	background-color:#90F3FF;
}
.questionflagbar-inner.btn-danger button {
	color:#fefefe;
}
.questionflagbar-inner .btn.btn-link {
	width:16px;
	padding:0 0;
	margin:0 0 0;
	line-height: 10px;
}

.row.subfooter {
	margin-top:300px;
	width:100%;
}
/*
.question-topic-nav {
	margin-left:40px;
}
*/
.question-topic-nav ul li i {
	display:inline-block;
	vertical-align: top;
	margin-top: 6px;
}
.question-topic-nav ul li a {
	display:inline-block;
	width:416px;
	margin-top:3px;
}

.container.quiznav {
	background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
	text-align: center;
}

.quiznav .container .row {
	background-color: transparent;
}

.navbar-fixed-bottom .container.quiznav,
.navbar-fixed-bottom .container.quiznav .container,
.navbar-fixed-bottom .container.quiznav .container .row,
 {
	border:none;
	

	background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
}
#noteInput {
	resize: none;

	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:14px;
	width: 665px;
	height:40px;
	background-color: #fff;
	border:2px solid #101010;
	margin-top:12px;


	-moz-transition: height 0.4s, border 0.4s, -moz-transform 0.4s;
    -webkit-transition: height 0.4s, border 0.4s, background-color 0.4s, -webkit-transform  0.4s;
    -o-transition:width 0.4s, height 0.4s, background-color 0.4s, -o-transform 0.4s;
    transition:width 0.4s, height 0.4s, background-color 0.4s, -o-transform 0.4s;
}
#noteInput.noteFocus {
	height:120px;
	border:2px solid #696969;

}
.button-flag-next {
	background: transparent url("../img/icons/arrow-right.png") 0 0 no-repeat;
	cursor:pointer;
	outline: none;
	display:inline-block;
	width:51px;
	height:33px;
	border:none;
		margin-top:10px;
}

.button-flag-next-disabled,
.button-flag-prev-disabled {
	opacity: 0.4;
	-moz-opacity: 0.4;

	  /* IE 8 */
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";

	  /* IE 5-7 */
	  filter: alpha(opacity=40);

	  /* Safari 1.x */
	  -khtml-opacity: 0.4;
}

.button-flag-prev {
	background: transparent url("../img/icons/arrow-left.png") 0 0 no-repeat;
	cursor:pointer;
	outline: none;
	display:inline-block;
	width:51px;
	height:33px;
	border:none;
	margin-top:10px;
}

.roger-checkbox {
	    width: 13px;
    height: 13px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}
.popover-content p {
	line-height:18px;
}

form {
  margin:0px 0px 0px 0px;
}
.modal {
	/*width: 850px;*/

  border:none;
  border-radius: 6px 6px 6px 6px;
  
  
}
.modal-header {
  border-radius: 6px 6px 0 0;
  position:relative;
  top:-1px;
}


.q-right-tools .btn.nextbtn {
	background:transparent url("../img/icons/next-question.png") 0 0 no-repeat;
	display:block;
	width:121px;
	height:28px;
	border:none;
}
.q-right-tools .btn.nextbtn:focus, .q-right-tools .btn.nextbtn:down {
	outline:none;
}
#timerchart {
	background-image: url('../img/timerbackground.png');
	width: 79px;
	height: 79px;
	padding: 3px;
	position: relative;
	margin-bottom: 10px;
	float: left;
	border:none;
	/*
	width:80px;
	height:80px;
	background-color:transparent;*/
}
.timerControlContainer {
/*
	float:left;
	width:1px;height:1px;
*/
	position: absolute;
	top: 8px;
	left: 6px;
	z-index: 10;
}
a.timerControl {
	position:relative;
	left: 36px;
	top: 17px;
	cursor:pointer;
	color:#2560ac;
}
.blastShield {
	background-color:#222;
	width:100%;
	height:100%;
	position:fixed;
	top:0; left:0;
	text-align: center;
	z-index:5500;
}
.blastShield a {
	/*	
	margin: 200px auto;
	*/
	left:50%;
	margin-left:-22px;
	top:50%;
	margin-top:-26px;
	color: #fff;
	cursor: pointer;
	position: fixed;
}
.widgetQuestion-gridContainer .ui-widget table.wijmo-wijgrid-table thead {
	display:none;
}
button, button:hover, button:focus {
	outline:none !important;
}
.option-letter {
	font-weight: 700;
	margin-right:8px;
}
.tbs-journal-container .wijmo-wijgrid-innercell .btn.answerlink {
	white-space: nowrap;
}
.tbs-journal-container .wijmo-wijgrid-innercell .btn.btn-info{
	background-image: none;
	cursor: pointer;
	color: #fff;
	
	background-color: #7f9293;
	border-color: #74898a;
}
.tbs-journal-container .wijmo-wijgrid-innercell .btn.btn-answered{
	color: #ffffff;
	background-color: #339213;
	background-image: none;
	cursor: pointer;
}
.tbs-journal-container .wijmo-wijgrid-innercell .btn.btn-answered-wrong{
color: #ffffff;
background-color: #ff0039;
background-image: none;
	cursor: pointer;
}
.tbs-journal-container .wijmo-wijgrid-innercell .btn.btn-unanswered {
background-color: #ff7518;
color:#fff;
background-image: none;
	cursor: pointer;
}
/*
.instructions ul {
	list-style-type: circle;
}
*/
.wijmo-wijrating-reset {
	display:none;
}
.wijmo-wijrating {
	float:right;
}
.master-solution {
	font-size:smaller;
	font-family:Times Roman, serif;
	color:#303030;
}
.master-solution p {
/*
	margin:0 0 0;
-webkit-margin-before: 0em;
-webkit-margin-after: 0em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
*/
	display: block;
}
.modal.modal-wc-assess {
	margin: auto;
	width:600px;
/*
	margin-left:-300px;
*/
}
.modal.modal-wc-assess .alert.alert-inverse {
	color: #ffffff;
	background-color: #2a9fd6;
}
.modal.modal-wc-assess .score {
	text-align: center;
	padding-left:40px;
}
.modal.modal-wc-assess .score h2 {
	font-weight: 400;
	color:#333;
	font-size:26px;
}
.modal.modal-wc-assess .score p {
	text-align: left;
	padding:0 15px 0 40px;
	font-size:11px;
	line-height: 11px;
	}
.modal.modal-calc {
	width:660px;
	overflow:hidden;
}
.modal.modal-calc .modal-dialog {
	width: 642px;
}
.modal.modal-calc:focus {
	opacity:1;
}
.modal-calc .modal-header {
	border-bottom:none;
	padding:0;
	height:30px;
	background-color:#fcf8e3;
	color:#c09853;
}
.modal-calc .modal-body {
	padding:0;
}
.modal-calc .modal-footer {
	border-top:none;
	background-color:#fff;
	padding:0;
}
#digital-timer {
	font-size:28px;
	color:#333;
	font-weight: 400;
	position: relative;
	top: 17px;
	margin-left:20px;
	color:#2560ac;
}
.research-badge {
	padding:2px 5px 25px;
	line-height: 25px;
}

.quiz-setup-step {
	width: 983px;
	margin: auto;
	color: #fff;
	margin-top:0px;
	border-radius: 9px;
	border: 1px solid #000;
/*	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);*/
	background-color: #363636;
	background-image: -moz-linear-gradient(top,#444,#222);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#444),to(#222));
	background-image: -webkit-linear-gradient(top,#444,#222);
	background-image: -o-linear-gradient(top,#444,#222);
	background-image: linear-gradient(to bottom,#444,#222);
	background-repeat: repeat-x;
	border-color: #222 #222 #000;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff444444',endColorstr='#ff222222',GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

}


.bs-docs-sidenav {
	width: 228px;
	margin: 0px 0 0;
	padding: 0;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
	box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
	display: block;
	width: 190px \9;
	margin: 0 0 -1px;
	padding: 8px 14px;
	border: 1px solid #e5e5e5;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #0088cc;
	text-decoration: none;
	cursor: pointer;
}

.bs-docs-sidenav > li:first-child > a {
	-webkit-border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav .fa.fa-chevron-right {
	float: right;
	margin-top: 11px;
	margin-right: 6px;
	opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
background-color: #f5f5f5;
text-decoration: none;
}
.bs-docs-sidenav > li:last-child > a {
-webkit-border-radius: 0 0 6px 6px;
-moz-border-radius: 0 0 6px 6px;
border-radius: 0 0 6px 6px;
}
.scrollspy-instructions {
  height: 100%;
  overflow: auto;
}
.nav-list a.active, .nav-list a.active:hover, .nav-list a.active:focus {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
background-color: #0088cc;
}
.nav-list a.active i.fa.fa-chevron-right {
	background-image: url("../img/glyphicons-halflings-white.png") !important;
	opacity:1 !important;
}
#scrollspy-instructions h1.lead {
	margin-bottom:0px;
}
.question-header-well {
	z-index: 3;
	left: 50%;
	margin-left: -485px;
	width: 970px;
min-height: 20px;
padding: 10px 10px 0 10px;
margin-bottom: 13px;
background-color: #f5f5f5;
border: 1px solid #e3e3e3;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
.widgetQuestion-gridContainer {
	padding-bottom:80px;
}
.questionflagbar-inner.text-center.btn-danger .popover{
	color:#212121;
}
.research-input-container {
	
	text-align: left;
	margin:auto;
	display:block;
	width: 400px;
	padding:20px 0;
}
.research-input-container .researchMask{
	width: 65px;
}
.research-solution-correct p:first {
	display:inline;
}
.score-diagnostic {
	position:fixed;
	display:block;
	left:3px;
	top:130px;
	width:240px;
	font-size:9px;
	line-height: 10px;
	background-color:#000;
	color:#0fc;
	padding: 10px 0;
	max-height:450px;
	overflow-y:scroll;
	z-index:10000;
}
.score-diagnostic .oddScore {
	color:#1d9;
}
.lead .label.label-default {
	font-size:21px;
	line-height:30px;
	border-radius:10px;
}

.introvideo {
	height: 100%;
	background-color: #000;
	text-align: center;
	padding-top: 26%;
}

.modal.modal-video.in {
	margin: auto;
	top:5%;
	width:940px;
	height:580px;
	padding:10px;
/*	margin-left:-480px;
*/
	border:none;
}
.modal.modal-video .modal-dialog {
	margin: auto;
	width: 920px;
}
.modal.modal-video .modal-content {
	width: 100%;
	height: 100%;
}

.modal.modal-video .modal-header {
	height:0;
	border:none;
}
.modal.modal-video .modal-footer {
	height:0;
	border:none;
}
.modal.modal-video .modal-body {
	padding:0;
	height:520px;
	max-height: 570px;
}
.score-history h3 a {
	cursor:pointer;
}
.score-history h3 a:hover {
	text-decoration:none;
	}

input.no-vert-padding {
	padding-top: 0px;
	padding-bottom: 0px;
}

.browser-check-alert .alert {
	line-height: 17px;
	margin-top: 3px;
	text-align: center;
}

.show-timer-checkbox {
	visibility: hidden;
	margin-top: 28px;
	margin-left: 15px;
	color: #999;
}

.timer-box:hover .show-timer-checkbox {
	visibility: visible;
}

.show-timer-checkbox input {
	margin-right: 7px;
	margin-top: -2px;
}

.timer-box {
	min-height: 87px;
}
.navbar-fixed-top.navbar .container {
	background-color: #000;
}

.modal .modal-footer .btn.btn-default,
.inverse,
.inverse:hover,
.inverse:focus  {
	background-color: #363636;
	background-image: linear-gradient(to bottom, #444444, #222222);
	background-repeat: repeat-x;
	color: #fff;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.25);
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.well.inverse {
	border-radius: 9px;
}

.btn.inverse {
	box-shadow: 0px 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}


.btn-toolbar {
	padding: 11px;
}

.btn.btn-silver {
	color: #000;
	background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

#setupcontainer {
	padding-top: 80px;
	width: 970px;
	margin: auto;
}

#setupcontainer .alert-container {
	width: 970px;
	margin: auto;
}

.pick-category {
	margin: auto;
	width: 550px;
}

.quiz-setup-step .number-selector {
	min-width: 115px;
}

#question {
	width: 940px;
	margin: auto;
}

#question .top-links {
	width: 970px;
	left: 50%;
	margin-left: -485px;
}

.question-box {
	margin: auto;
	width: 770px;
	margin-left: 0px;
	z-index: 0;
}

.question-box .btn-group-vertical {
	margin-left: 55px;
	width: 715px;
}

.modal {
	margin: 30px auto;
}

.modal .modal-dialog {
	margin: auto;
}

.quiz-chapter .fa-plus, .quiz-chapter .fa-minus {
	font-size: 14px;
}

.quiz-chapter .fa-square, .quiz-chapter .fa-check-square {
	font-size: 14px;
}
